<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="format-detection" content="telephone=no;email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>沿途巴士停靠点</title>
    <link href="/css/collection.scss?__inline" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="top_banner">
    <img src="/images/top_banner@3x.png" alt="banner"/>
</div>
<div class="content">
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title catering">
            吃在九寨—藏味风情，川味香辣
        </div>
        <div class="collection_desc">
            <p>
                正所谓“食在中国，味在四川”，小简知道很多来成都旅行的朋友，吃是被放在第一位的，美食之都当然不是说说而已。那来到了九寨，美食同样也必不可少。在九寨的好处就是，你不仅能够深刻感受到川味的香辣，更能体会到藏味的风情韵味。感受一下藏族同胞们精心烹制的美食，无论怎样选择都是一种享受，你觉得呢？
            </p>
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <p>
                        九寨有很多的藏族朋友开的餐馆，小简为大家选择了一家装修更具风情，口味更适合我们的一家，阿布氇孜。必须提到的一句，阿布氇孜是九寨两家入选《孤独星球》的必吃餐厅之一哦~在阿布氇孜，所有的菜都是老板自创的哦。
                    </p>
                    <img src="/images/jzg_collection_001.png" alt=""/>
                    <div class="ticket">
                        <div class="left">
                            <div class="title">九寨沟风景区门票＋观光车</div>
                            <div class="detail">
                                <span class="sc-price">
                                    <span class="lable">市场价</span>
                                    <span>150</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>30</span>
                                </span>
                            </div>
                        </div>
                        <a href="#" class="right">立即抢购</a>
                    </div>
                    <p>
                        除了正餐，九寨也有非常多的藏民的小吃，完全可以满足各种吃货的欲望。首先就是九寨的特色牦牛肉了，牦牛肉是藏区非常常见的一种食物了，既有牦牛肉干，也有卤牦牛肉。
                    </p>
                </div>
            </div>
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <p>
                        九寨有很多的藏族朋友开的餐馆，小简为大家选择了一家装修更具风情，口味更适合我们的一家，阿布氇孜。必须提到的一句，阿布氇孜是九寨两家入选《孤独星球》的必吃餐厅之一哦~在阿布氇孜，所有的菜都是老板自创的哦。
                    </p>
                    <img src="/images/jzg_collection_001.png" alt=""/>
                    <div class="ticket no-mb">
                        <div class="left">
                            <div class="title">阿布鲁孜藏餐厅2人藏餐</div>
                            <div class="detail">
                                <span class="sc-price">
                                    <span class="lable">市场价</span>
                                    <span>150</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>30</span>
                                </span>
                            </div>
                        </div>
                        <a href="#" class="right">立即抢购</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title hotel">
            住在九寨-天堂咫尺，美景尽收
        </div>
        <div class="collection_desc">
            <p>
                玩了一整天，是不是觉得有些疲惫了呢？找一个舒服干净的酒店吧！
            </p>
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <p>
                        九寨有很多的藏族朋友开的餐馆，小简为大家选择了一家装修更具风情，口味更适合我们的一家，阿布氇孜。必须提到的一句，阿布氇孜是九寨两家入选《孤独星球》的必吃餐厅之一哦~在阿布氇孜，所有的菜都是老板自创的哦。
                    </p>
                    <img src="/images/jzg_collection_001.png" alt=""/>
                    <div class="ticket">
                        <div class="left">
                            <div class="title">九寨沟风景区门票＋观光车</div>
                            <div class="detail">
                                <span class="sc-price">
                                    <span class="lable">市场价</span>
                                    <span>150</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>30</span>
                                </span>
                            </div>
                        </div>
                        <a href="#" class="right">立即抢购</a>
                    </div>
                    <p>
                        另外一家小简想要推荐的相对高档的酒店就是九寨天源豪生酒店了，传说中的未挂五星的五星酒店，环境设施都很崭新，酒店距离沟口距离十分钟车程，酒店旁边就是九寨宋城千古情，晚上回来可以走着去看看演出，对于青睐优质住宿环境的朋友们来说，天源豪生是个不错的选择哦~
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="collection">
        <!--catering|hotel|entertainment-->
        <div class="collection_title entertainment">
            玩在九寨-星空温泉 千古情牵
        </div>
        <div class="collection_desc">
            <p>
                玩了一整天，是不是觉得有些疲惫了呢？找一个舒服干净的酒店吧！
            </p>
            <div class="recommend">
                <div class="titleLine">
                    <span class="redline"></span>
                    <span class="text">推荐</span>
                    <span class="redline"></span>
                </div>
                <div class="recommend_content">
                    <p>
                        九寨有很多的藏族朋友开的餐馆，小简为大家选择了一家装修更具风情，口味更适合我们的一家，阿布氇孜。必须提到的一句，阿布氇孜是九寨两家入选《孤独星球》的必吃餐厅之一哦~在阿布氇孜，所有的菜都是老板自创的哦。
                    </p>
                    <img src="/images/jzg_collection_001.png" alt=""/>
                    <div class="ticket no-mb">
                        <div class="left">
                            <div class="title">九寨沟风景区门票＋观光车</div>
                            <div class="detail">
                                <span class="sc-price">
                                    <span class="lable">市场价</span>
                                    <span>150</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>30</span>
                                </span>
                            </div>
                        </div>
                        <a href="#" class="right">立即抢购</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom_banner">
    <img src="/images/bottom_banner@3x.png" alt="banner"/>
</div>
<footer>
    <a href="#">去查看全部九寨沟攻略</a>
</footer>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    //
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>