<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="format-detection" content="telephone=no;email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>九寨沟攻略</title>
    <link href="/css/home.scss?__inline" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="headerImg">
    <img src="images/headerImg_jzg@3x.png" alt="headerImg"/>
</div>
<div class="navItems">
    <ul>
        <li>
            <a herf="">
                <span class="bus icon"></span>
                <span class="center">巴士上车点</span>
                <span class="arrow"></span>
            </a>
        </li>
        <li>
            <a herf="">
                <span class="weather icon"></span>
                <span class="center">目的地天气</span>
                <span class="arrow"></span>
            </a>
        </li>
        <li>
            <a herf="">
                <span class="stop icon"></span>
                <span class="center">沿途巴士停靠点</span>
                <span class="arrow"></span>
            </a>
        </li>
        <li>
            <a herf="">
                <span class="play icon"></span>
                <span class="center">九寨沟景区玩法</span>
                <span class="arrow"></span>
            </a>
        </li>
        <li>
            <a herf="">
                <span class="collection icon"></span>
                <span class="center">小简为你采集吃住娱</span>
                <span class="arrow"></span>
            </a>
        </li>
        <li>
            <a herf="">
                <span class="tips icon"></span>
                <span class="center">旅行小贴士</span>
                <span class="arrow"></span>
            </a>
        </li>
        <li>
            <a herf="" class="last">
                <span class="voice icon"></span>
                <span class="center">目的地语音导览</span>
                <span class="arrow"></span>
            </a>
        </li>
    </ul>
</div>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    //
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>