<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="format-detection" content="telephone=no;email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>沿途巴士停靠点</title>
    <link href="/css/play.scss?__inline" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="top_banner">
    <img src="/images/top_banner@3x.png" alt="banner"/>
</div>
<div class="content">
    <div class="play">
        <!--ticket|spot|location-->
        <div class="play_title ticket">
            门票详情
        </div>
        <div class="play_desc">
            <div class="product_ticket first">
                <div class="product_name">九寨沟门票：</div>
                <div class="low_season">
                    <span class="label">旺季（4月1日-11月15日）</span>
                    <span class="price">220.00元</span>
                </div>
                <div class="busy_season">
                    <span class="label">淡季（11月16日-次年3月31日）</span>
                    <span class="price">80.00元</span>
                </div>
            </div>
            <div class="product_ticket">
                <div class="product_name">观光车票：</div>
                <div class="low_season">
                    <span class="label">旺季（4月1日-11月15日）</span>
                    <span class="price">220.00元</span>
                </div>
                <div class="busy_season">
                    <span class="label">淡季（11月16日-次年3月31日）</span>
                    <span class="price">80.00元</span>
                </div>
            </div>
            <div class="ticket">
                <div class="left">
                    <div class="title">九寨沟风景区门票＋观光车</div>
                    <div class="detail">
                                <span class="sc-price">
                                    <span class="lable">市场价</span>
                                    <span>150</span>
                                </span>
                                <span class="jg-price">
                                    <span class="label">抢购价</span>
                                    <span>30</span>
                                </span>
                    </div>
                </div>
                <a href="#" class="right">立即抢购</a>
            </div>
        </div>
    </div>
    <div class="play">
        <!--ticket|spot|location-->
        <div class="play_title spot">
            景点介绍
        </div>
        <div class="play_desc">
            <img class="map" src="/images/jzg_play_map.png" alt="map"/>
            <div class="text_content">
                <p>
                    山明水秀，郁郁葱葱，九寨归来不看水的俗语一直流传至今。来一趟九寨，看尽了美景，净化了心境，再尝一尝九寨美食，岂不乐哉美哉？
                </p>

                <p>
                    九寨沟关键词：各种海，各种沟，各种瀑布（总之就是九寨的水最美），寺庙，原始森林，温泉</p>

                <p>
                    是不是在各种眼花缭乱的景点推荐里患上了选择困难症？</br>
                    别急，待小简来给你慢慢整理游览九寨的各种路线，让你放心更省心！</p>

                <p class="last">
                    我们从图中可以看出，九寨沟的地形呈Y字型，所以目前九寨已经开通的三条主要旅游路线也是根据这个形状来安排的，三条路线分别为树正沟风景线、日则沟风景线、则查洼沟风景线。
                </p>
            </div>
        </div>
    </div>
    <div class="play">
        <!--ticket|spot|location-->
        <div class="play_title location">
            树正沟
        </div>
        <div class="play_desc">
           <div class="text_desc">
               树正沟处于九寨沟风景区“Y”型布局的下支（左支为则查洼沟，右支为日则沟）。从沟口起到诺日朗瀑布，全长约14公里，共有各种湖泊（海子）40余个，约占九寨沟景区全部湖泊的40%。
           </div>
            <div class="img_desc">
                <img src="/images/jzg_play_001.png" alt=""/>
            </div>
        </div>
    </div>

    <div class="play">
        <!--ticket|spot|location-->
        <div class="play_title location">
            日则沟
        </div>
        <div class="play_desc">
            <div class="text_desc">
                日则沟处于九寨沟风景区“Y”型布局的右支，从诺日朗瀑布到原始森林，全长18公里，是九寨沟的精华部分。风光绝美，变化多端。
            </div>
            <div class="img_desc">
                <img src="/images/jzg_play_001.png" alt=""/>
            </div>
        </div>
    </div>
    <div class="recommend">
        <div class="re_title">小简必去景点推荐</div>
        <div class="re_content">
            <div class="play">
                <!--ticket|spot|location-->
                <div class="play_title location">
                    五花海
                </div>
                <div class="play_desc">
                    <div class="text_desc">
                        日则沟处于九寨沟风景区“Y”型布局的右支，从诺日朗瀑布到原始森林，全长18公里，是九寨沟的精华部分。风光绝美，变化多端。
                    </div>
                    <div class="img_desc">
                        <img src="/images/jzg_play_001.png" alt=""/>
                    </div>
                </div>
            </div>
            <div class="play">
                <!--ticket|spot|location-->
                <div class="play_title location">
                    日则沟
                </div>
                <div class="play_desc">
                    <div class="text_desc">
                        日则沟处于九寨沟风景区“Y”型布局的右支，从诺日朗瀑布到原始森林，全长18公里，是九寨沟的精华部分。风光绝美，变化多端。
                    </div>
                    <div class="img_desc">
                        <img src="/images/jzg_play_001.png" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom_banner">
    <img src="/images/bottom_banner@3x.png" alt="banner"/>
</div>
<footer>
    <a href="#">去查看全部九寨沟攻略</a>
</footer>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    //
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>