<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="format-detection" content="telephone=no;email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>目的地天气</title>
    <link href="/css/weather.scss?__inline" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="top_banner">
    <img src="/images/top_banner@3x.png" alt="banner"/>
</div>
<div class="content">
    <div class="weather">
        <div class="weather_date">
            <span class="date">2016.06.05</span>
            <span class="day">今天</span>
        </div>
        <!--sunny|cloudy|rain|snow|fog|hail|thundershower-->
        <div class="weather_card sunny">
            <div class="up">
                <span class="centigrade">18</span>
            </div>
            <div class="down">
                <span class="wind">北风5级转12级</span>
                <span class="weatherName">晴</span>
            </div>
        </div>
    </div>
    <div class="weather">
        <div class="weather_date">
            <span class="date">2016.06.05</span>
            <span class="day">今天</span>
        </div>
        <!--sunny|cloudy|rain|snow|fog|hail|thundershower-->
        <div class="weather_card cloudy">
            <div class="up">
                <span class="centigrade">18</span>
            </div>
            <div class="down">
                <span class="wind">北风5级转12级</span>
                <span class="weatherName">阴</span>
            </div>
        </div>
    </div>
    <div class="weather">
        <div class="weather_date">
            <span class="date">2016.06.05</span>
            <span class="day">今天</span>
        </div>
        <!--sunny|cloudy|rain|snow|fog|hail|thundershower-->
        <div class="weather_card rain">
            <div class="up">
                <span class="centigrade">18</span>
            </div>
            <div class="down">
                <span class="wind">北风5级转12级</span>
                <span class="weatherName">雨</span>
            </div>
        </div>
    </div>
    <div class="weather">
        <div class="weather_date">
            <span class="date">2016.06.05</span>
            <span class="day">今天</span>
        </div>
        <!--sunny|cloudy|rain|snow|fog|hail|thundershower-->
        <div class="weather_card snow">
            <div class="up">
                <span class="centigrade">18</span>
            </div>
            <div class="down">
                <span class="wind">北风5级转12级</span>
                <span class="weatherName">雪</span>
            </div>
        </div>
    </div>
    <div class="weather">
        <div class="weather_date">
            <span class="date">2016.06.05</span>
            <span class="day">今天</span>
        </div>
        <!--sunny|cloudy|rain|snow|fog|hail|thundershower-->
        <div class="weather_card fog">
            <div class="up">
                <span class="centigrade">18</span>
            </div>
            <div class="down">
                <span class="wind">北风5级转12级</span>
                <span class="weatherName">雾</span>
            </div>
        </div>
    </div>
    <div class="weather">
        <div class="weather_date">
            <span class="date">2016.06.05</span>
            <span class="day">今天</span>
        </div>
        <!--sunny|cloudy|rain|snow|fog|hail|thundershower-->
        <div class="weather_card hail">
            <div class="up">
                <span class="centigrade">18</span>
            </div>
            <div class="down">
                <span class="wind">北风5级转12级</span>
                <span class="weatherName">冰雹</span>
            </div>
        </div>
    </div>
    <div class="weather">
        <div class="weather_date">
            <span class="date">2016.06.05</span>
            <span class="day">今天</span>
        </div>
        <!--sunny|cloudy|rain|snow|fog|hail|thundershower-->
        <div class="weather_card thundershower">
            <div class="up">
                <span class="centigrade">18</span>
            </div>
            <div class="down">
                <span class="wind">北风5级转12级</span>
                <span class="weatherName">雷阵雨</span>
            </div>
        </div>
    </div>
</div>
<div class="bottom_banner">
    <img src="/images/bottom_banner@3x.png" alt="banner"/>
</div>
<footer>
    <a href="#">去查看全部九寨沟攻略</a>
</footer>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    //
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>