//输入框模块的样式
@mixin displayflex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($size:1){
  -webkit-box-flex:$size;
  -moz-box-flex:$size;
  -webkit-flex:$size;
  -ms-flex:$size;
  flex:$size;
}
@mixin flexflowCol($direction:column,$dir:vertical){
  -webkit-box-orient:$dir;
  -ms-box-orient: $dir;
  -moz-box-orient: $dir;
  -webkit-flex-flow:$direction nowrap;
  -ms-flex-flow:$direction nowrap;
  -moz-flex-flow:$direction nowrap;
  flex-flow:$direction nowrap;
}
@mixin flexflowRow($direction:row,$dir:horizontal) {
  -webkit-box-orient:$dir;
  -ms-box-orient: $dir;
  -moz-box-orient: $dir;
  -webkit-flex-flow:$direction nowrap;
  -ms-flex-flow:$direction nowrap;
  -moz-flex-flow:$direction nowrap;
  flex-flow:$direction nowrap;
}
.input-wrapper {
  padding: 0 rem(26px);
  background-color: #fff;
}
.input-group {
  @include displayflex();
  @include flexflowRow();
  background-color: #fff;
  position: relative;
  height: rem(88px);
  line-height:rem(88px);
  border-bottom: rem(2px) solid #EBEBF5;
  i {
    width: rem(36px);
    height:rem(36px);
    margin-top: rem(26px);
    margin-right: rem(18px);
    &.name {
      background: url(/master-Q3/images/icon/input_name_icon@2x.png) no-repeat center;
      background-size: contain;
    }
    &.mobile {
      background: url(/master-Q3/images/icon/input_mobile_icon@2x.png) no-repeat center;
      background-size: contain;
    }
    &.idType {
      background: url(/master-Q3/images/icon/input_type_icon@2x.png) no-repeat center;
      background-size: contain;
    }
    &.idNo {
      background: url(/master-Q3/images/icon/input_idno_icon@2x.png) no-repeat center;
      background-size: contain;
    }
    &.englishName {
      background: url(/master-Q3/images/icon/english_name@2x.png) no-repeat center;
      background-size: contain;
    }
  }
  input {
    border: none;
    @include flex(1);
    font-size: rem(28px);
    color: #4F545B;
  }
  &:last-child {
    border: 0;
  }
  &.dropdown {
    &:after {
      position: absolute;
      top: rem(28px);
      right: 0;
      display: inline-block;
      content: '';
      width: rem(19px);
      height: rem(32px);
      background: url("/master-Q3/images/icon/right_grey_arrow@2x.png") no-repeat center;
      background-size: contain;
    }
  }
}