@import "base";
.img-viewer-overlay{
  position: absolute;
  z-index:10200;
  left:0;
  top: 0;
  width: 100%;
  height:100%;
  background-color: rgba(0,0,0,.4);
  visibility: hidden;
  opacity: 0;
  -webkit-transition-duration:400ms;
  transition-duration: 400ms;
  &.overlay-visible{
    visibility: visible;
    opacity: 1;
  }
}
.img-viewer{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height:100%;
  z-index:10400;
  background-color: #ffffff;
  box-sizing: border-box;
  display: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
}
.img-viewer-header,.img-viewer-footer{
  position: absolute;
  right: 0;
  left: 0;
  z-index: 10;
  height: 2.2rem;
  padding-right: .5rem;
  padding-left: .5rem;
  box-sizing: border-box;
  background-color: #f7f7f8;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.img-viewer-content{
  position: absolute;
  top:rem(88px);
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  .img-viewer-swiper-container{
    overflow: hidden;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    box-sizing: content-box;
  }
  .img-viewer-swiper-item{
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    box-sizing: border-box;
    img{
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
.img-viewer-header{
  top:0;
  height: rem(88px);
  line-height: rem(88px);
  &:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  .img-viewer-header-text{
    color: #4F545B;
    font-size: rem(32px);
    text-align: center;
  }
  a{
    position: absolute;
    width: rem(20px);
    height: rem(34px);
    left:rem(26px);
    top:rem(27px);
    z-index: 20;
    background: url("/master-Q3/images/icon/left_red_arrow@2x.png") no-repeat;
    background-size: rem(20px);
  }
}