<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q3/css/myCoupon.scss?__inline" media="screen" title="no_title" charset="utf-8">
</head>
<body>
<div class="page-group">
    <div class="page page-current" id="coupon">
        <header>
            <div class="back"></div>
            <div class="center">我的优惠劵</div>
        </header>
        <div class="page-content">
            <div class="coupon-navbar">
                <div class="available selected">
                    未使用
                    <span></span>
                </div>
                <div class="used ">
                    已使用
                    <span></span>
                </div>
                <div class="not-available">
                    已过期
                    <span></span>
                </div>
            </div>
            <div class="coupon-content">
                <div class="available-list current">
                    <div class="coupon-wrapper">
                        <div class="coupon-info">
                            <h5>简途四川三日优惠券</h5>
                            <div class="date">有效期  2015.09.25－2015.09.31</div>
                        </div>
                        <div class="value">
                            <div class="top-circle"></div>
                            <div class="bottom-circle"></div>
                            <div class="price">
                                <span>156</span>
                                <span>元</span>
                            </div>
                            <div class="coupon-type">简途·代金券</div>
                        </div>
                    </div>
                    <div class="coupon-wrapper">
                        <div class="coupon-info">
                            <h5>简途四川三日优惠券</h5>
                            <div class="date">有效期  2015.09.25－2015.09.31</div>
                        </div>
                        <div class="value">
                            <div class="top-circle"></div>
                            <div class="bottom-circle"></div>
                            <div class="price">
                                <span>8.7</span>
                                <span>折</span>
                            </div>
                            <div class="coupon-type">简途·代金券</div>
                        </div>
                    </div>
                    <div class="coupon-wrapper">
                        <div class="coupon-info">
                            <h5>简途四川三日优惠券</h5>
                            <div class="date">有效期  2015.09.25－2015.09.31</div>
                        </div>
                        <div class="value">
                            <div class="top-circle"></div>
                            <div class="bottom-circle"></div>
                            <div class="price"><span>¥</span>156</div>
                            <div class="coupon-type">简途·代金券</div>
                        </div>
                    </div>
                    <div class="coupon-wrapper">
                        <div class="coupon-info">
                            <h5>简途四川三日优惠券</h5>
                            <div class="date">有效期  2015.09.25－2015.09.31</div>
                        </div>
                        <div class="value">
                            <div class="top-circle"></div>
                            <div class="bottom-circle"></div>
                            <div class="price"><span>¥</span>156</div>
                            <div class="coupon-type">简途·代金券</div>
                        </div>
                    </div>
                    <div class="coupon-wrapper">
                        <div class="coupon-info">
                            <h5>简途四川三日优惠券</h5>
                            <div class="date">有效期  2015.09.25－2015.09.31</div>
                        </div>
                        <div class="value">
                            <div class="top-circle"></div>
                            <div class="bottom-circle"></div>
                            <div class="price"><span>¥</span>156</div>
                            <div class="coupon-type">简途·代金券</div>
                        </div>
                    </div>
                    <div class="coupon-wrapper">
                        <div class="coupon-info">
                            <h5>简途四川三日优惠券</h5>
                            <div class="date">有效期  2015.09.25－2015.09.31</div>
                        </div>
                        <div class="value">
                            <div class="top-circle"></div>
                            <div class="bottom-circle"></div>
                            <div class="price"><span>¥</span>156</div>
                            <div class="coupon-type">简途·代金券</div>
                        </div>
                    </div>
                    <div class="coupon-wrapper">
                        <div class="coupon-info">
                            <h5>简途四川三日优惠券</h5>
                            <div class="date">有效期  2015.09.25－2015.09.31</div>
                        </div>
                        <div class="value">
                            <div class="top-circle"></div>
                            <div class="bottom-circle"></div>
                            <div class="price"><span>¥</span>156</div>
                            <div class="coupon-type">简途·代金券</div>
                        </div>
                    </div>
                    <div class="coupon-wrapper">
                        <div class="coupon-info">
                            <h5>简途四川三日优惠券</h5>
                            <div class="date">有效期  2015.09.25－2015.09.31</div>
                        </div>
                        <div class="value">
                            <div class="top-circle"></div>
                            <div class="bottom-circle"></div>
                            <div class="price"><span>¥</span>156</div>
                            <div class="coupon-type">简途·代金券</div>
                        </div>
                    </div>
                    <div class="coupon-wrapper">
                        <div class="coupon-info">
                            <h5>简途四川三日优惠券</h5>
                            <div class="date">有效期  2015.09.25－2015.09.31</div>
                        </div>
                        <div class="value">
                            <div class="top-circle"></div>
                            <div class="bottom-circle"></div>
                            <div class="price"><span>¥</span>156</div>
                            <div class="coupon-type">简途·代金券</div>
                        </div>
                    </div>
                    <div class="no-coupon">
                        <i></i>
                        <p>您还没有未使用的优惠券</p>
                    </div>
                </div>
                <div class="used-list next">
                    <div class="coupon-wrapper">
                        <div class="coupon-info">
                            <h5>简途四川三日优惠券</h5>
                            <div class="date">有效期  2015.09.25－2015.09.31</div>
                        </div>
                        <div class="value">
                            <div class="top-circle"></div>
                            <div class="bottom-circle"></div>
                            <div class="price"><span>¥</span>156</div>
                            <div class="coupon-type">简途·代金券</div>
                        </div>
                        <div class="bottom-icon">
                            <img src="/master-Q3/images/icon/already_used@2x.png" alt="">
                        </div>
                    </div>
                    <div class="no-coupon">
                        <i></i>
                        <p>您还没有已使用的优惠券</p>
                    </div>
                </div>
                <div class="disabled-list next">
                    <div class="coupon-wrapper">
                        <div class="coupon-info">
                            <h5>简途四川三日优惠券</h5>
                            <div class="date">有效期  2015.09.25－2015.09.31</div>
                        </div>
                        <div class="value">
                            <div class="top-circle"></div>
                            <div class="bottom-circle"></div>
                            <div class="price"><span>156</span>¥</div>
                            <div class="coupon-type">简途·代金券</div>
                        </div>
                        <div class="bottom-icon">
                            <img src="/master-Q3/images/icon/overdue@2x.png" alt="">
                        </div>
                    </div>
                    <div class="no-coupon">
                        <i></i>
                        <p>您还没有已过期的优惠券</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        if (!doc.addEventListener) return;
        recalc();
        var a = document.getElementsByTagName('a');
        for(var i = 0; i < a.length; i++){
            a[i].addEventListener('touchstart',function(){},false);
        }
        document.body.style.visibility = 'visible';
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
<script type="text/javascript" src="/static/common/js/zepto.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // 点击返回按钮
        $('header .back').click(function() {
            history.go(-1);
        });
        /* ============================================
         优惠劵页面操作 START
         ============================================== */
        $('.coupon-navbar .available').click(function() {
            $('.coupon-navbar div').removeClass('selected');
            $('.coupon-content .current').removeClass('current');
            $('.coupon-content .next').removeClass('next');
            $('.coupon-content .prev').removeClass('prev');
            $(this).addClass('selected');
            $('.available-list').addClass('current');
            $('.used-list').addClass('next');
            $('.disabled-list').addClass('next');
        });
        $('.coupon-navbar .used').click(function() {
            $('.coupon-navbar div').removeClass('selected');
            $('.coupon-content .current').removeClass('current');
            $('.coupon-content .next').removeClass('next');
            $('.coupon-content .prev').removeClass('prev');
            $(this).addClass('selected');
            $('.available-list').addClass('prev');
            $('.used-list').addClass('current');
            $('.disabled-list').addClass('next');
        });
        $('.coupon-navbar .not-available').click(function() {
            $('.coupon-navbar div').removeClass('selected');
            $('.coupon-content .current').removeClass('current');
            $('.coupon-content .next').removeClass('next');
            $('.coupon-content .prev').removeClass('prev');
            $(this).addClass('selected');
            $('.available-list').addClass('prev');
            $('.used-list').addClass('prev');
            $('.disabled-list').addClass('current');
        });
        /* ============================================
         优惠劵页面操作 END
         ============================================== */
    })
</script>
</body>
</html>
