<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q3/css/term_of_service.scss?__inline">
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header>
            <div class="back"></div>
            <div class="center">旅游产品订购协议</div>
        </header>
        <div class="page-content">
            <div class="content">
                <div><b>特别提示：本协议为您与成都简途旅行社有限公司签订的旅游产品订购协议。在您订购由简途旅行网（网址：http://www.simpletour
                    .com/）为您展示的旅游产品前，请您仔细阅读本协议，并注意本协议及产品页面中的其它条款均为本协议内容。简途旅行网网页页面发布的各旅游产品具体介绍全部内容（包括但不限于巴士旅程、预订须知、预订流程、费用说明，退改规则）均为本协议不可分割部分，当您点击“去支付”简途旅行网任何旅游产品，即表明您已经仔细阅读并接受本协议的所有条款，若您对本协议条款有任何异议，请勿订购简途旅行网任何产品。</b></div>
                <h5>第一条 旅游产品内容及购买要求</h5>
                <div>1、简途旅行网销售的旅游产品包括“车位产品”和“套餐旅游产品”。</div>
                <div><b>车位产品</b>指从出发地到目的地的旅行用车车位。车位产品分为单程车位和往返车位，车位产品具体情况以简途旅行网页面产品为准。
                    <b>套餐旅游产品</b>以车位＋酒店＋门票＋个性化可选服务为核心，套餐旅游产品的搭配多变，具体以简途旅行网页面产品为准。
                </div>
                <div>2、请您认真选择您所采购的旅游产品，您所采购的旅游产品以您在网页点击“立即订购”确认的为准。当您点击旅游产品购买页面“立即预订”按钮前，请你认真仔细阅读你所拟订购的旅游产品具体介绍全部内容（包括但不限于巴士旅程、预订须知、预订流程、费用说明，退改规则），并就相关疑问与在线客户沟通磋商。当您点击“去支付”前，请你认真阅读本协议内容并认真填写旅客信息、联系人信息。当你点击“去支付”即表明您已仔细阅读你所订购旅游产品具体介绍全部内容及本协议内容。</div>
                <div>3、再次重申并请您确认，若您是未满十八周岁的未成年人或其他不具备完全民事行为能力人，请勿购买本网站任何旅游产品。请您注意，若您为未成年人或其他不具备完全民事行为能力的人购买本网站旅游产品，请您予以陪同，并作为监护人一起参加本次旅游，并对未成年人和不具备完全民事行为能力的人的人身安全和财产安全负责。若未成年人或其他不具备完全民事行为能力的人单独购买或单独作为旅客参加购买的旅游产品项目或盗用、借用他人身份证参与本次旅游项目，视为您违约，该旅游产品提供商有权拒绝提供服务而无需退还您任何费用且对该等旅客发生的人身财产安全概不负责。</div>
                <div>4、我们保证有专业的随车工作人员为您服务，且不含任何强制购物和自费项目。</div>
                <div>5、酒店入住登记要求</div>
                <div>登记入住酒店的客人中至少要有1人超过18周岁，即未满18周岁的客人必须由18周岁以上的客人帮其办理酒店入住手续。</div>
                <div>6、旅游产品中约定的产品和服务内容，均为经过简途旅行网严格筛选出的具备相关资质的供应商提供，简途旅行网只对其经营资质的合法性承担责任，不对其在您消费过程中可能涉及的具体产品和服务内容承担任何责任。</div>
                <div>7、您或您在订单中登记的旅客的身份证号码与实际参与旅程的旅客提供的身份证不一致的，简途旅行网或旅游产品供应商拒绝履行相应义务。</div>

                <h5>第二条 旅游产品价格</h5>
                <div>简途旅行网页面展示的产品价格仅为参考价格，由于旅游产品价格的波动性，简途旅行网可能因为车辆、酒店、门票的价格变动而适度调整在简途旅行网上已公布的旅游产品的价格。您预订的所有旅游产品的价格，以最后支付的金额为准。</div>

                <h5>第三条 订单生效</h5>
                <div>您在简途旅行网订购产品并按订单要求付清应付款项时，您确认的订单即生效。但如您未按要求在预订付款期前付清相关费用，而此时简途旅行网为您预留的产品的价格、内容或标准等有发生变化，你需要按变更后的价格支付预订费用，否则简途旅行网有权单方面取消您的订单并对此不成为任何违约责任。 订单生效，即代表您与简途旅行网的合作意向已经达成，你的变更、解除旅游产品等的需求，将按旅游产品介绍页面具体介绍内容和本协议相关条款的约定执行。
                    本协议生效后，您及您订单中登记的旅客应按订单中约定的时间或时间段到达集合地点，且需按确定日期在确定时间入住酒店。如您未准时到达集合地点，旅游产品供应商有权直接发车不予等待。因您未准时达到集合地点或未能按时入住所订酒店或未按旅游产品介绍的内容履行相应义务，您订购该旅游产品已支付的全部费用不予退还且简途旅行网或旅游产品供应商无需承担任何违约责任。
                </div>

                <h5>第四条 您主动更改已生效订单</h5>
                <div>订单生效后，您若需要更改该订单内的任何项目，请务必在旅游产品行程开始前1日通过购买网站提出更改申请。我们会根据旅游产品的剩余情况协调变更。您必须全额承担因变更带来的全部损失及可能增加的费用。若您所预订的产品在目的地停留的日期部分或全部处在国家法定节假日或其它部分国际性、国家性、地方性重大节日期间，鉴于资源的特殊状况，已生效订单我们有权拒绝任何更改。</div>

                <h5>第五条 您主动解除已生效订单</h5>
                <div>订单生效后，若您要主动解除已生效订单，您必须在旅游产品行程开始前就您需要解除的订单提出申请。我们会根据退改规则执行。您必须支付解除该订单需要支付的违约金，（详见退改规则，退改规则约定的损失费即违约金），因您的违约行为给简途旅行网造成损失的，还应当承担相应损失。违约金和损失赔偿金，简途旅行网有权从退款中直接予以扣除。</div>

                <h5>第六条 您的权利和义务</h5>
                <div>您应确保您及你在订单中登记的出行旅客身体条件适合本次外出旅游项目，如出行人为孕妇或有心脏病、高血压、呼吸系统疾病等病史，请在征得医院专业医生同意后出行。
                    您保证提供给简途旅行网的证件、通讯联络方式、配送地址等相关资料均真实有效，否则由您承担全部损失。
                    旅行期间，您应尊重当地的宗教信仰、民族习惯和风土人情，自觉保护当地自然环境。
                    您在旅游过程中如对简途旅行网的服务质量有异议，应积极与简途旅行网沟通积极争取在旅游过程中解决。您可以选择通过简途旅行网或简途旅行网投诉电话进行投诉。
                    如您不遵守《简途旅行网会员服务协议》或本协议的规定，恶意干扰简途旅行网的正常运营，恶意预订、更改或退订旅游产品，或者恶意向第三方机构投诉简途旅行网或简途旅行网，简途旅行网保留追究您个人责任的权利。
                </div>
                <h5>第七条 简途旅行网及旅游产品供应商的权利和义务</h5>
                <div>请您确认，简途旅行网及其运营商仅是您购买旅游产品的网络服务商，对您履行过程中的人身安全和财产损失概不承担任何责任。旅游产品供应商仅对其提供的车位、酒店住宿或旅游产品约定的服务内容承担服务责任。旅游过程中，您及您订单中登记的旅客应注意人身财产安全，妥善保管自己的证件及行李物品，如果发生人身伤亡或随身携带行李物品遗失、被盗、被抢等财产损失情况，简途旅行网及其运营商无任何赔偿之责任，但会积极协助处理。您的人身及财产损失由您自己承担。</div>

                <h5>第八条 涉及第三方的相关责任</h5>
                <div>第三方指在本次旅游项目中涉及的保险公司、目的地景区、酒店、饭店、同行团友、驾驶员及其他相关机构、企业和个人。简途旅行网无法控制您与第三方出现的任何情况，简途旅行网积极协助处理，但相应结果由您承担。
                    您在旅行中违反相关国家或地区的法律、法规而被罚、被拘留、遣返及被追究其他刑事、民事责任的，您应依法承担相关责任和费用。
                    您违反我国及前往国家（地区）的有关规定，携带宠物、危险物品或违禁品而产生的一切后果由您自行承担。
                </div>

                <h5>第九条 不可抗力</h5>
                <div>因不可抗力(包括但不限于地震、台风、雷击、雪灾、水灾、火灾等自然原因，以及战争、政府行为、黑客攻击、电信部门技术管制等原因)和意外事件等非因简途旅行网原因导致不能履行或不能继续履行已生效订单约定内容的，双方均不承担违约责任。
                    如果由于第三方不可控因素造成的价格上涨，对于已成交的订单，不再向您收取涨价费用；对于已确认但未付款和未确认的订单，则以新价格为准。
                </div>

                <h5>第十条 争议解决</h5>
                <div>因履行本协议发生的争议，由双方协商解决，协商不成的，由简途旅行网运营商成都氢行动力网络科技有限公司住所地人民法院管辖。</div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script type="text/javascript" src="/common/js/pages.js"></script>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
        var a = document.getElementsByTagName('a');
        for (var i = 0; i < a.length; i++) {
            a[i].addEventListener('touchstart', function () {
            }, false);
        }
    })(document, window);
    $(document).ready(function () {
        // 点击返回按钮
        $('header .back').click(function (e) {
            history.go(-1);
        });
        // 初始化page
        $('.page-group').pageInit({
            router : '.turnTo' ,//router的className
            routerFun : function(){}
        });
    });
</script>
</body>
</html>