<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q3/css/term_of_service.scss?__inline">
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header>
            <div class="back"></div>
            <div class="center">旅游产品订购协议</div>
        </header>
        <div class="page-content">
            <div class="content">
                <h3>旅游产品订购协议</h3>
                <p><b>特别提示：本协议为您与成都简途旅行社有限公司（以下简称“简途”）签订的旅游产品订购协议。在您订购由简途旅行微信公众平台（包括：简途旅行simple-tour和简途simpletour2015）或移动端设备官方网站www.simpletour.com（以下统称为简途“Mobile Web”）页面为您展示的旅游产品前，请您仔细阅读本协议，并注意本协议及产品页面中的其它条款均为本协议内容。简途“Mobile Web”页面发布的各旅游产品具体介绍全部内容（包括但不限于行程详情、预订须知、预订流程、费用说明、退改规则、套餐内容等）均为本协议不可分割部分，当您点击“去支付”简途“Mobile Web”页面任何旅游产品，即表明您已经仔细阅读并接受本协议的所有条款，若您不同意本协议条款和旅游产品介绍页面的全部内容，请勿订购简途“Mobile Web”页面上的任何产品。</b></p>

                <h4>第一条&nbsp;&nbsp;旅游产品内容及订购确认</h4>
                <p>1、简途“Mobile Web”上销售的旅游产品包括“简途巴士车票”车位产品、“简途巴士车票套餐”产品、景点门票、酒店住宿、美食娱乐等产品。</p>
                <p>车位产品是指从出发地到目的地的旅行用车坐位，即将订购该产品时登记的乘车人（或称“旅客”或称“出游者”）按约定从出发地送达目的地的产品。车位产品分为单程车位和往返车位，订购车位产品时，请以简途“Mobile Web”页面介绍产品为准。</p>
                <p>车票套餐产品指以车位、住宿、门票、船票、景区观光车等两个或两个以上个性化组合成套餐的产品，套餐产品的搭配多变，订购套餐产品时请以简途“Mobile Web”页面介绍的套餐详情为准。</p>
                <p>2、请您认真选择并确认您所订购的旅游产品，您所订购的旅游产品以您在简途“Mobile Web”网页点击“去支付”确认的产品为准。当您点击旅游产品购买页面“去支付”按钮前，请您认真仔细阅读您所拟订购的旅游产品具体介绍全部内容<b>（包括但不限于行程详情、预订须知、预订流程、费用说明、退改规则、预订流程、旅客评价、套餐内容等）</b>，并就相关疑问向在线客户进行沟通、了解。当您点击“去支付”前，请您按页面提示认真准确填写旅客（乘客或出游者）信息、联系人信息、预订人信息等页面要求填写的内容。若您对拟订购产品有疑问，请务必咨询清楚，了解并确认后再进行订购。<span>当您点击“去支付”即表明您已仔细阅读并已确认同意您所订购旅游产品页面具体介绍的全部内容及本协议内容，并自愿遵守双方达成的协议。</span></p>
                <p>3、简途和旅游产品供应商均无义务审查您购买产品时登记的旅客身份信息或预订人与实际参与旅程的旅客是否为同一人，旅游产品供应商仅根据您提供的购买凭证（如扫码乘车的二维码或其他有效兑换凭证）提供产品或服务。您不能以简途或其他产品供应商未核对身份信息为由向简途主张违约责任或损害赔偿责任。请妥善保护好您的账号及兑换码，否则由此造成的损失由您自行承担。</p>

                <h4>第二条 订购者及出游者要求</h4>
                <p>1、若您是未满十八周岁的未成年人或其他不具备完全民事行为能力人，请勿购买简途“Mobile Web”任何旅游产品。</p>
                <p>2、若您为未成年人或其他不具备完全民事行为能力的人购买简途“Mobile Web”旅游产品，务必有60周岁以下具有完全民事行为能力的成年亲属作为监护人一起参加本次旅游，并对未成年人和不具备完全民事行为能力者的人身安全和财产安全负责。</p>
                <p>3、60周岁以上老年旅游者，简途根据需要向其了解个人健康状况、个人通讯方式、紧急联络人信息等信息时，旅客应予配合并签字确认。不配合提供或不签字确认的，简途有权拒绝其上车而不退还已发生的座位费、门票等费用。</p>
                <p>4、70周岁以上老年旅游者必须有60周岁以下具有完全民事行为能力的成年健康亲属陪同出游，并由该亲属和老年旅游者共同与简途签订《老年人游客健康协议》，否则简途有权拒绝其上车而不退还已发生的座位费、门票等费用。</p>
                <p>5、根据旅游目的地的不同，简途有权根据出游者的身体健康状况及相关条件决定是否接纳出游者参加，不接纳的情形在产品介绍中具体列明，请订购者勿对该等旅游者购买产品，您订购后退订的，按退订规则执行；您不退订的，简途及产品供应商有权拒绝该等旅游者出游而无需退还任何费用。</p>
                <p>6、若未成年人或其他不具备完全民事行为能力的人单独购买或单独作为旅客参加购买的旅游产品项目或盗用、借用他人身份证明证件参与本次旅游项目，视为违约，简途或旅游产品提供商一经发现有权拒绝提供服务而无需退还您任何费用。简途及旅游产品提供商无义务审查产品使用人是否为未成年人或无民事行为能力人，对该等旅客在出行期间发生的人身伤亡或财产损失概不承担任何责任。</p>
                <p>7、因交通运输监管部门对旅游巴士的特殊性要求，旅游巴士必须一人一座，若出行人员拟携带未成年人（包括婴幼儿）出游，请务必为其订购车位产品。否则我们有权拒绝其上车，由此造成的损失由订购者自行承担。携带婴幼儿未购票的，简途无法为其购买保险，因此造成的损失，自行承担。</p>

                <h4>第三条&nbsp;&nbsp;旅游产品价格</h4>
                <p>简途“Mobile Web”页面展示的产品价格仅为参考价格，由于旅游产品价格的波动性，简途“Mobile Web”可能因为车辆、酒店、门票等的价格变动而适度调整在简途“Mobile Web”上已公布的旅游产品的价格。您预订的所有旅游产品的价格，以最后支付的金额为准。</p>
                <p>在您点击“去支付”前，可根据提示选择您可用优惠券进行产品价格抵扣。请您注意优惠券的使用时间，过期的优惠券将不能进行使用。</p>

                <h4>第四条&nbsp;&nbsp;订单生效</h4>
                <p>1、您在简途“Mobile Web”订购产品并按订单要求付清应付款项时，您确认的订单即生效。但如您未按要求在预订付款期前付清相关费用，而此时简途“Mobile Web”为您预留的产品的价格、内容或标准等有发生变化，您需要按变更后的价格、内容或标准执行，否则简途有权单方面取消您的订单并对此不构成任何违约责任。 订单生效，即代表您与简途的合作意向已经达成，您的变更、解除旅游产品等的需求，将按旅游产品介绍页面具体介绍内容和本协议相关条款的约定执行。</p>
                <p>2、本协议生效后，您及您订单中登记的旅客应在发车时间前到达集合地点，订购的产品包含住宿项目的，需按确定日期在确定时间入住酒店。如您未准时到达集合地点，简途有权直接发车不予等待。因您未准时达到集合地点或未能按时入住所订酒店或未按旅游产品介绍的内容履行相应义务，您订购该旅游产品已支付的全部费用不予退还且简途或旅游产品供应商无需承担任何违约责任，您或您预订产品时登记的旅客由此而支出的额外费用亦由您们自行承担。</p>

                <h4>第五条 &nbsp;&nbsp;本合同的变更与转让</h4>
                <p>1、订单生效后，您若需要更改该订单内的任何项目，请务必按旅游产品介绍页面的要求和途径提出更改申请。我们会根据旅游产品的剩余情况协调变更，您必须全额承担因变更带来的全部损失及可能增加的费用。因产品库存原因无法变更的，您可选择退订或者不予变更，退订的，按退改规则执行。</p>
                <p>若您所预订的产品在目的地停留的日期部分或全部处在国家法定节假日或其它部分国际性、国家性、地方性重大节日期间，鉴于资源的特殊状况，已生效订单简途有权拒绝任何更改。</p>
                <p>2、行程开始前遇到不可抗力或者简途、产品供应商已尽合理注意义务仍不能避免的事件的，双方经协商可以取消行程或者延期出行。延期出行的，增加的费用由您承担，减少的费用退还给您；取消行程的，简途向您退还已支付的全部费用。</p>
                <p>3、行程中遇到不可抗力或者简途、产品供应商已尽合理注意义务仍不能避免的事件，影响旅游行程的，按以下方式处理：</p>
                <p>（1）合同不能完全履行的，简途经向旅游者作出说明，旅游者同意变更的，可以在合理范围内变更合同，因此增加的费用由旅游者承担，减少的费用退还旅游者。</p>
                <p>（2）造成旅游者滞留的，简途积极采取相应的安置措施。因此增加的食宿费用由旅游者承担，增加的返程费用双方分担。</p>
                <p>4、订单一经生效，不能进行转让。实际出游的旅客必须与订单中登记的乘车人（旅客）一致。因您擅自转让或更换乘车人（旅客）而造成的一切损失由您自行承担，简途及产品供应商不承担任何责任。</p>

                <h4>第六条 &nbsp;&nbsp;订单解除</h4>
                <div>1、订购者解除合同。</div>
                <p> 订单生效后，若您要主动解除已生效订单，请您务必按旅游产品介绍页面介绍的退改规则和途径就您需要解除的订单提出申请。通常情况下我们会根据以下退改规则执行，如具体旅游产品介绍页面介绍的退改规则与以下规则不一致，则以具体旅游产品介绍页面介绍的退改规则为准。</p>
                <div>退改规则：</div>
                <p>（1）在行程开始前7日以上提出解除合同的，向您退还已支付的全部费用；</p>
                <p>（2）在行程开始前6日至4日提出解除合同的，扣除全部费用总额的20%必要费用后向您退还余下费用：</p>
                <p>（3）在行程开始前3日至1日提出解除合同的，扣除全部费用总额的40%必要费用后向您退还余下费用：</p>
                <p>（4）行程开始当日零时起，不能解除合同，所收取的费用不予退还。</p>
                <p>2、简途解除合同</p>
                <p>旅行者有下列情形之一的，简途可解除本合同，且无需退还任何已支付费用：</p>
                <p>（1）患有传染病等疾病，可能危害其他旅游者健康和安全的；</p>
                <p>（2）携带危害公共安全的物品且不同意交有关部门处理的；</p>
                <p>（3）从事违法或者违反社会公德的活动的；</p>
                <p>（4）从事严重影响其他旅游者权益的活动，且不听劝阻、不能制止的；</p>
                <p>（5）旅客为未成年人无60周岁以下身体健康成年家属陪同的；</p>
                <p>（6）旅客为无民事行为能力者无60周岁以下身体健康成年家属陪同的。</p>
                <p>（7）70周岁以上老年旅游者无60周岁以下身体健康成年家属陪同的。</p>
                <p>（8）法律、法规规定的其他情形。</p>
                <p> 3、行程开始前7日（含7日），简途可通过您预留的联系电话短信通知您解除本合同而无需承担违约责任，简途向您全额退还已支付的费用。</p>
                <p>行程开始前7日以内（不含7日）提出解除合同的，除向您退还已收取的全部费用外，按如下标准向旅行者支付违约金：</p>
                <p>行程开始前6日至4日，支付已付费用总额10%的违约金；</p>
                <p>行程开始前3日至1日，支付已付费用总额15%的违约金；</p>
                <p>行程开始当日，支付已付费用总额20%的违约金。</p>
                <p>4、您订购的本产品的最低成团人数应符合具体旅游产品介绍页面所要求的成团人数介绍，若人数不足，简途有权取消行程，并提前一天电话或短信通知您。因不能满足最低成团人数而取消行程的，简途向您退还已支付的费用而无需支付任何违约金。</p>

                <h4>第七条&nbsp;&nbsp; 风险告知与警示</h4>
                <h5>（一）旅游者不适合参加旅游活动的情形，包括但不限于如下情形，如存在下列情形，请勿购买本产品出游，否则一切责任自行承担。</h5>
                <p>（1）传染性疾病患者，如传染性肝炎、活动期肺结核、伤寒等传染病人；</p>
                <p>（2）心血管疾病患者，如高血压、心功能不全、心肌缺氧、心肌梗塞等病人；</p>
                <p>（3）脑血管疾病患者，如老栓塞、脑出血、脑肿瘤等病人；</p>
                <p>（4）呼吸系统疾病患者，如肺气肿、肺心病等病人；</p>
                <p>（5）精神病患者，如癫痫及各种精神病人；</p>
                <p>（6）严重贫血患者，如血红蛋白量水平在50克/升以下病人；</p>
                <p>（7）大中型手术的恢复期病患者；</p>
                <p>（8）孕妇及行动不便者。</p>
                <p>请旅游者在出行前做一次必要的身体检查，并征得专业医生的建议后再出游。</p>
                <h5>（二）高原反应风险告知及警示</h5>
                <p><b>请您务必注意：旅游目的地为九寨沟、黄龙、峨眉山、毕棚沟、稻城亚丁等区域海拔高。</b>海拔较高地带，气压低，空气含氧量少，易导致人体缺氧，引起高原不良反应。<b>针对不同身体条件人群会有不同高原反应。请您在订购前务必充分考量自己及出游者的身体健康状况及年龄是否适宜出游，建议在预订产品前自行前往医疗机构体检并咨询医院专业医生意见，以确保出游者身体条件能够完成您所订购的旅游活动。</b></p>
                <div>1、患有以下疾病的人员不宜到高原地区旅游：</div>
                <p>（1) 高血压患者。</p>
                <p>（2) 患有器质性心脏病、脑血管疾病患者。</p>
                <p>（3) 糖尿病患者。</p>
                <p>（4) 患有慢性肺病的患者，各种呼吸功能不全；支气管哮喘病人。</p>
                <p>（5) 各种血液病患者。</p>
                <p>（6) 各种心肺疾病引起的肺动脉高压患者。</p>
                <p>（7) 睡眠中容易出现呼吸暂停的人。</p>
                <p>（8) 癔病、癫痫、精神分裂症等神经与精神性疾病患者。</p>
                <p>（9) 重症感冒、呼吸道感染的人。</p>
                <p>（10) 以往患过高原病及其他严重慢性疾病的人。</p>
                <p>（11)未成年人不适宜进入高原地区。因为未成年人正处于身体发育的时期，对高原低氧环境十分敏感，容易缺氧而发生急性高原病。</p>
                <p>（12)老年人不适宜进入高原地区，由于老年人身体机能下降，免疫力和应对特殊环境的能力不足，容易感冒，更易发生急性高原病，且不易救治。</p>
                <p>（13）怀孕者不适宜进入高原地区。</p>
                <div>2、前往高原地区的注意事项</div>
                <p>（1）从决定去高原旅游起，在日常生活中适当增加些无氧锻炼，这样可使肌体对缺氧状态产 生一定的耐受力。</p>
                <p>（2）高原地区早晚温差可达 15—20 摄氏度，需要带上足够的防寒衣物。</p>
                <p>（3）准备好抗紫外线的防护用品。</p>
                <p>（4）避免和消除发病诱因。寒冷、过劳、呼吸道感染常是发病诱因。初进高原注意防止过劳， 防寒保暖，防止呼吸道感染是很重要的。</p>
                <p>（5）在进高原过程中及初到高原，少做体力活动及其他剧烈活动。</p>
                <p>（6）宜用清淡、富含维生素、易消化饮食。多喝水、多吃水果，不宜过饱，忌饮酒。 </p>
                <p>对具有不宜出游情形者，应充分慎重考虑是否出游，强烈建议不要出游。即便要出游，应有60周岁以下具有完全民事行为能力且身体健康的成年家属陪同、照顾。</p>
                <h5>（三）高风险项目风险告知及警示</h5>
                <p> 1、高风险项目包括但不限于：滑雪、漂流、登山、水上运动、空中项目、温泉、前往海拔高的地方（高原反应）、攀岩、潜水等。</p>
                <p> 2、若您订购的产品涉及高风险项目或您自由行过程中将要参与高风险项目，请您务必在订购前咨询专业医生对自己及其他出游者进行评估是否适宜参与高风险项目，参与高风险项目时，请务必在专业老师的指导下完成并做好安全防范工作。为了您及出游者的安全考虑，不具备参与高风险项目条件的，请务必不要参与。</p>
                <h5>（四）免责条款</h5>
                <p><b>1、在行程中因自身原因（包括但不限于身体条件、健康原因、过错、过失等）引发的疾病或造成的人身伤亡、财产损失的由旅游者本人承担相关责任，简途、简途微信公众平台运营商及其他旅游产品供应商概不承担任何责任。</b></p>
                <p><b>2、本旅游项目为自由行项目，您在自行安排活动期间，应当在自己能够控制风险的范围内选择活动项目，遵守旅游活动中的安全警示规定，妥善保管财物，对自己的安全和财物负责。旅游者在自由安排活动期间人身、财产权益受到损害的，简途不承担任何责任。</b></p>
                <p><b>自由安排活动期间除在出行车辆上的期间均为自由安排活动期间。包括但不限于行程开始前、中途停靠休息期间、到达目的地乘客下车后时间等。</b></p>

                <h4>第八条 您的权利和义务</h4>
                <p>1、您及出游者应遵守我国和旅游目的地国家（地区）的法律、法规和有关规定，不携带违禁物品出入境；不参与色情、赌博和涉毒活动；不在境外滞留不归。</p>
                <p>2、您及出游者在出行期间，应遵守旅游目的地国家（地区）的公共秩序和社会公德，尊重当地的风俗习惯，文化传统和宗教信仰，爱护旅游资源，保护生态环境，遵守《中国公民出国（境）旅游文明行为指南》等文明行为规范。</p>
                <p>3、您及出游者出行期间，对国家应对重大突发事件暂时限制旅游活动的措施，以及有关部门、机构或者旅游经营者采取的安全防范和应急处置措施予以配合。</p>
                <p>4、您及出游者在旅游活动中或者在解决纠纷时，应采取适当措施防止损失扩大，不损害当地居民的合法权益，不干扰他人的旅游活动，不损害旅游经营者和旅游从业人员的合法权益，不采取拒绝上、下机（车、船）等不当行为。</p>
                <p>5、您保证提供给简途的证件、通讯联络方式、地址等相关资料均真实有效不得变更，否则由您承担全部损失。您预留的联系电话、地址为送达的联系方式和地址。</p>
                <p>6、您及出游者在旅游过程中如对简途的服务质量有异议，应积极与简途沟通积极争取在旅游过程中解决。您可以选择通过简途“Mobile Web”客服或简途投诉电话进行投诉。</p>
                <p>7、如您不遵守《简途“Mobile Web”会员服务协议》或本协议的约定，恶意干扰简途“Mobile Web”的正常运营，恶意预订、更改或退订旅游产品，或者恶意向第三方机构投诉简途微信公众平台或简途，简途保留追究您个人责任的权利。</p>
                <p>8、旅途过程中，若同行旅游者发生身体不适或其他影响人身安全的事件，行车司机和行车助理会在第一时间将其送往附近的医院救治，因此所耽误您的行程的，不视为违约，您表示谅解。</p>
                <p>9、由于您或者出游者的过错，使简途、旅游产品供应商、司机、行车助理、或其他旅游者等遭受损害的，应当赔偿损失。</p>
                <p><b>10、您及您订单中登记的旅客应按照具体旅行产品确定的发车时间前到达集合地点上车，为避免耽误其他旅客时间，我们将在确定的发车时间进行发车，如您晚点未上车，简途不退还您任何费用，损失由您自行承担。</b></p>
                <p><b>11、您应按照规定投保人身意外伤害保险，旅游产品包含人身意外伤害保险的，简途将根据您订购旅游产品时登记的旅客身份证号码信息代旅客购买保险。因您未填写身份证号码、填写错误、冒用或盗用他人身份证号码等非简途原因导致简途未能为旅客购买保险或购买保险的被保险人与实际出行旅客不符合的，由此造成的损失由您及出行旅客自行承担。</b></p>
                <p><b>旅游产品不包含人身意外伤害保险的，在此特别提醒，请您及出游者自行购买。因未购买造成的一切损失自行承担。</b></p>

                <h4>第九条  简途及旅游产品供应商的权利和义务</h4>
                <p>1、您确认，简途微信公众平台及其运营商仅是您购买旅游产品的应用程序或网络服务商，对您旅行过程中的人身安全和财产损失概不承担任何责任。</p>
                <p>2、您确认您是自由行旅游，旅游产品供应商仅对其提供的车位、酒店住宿或旅游产品约定的服务内容承担服务责任。旅游过程中，您及您订单中登记的旅客（出游者）应充分注意人身财产安全，妥善保管自己的证件及行李物品，如果发生人身伤亡或随身携带行李物品遗失、被盗、被抢等财产损失情况，简途、简途“Mobile Web”运营商会积极协助处理，但无任何赔偿之责任。您及出游者的人身及财产损失由您们自己承担，请务必注意安全。</p>
                <p>3、简途保证行程过程中不会出现强迫或变相强迫购物、参加另行付费旅游项目的行为。</p>
                <p>4、针对车位产品，我们保证有专业的行车助理在行程途中为您提供服务、进行讲解。</p>

                <h4>第十条&nbsp;&nbsp;涉及第三方的相关责任</h4>
                <p>1、第三方指在本次旅游项目中涉及的保险公司、目的地景区、酒店、饭店、同行团友、驾驶员及其他相关机构、企业和个人。简途无法控制您及出游者与第三方出现的任何情况，简途积极协助处理，但相应结果自行承担。</p>
                <p>2、您及出游者在旅行中违反相关国家或地区的法律、法规而被处罚、被拘留、遣返及被追究其他刑事、民事责任的，您及出游者应依法承担相关责任和费用。</p>
                <p>3、您及出游者违反我国及前往国家（地区）的有关规定，携带宠物、危险物品或违禁品而产生的一切后果自行承担。</p>

                <h4>第十一条&nbsp;&nbsp;不可抗力</h4>
                <p>1、因不可抗力（包括但不限于地震、台风、雷击、雪灾、水灾、火灾等自然原因，以及堵车、战争、政府行为、黑客攻击、电信部门技术管制等原因）和意外事件等非因简途原因导致不能履行或不能继续履行已生效订单约定内容的，双方均不承担违约责任。</p>
                <p>2、如果由于第三方不可控因素造成的价格上涨，对于已成交的订单，不再向您收取涨价费用；对于已确认但未付款和未确认的订单，则以新价格为准。</p>

                <h4>第十二条 争议解决</h4>
                <p><b>因履行本协议发生的争议，由双方协商解决，协商不成的，由成都简途旅行社有限公司住所地人民法院管辖。</b></p>
            </div>
            <hr/>
            <div class="stpass-term">
                <div class="line id">编号：</div>
                <h3>云南省旅游合同示范文本<br/>旅行社单项委托合同</h3>
                <img src="/master-Q3/images/icon/badge@2x.png" alt=""/>
                <h5>
                    <div class="line black">旅行社服务质量监督电话：</div>
                    旅游质监执法机构投诉电话：12301<br/>
                    网络投诉：<br/>
                    云南旅游政务网（<a href="http://www.ynta.gov.cn">http://www.ynta.gov.cn</a>）
                </h5>
                <h4>
                    云南省旅游发展委员会制定<br/>
                    云南省工商行政管理局<br/>
                    2017年4月
                </h4>

                <h4>使用说明</h4>
                <p>1、本合同为示范文本，供云南省的旅行社与旅游者签订单项委托服务合同并在云南省内旅游时使用。</p>
                <p>2、承担委托服务的旅行社（以下简称“受托旅行社”）是在工商和市场监管机关注册登记，并取得旅行社业务经营许可证的旅行社或者经旅游行政管理部门备案的旅行社分支机构（分社和服务网点）。经备案的旅行社分支机构只能以旅行社名义与旅游者签订旅游合同。</p>
                <p>3、凡旅游者不在受托旅行社营业场所签订委托合同，应注意核实旅行社业务代表的身份、授权委托书，以及营业执照、旅行社业务经营许可证副本或旅行社盖章的副本复印件。</p>
                <p>4、受托旅行社签订合同所加盖的印章，应为旅行社印章或合同专用章。</p>
                <p>5、双方当事人应当自愿选择本合同条款所提供的选择项，或是自愿在空格处填写完整内容。</p>
                <p>6、经协商一致，受托旅行社和旅游者可以书面形式对合同内容进行变更或者补充，但不得低于DB 53/T 416《旅行社接待服务规范》标准，不得减轻或者免除应当由旅行社承担的责任。</p>
                <p>7、本示范文本由云南省旅游发展委员会、云南省工商行政管理局制定，负责对文本制定和使用前的解释，并在全省范围内推行使用。</p>

                <h4>单项委托服务合同</h4>
                <h6>甲方（委托人）</h6>
                <div class="multi">
                    <div class="line flex bold">委托人姓名：</div><div class="line short bold">等</div>&nbsp;人
                </div>
                <p class="noIndent">（《委托人名单表》如下）</p>
                <div class="line">甲方代表联系电话：</div>
                <div class="line bold">委托人亲属联系电话：</div>

                <p class="noIndent mt10 mb10">委托人名单表</p>
                <div class="table">
                    <div class="row">委托人数：<span></span></div>
                    <div class="row">
                        合计<span></span>人。男<span></span>人,女<span></span>人
                    </div>
                </div>
                <div class="table">
                    <div class="row">姓名<span></span>性别<span></span>年龄<span></span></div>
                    <div class="row">身份证件号码<span></span></div>
                    <div class="row solid">
                        联系电话<span></span>备注<span></span>
                    </div>
                    <div class="row">姓名<span></span>性别<span></span>年龄<span></span></div>
                    <div class="row">身份证件号码<span></span></div>
                    <div class="row solid">
                        联系电话<span></span>备注<span></span>
                    </div>
                    <div class="row">姓名<span></span>性别<span></span>年龄<span></span></div>
                    <div class="row">身份证件号码<span></span></div>
                    <div class="row solid">
                        联系电话<span></span>备注<span></span>
                    </div>
                    <div class="row">姓名<span></span>性别<span></span>年龄<span></span></div>
                    <div class="row">身份证件号码<span></span></div>
                    <div class="row solid">
                        联系电话<span></span>备注<span></span>
                    </div>
                </div>
                <p class="noIndent">备注：①“备注”栏可填写委托人餐饮、住房等特殊需求及其他事项；②此页不够可加页。</p>
                <h6 class="mt15">乙方（受托旅行社）</h6>
                <div class="line bold">旅行社名称&nbsp;&nbsp;</div>
                <div class="multi">
                    <div class="line midlle">等级：</div><div class="line flex">&nbsp;&nbsp;业务经营许可证号：</div>&nbsp;
                </div>
                <div class="line">住所地：</div>
                <div class="line bold">法定代表人（负责人）：</div>
                <div class="line mb10">联系电话：</div>
                <b>根据《中华人民共和国旅游法》、《旅行社条例》及有关法律法规的规定，甲乙双方在平等、自愿、协商一致的基础上，就下列委托事项达成如下协议：</b>

                <h4>第一条  委托范围</h4>
                <p>甲方委托乙方办理抵离接送，代订饭店，代租汽车，代订、代购、代确认交通票据，代办入境、出境、过境临时居住和旅游签证，代办国内旅游委托，提供导游服务等。</p>

                <h4>第二条  委托项目、费用及支付方式</h4>
                <div class="line bold"></div>
                <div class="line bold"></div>
                <div class="line bold"></div>
                <div class="line bold"></div>
                <h4>第三条   甲乙双方义务</h4>
                <p>1、甲方义务：</p>
                <p>（1）甲方应当确保所提供的证件、资料及联系电话真实有效，否则造成损失由甲方自行承担；</p>
                <p>（2）甲方应按约定向乙方支付委托项目费用及服务费；</p>
                <p>（3）甲方应当及时受领乙方办理委托事项的结果；</p>
                <p>（4）因不可归责于乙方的事由，委托合同解除或者委托事务不能完成的，甲方应当向乙方支付约定的服务费用；</p>
                <p>（5）甲方应特别注意旅途目的地的法律法规及风俗禁忌，慎重选择骑马、攀岩、滑翔、漂流、潜水、游泳、跳伞、热气球、蹦极等高风险或带有危险性的旅游产品。</p>
                <p>2、乙方义务</p>
                <p>乙方应亲自处理甲方的委托事务；如乙方不能完成委托事务的，甲方<span class="underline short bold"></span>（同意或不同意）委托。</p>
                <h4>第四条  违约责任</h4>
                <p>1、甲方违约责任</p>
                <p>（1）甲方在出发前7日（含7日）内取消机票或者酒店用房的，机票已开出的按机票的实际损失计算，酒店按房价的<span class="underline short bold"></span>%计算损失，租车按车费的<span class="underline short"></span>%计算损失，并应按合同总价<span class="underline short bold"></span>%向乙方支付违约金。</p>
                <p>（2）甲方未按合同约定或者未经乙方同意，临时要求改变机票、酒店或租车等委托项目的，费用自理，并不得要求退回已支付的委托费用。</p>
                <p>（3）乙方在扣除上述业务损失费及违约金后，应当在甲方退订通知到达日起5个工作日内向甲方退还剩余委托费用。</p>
                <p>（4）甲方未按约定的时间提供证件及资料，或者提供的证件及资料不真实，造成乙方无法为甲方提供约定服务的，乙方不承担赔偿责任，甲方应当承担乙方已支付的直接费用。</p>
                <p>（5）甲方其他违约责任：</p>
                <div class="line bold"></div>
                <div class="line bold"></div>
                <p>2、乙方违约责任
                <p>（1）乙方未按合同约定为甲方提供代订机票、代订酒店或代订车辆等单项服务的，退还甲方已支付的委托费用，并应按合同总价<span class="underline short"></span>%向甲方支付违约金。</p>
                <p>（2）乙方未经甲方同意擅自改变降低机票舱位、住宿酒店、车辆标准以及委托事项标准的，应当按委托费用总额的<span class="underline short bold"></span>%向甲方支付违约金，并退还降低标准的差额。</p>
                <p>（3）乙方应当在取消受托业务通知到达日起7日内，向甲方退还全额委托费用，并按前款（1）、（2）标准支付违约金。</p>
                <p>（4）未经甲方同意，乙方将委托服务转委托的，应向甲方支付委托费用总额<span class="underline short"></span>%的违约金。</p>
                <p>（5）乙方其他违约责任：</p>
                <div class="line bold"></div>
                <div class="line bold"></div>

                <h4>第五条  合同终止</h4>
                <p>1、本合同生效后，甲乙双方任何一方要求终止合同的，应提前7日通知对方。</p>
                <p>2、违约方在上述时间内通知对方，应向守约方支付委托费用总额<span class="underline short"></span>%的违约金。</p>

                <h4>第六条  定金条款</h4>
                <p>“黄金周”、法定节假日及地方性重大节庆活动等旅游高峰期间，甲方须支付定金<span class="underline"></span>元作为合同担保。乙方履行合同后，定金可充抵委托费用。如甲方违约，无权要求返还定金；乙方违约，应当双倍返还定金。</p>

                <h4>第七条  保险购买</h4>
                <p>乙方推荐甲方购买旅游意外险及相关保险，甲方可自行购买或者委托乙方购买。</p>

                <h4>第八条  特别说明</h4>
                <p>1、代订机票上所示的时间如与航空公司最终通知搭乘飞机时间不一致的，以航空公司最终通知时间为准。</p>
                <p>2、根据行业惯例，酒店的入住时间是当天中午12时整至第二天中午12时整。</p>
                <p>3、如委托事项有特别的改签、转签、退票等政策，乙方应提前告知，否则应由乙方承担由此造成的损失。</p>

                <h4>第九条  免责条款</h4>
                <p>1、甲乙双方因不可抗力（包括但不限于因自然原因和社会原因引起的，如自然灾害、战争、恐怖活动、动乱、骚乱、罢工、突发公共事件、政府行为等）不能履行合同的，且双方又未能达成变更协议的，双方均可通知对方解除合同，且根据不可抗力的影响，部分或全部免除责任。</p>
                <p>2、因飞机、火车、客运汽车等公共交通工具延误或者取消，乙方应当协助甲方向公共交通经营者索赔；因第三方侵害等不可归责于乙方的原因导致甲方人身、财产权益受到损害的，乙方不承担赔偿责任。但因乙方不履行协助义务致使甲方人身、财产权益损失扩大的，应当就扩大的损失承担赔偿责任。</p>

                <h4>第十条  其他约定事项</h4>
                <p>1、甲方决定委托项目及其服务提供者，乙方可以根据甲方咨询提供参考性意见。</p>
                <p>2、甲方在接受委托项目服务方服务期间遭受人身、财产损失的，乙方应当协助甲方向服务方索赔。如因乙方不履行协助义务致使甲方人身、财产权益损失扩大的，乙方应当就扩大的损失承担赔偿责任。</p>

                <h4>第十一条  争议解决</h4>
                <p>1、在本合同履行中发生争议时，双方可协商解决，或向乙方所在地的旅游质监执法机构投诉；需要立即制止、纠正受托旅行社的损害行为的，可向损害行为发生地的旅游质监执法机构投诉。</p>
                <p>2、本合同履行过程中发生争议，由双方协商解决；亦可向合同签订地的旅游质监执法机构申请调解。协商或者调解不成的，按下列第<span class="underline short bold"></span>种方式解决：</p>
                <p>1）就近到基层司法所（乡镇）人民调解室调解；</p>
                <p>2）提交<span class="underline"></span>仲裁委员会仲裁；</p>
                <p>3）依法向人民法院起诉。</p>

                <h4>第十二条【补充协议】</h4>
                <p>本合同生效后，双方未约定的事宜，可以签订补充协议，补充协议与本合同具有同等法律效力。</p>

                <h4>第十三条【合同生效】</h4>
                <p>本合同自甲方（委托人）代表及所有委托人签字、乙方签字盖章并付清服务费用后生效；本合同有效期，自签订之日起至本委托事务完成时止。</p>
                <p>本合同一式两份，双方各持一份，每份具有同等法律效力。</p>

                <h4>
                    <div class="line bold">甲方（委托人代表）签字：</div>
                    <div class="line bold">身份证件号码：</div>
                    <div class="line bold">其他委托人签字：</div>
                    <div class="line bold"></div>
                    <div class="line bold"></div>
                </h4>
                <h4>
                    <div class="line bold">乙方（受托旅行社）盖章：</div>
                    <div class="line bold">法定代表人（代理人）签字：</div>
                </h4>
                <h4 class="clear">
                    <div class="theLast">
                        <span class="underline"></span>年<span class="underline short"></span>月<span class="underline short"></span>日
                    </div>
                </h4>
            </div>
            <div class="bottom-logo">
                <div class="img-wrapper">
                    <img src="/master-Q3/images/icon/bus_bottom@2x.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script type="text/javascript" src="/common/js/pages.js"></script>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
        var a = document.getElementsByTagName('a');
        for (var i = 0; i < a.length; i++) {
            a[i].addEventListener('touchstart', function () {
            }, false);
        }
    })(document, window);
    $(document).ready(function () {
        // 点击返回按钮
        $('header .back').click(function (e) {
            history.go(-1);
        });
        // 初始化page
        $('.page-group').pageInit({
            router : '.turnTo' ,//router的className
            routerFun : function(){}
        });
    });
</script>
</body>
</html>