* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #556783;
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden
}

@mixin clear {
  content: '';
  display: block;
  visibility: hidden;
  clear: both;
}
$color: #556783 !default;
$red: #FE1A65 !default;
$hoverBg: #E5E7EA !default;
$buttonBlue: #4089FB !default;
$buttonBlueHover: #1F6ADF !default;
$buttonDisable: #BCC1C8 !default;
@mixin fontFun($s:16px,$c:#556783) {
  font-size: $s;
  color: $c;
}
input.error,textarea.error{
  border-color:#FE1A65 !important;
}
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none
}

input[disabled=disabled] {
  background-color: white;
}

.head {
  background-color: #2B2B4C;
  height: 50px;
  position: relative;
  padding: 0 50px 0 300px;
  text-align: right;
  .left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 280px;
    line-height: 50px;
    text-align: center;
    color: white;
    background: url("/newAdmin/images/topTitle.png") no-repeat;
    font-size: 24px;
  }
  .user {
    display: inline-block;
    width: 133px;
    padding-left: 30px;
    padding-right: 14px;
    height: 50px;
    line-height: 50px;
    background: url("/newAdmin/images/user.png") no-repeat left center;
    text-align: left;
    position: relative;
    color: #CCD3DA;
    font-size: 14px;
    &:after {
      content: '';
      position: absolute;
      width: 14px;
      top: 0;
      right: 0;
      bottom: 0;
      background: url("/newAdmin/images/downArrowGray.png") no-repeat center;
    }
  }
}

.container {
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 0;
  left: 0;
  .nav {
    font-size: 0;
    position: absolute;
    overflow-y: auto;
    left: 0;
    width: 280px;
    top: 0;
    bottom: 0;
    ul {
      list-style: none;
    }
    li {
      display: block;
      & > a {
        position: relative;
        font-size: 18px;
        display: block;
        height: 60px;
        line-height: 60px;
        padding-left: 104px;
        background: url("/newAdmin/images/1.png") no-repeat 58px 21px;
        &.hover, &.selected {
          color: $red;
          background: url("/newAdmin/images/11.png") no-repeat 58px 21px;
        }
        &.selected {
          background-color: #EEF1F5;
        }
        &.message {
          background: url("/newAdmin/images/2.png") no-repeat 58px 21px;
          &.hover, &.selected {
            background: url("/newAdmin/images/22.png") no-repeat 58px 21px;
          }
          &.selected {
            background-color: #EEF1F5;
          }
        }
        &.order {
          background: url("/newAdmin/images/3.png") no-repeat 58px 21px;
          &.hover, &.selected {
            background: url("/newAdmin/images/33.png") no-repeat 58px 21px;
          }
          &.selected {
            background-color: #EEF1F5;
          }
        }
        &.product {
          background: url("/newAdmin/images/4.png") no-repeat 58px 21px;
          &.hover, &.selected {
            background: url("/newAdmin/images/44.png") no-repeat 58px 21px;
          }
          &.selected {
            background-color: #EEF1F5;
          }
        }
        &.myStore {
          background: url("/newAdmin/images/5.png") no-repeat 58px 21px;
          &.hover, &.selected {
            background: url("/newAdmin/images/55.png") no-repeat 58px 21px;
          }
          &.selected {
            background-color: #EEF1F5;
          }
        }

        &.down, &.up, &.selected {
          &:after {
            content: '';
            width: 14px;
            position: absolute;
            top: 0;
            right: 42px;
            bottom: 0;
            background: url("/newAdmin/images/downArrow.png") no-repeat center;
          }
        }
        &.up:after {
          background: url("/newAdmin/images/upArrow.png") no-repeat center;
        }
        &.selected:after {
          background: url("/newAdmin/images/leftArrow.png") no-repeat center;
        }
      }
    }
    .submenu li > a {
      height: 46px;
      color: #99A6B8;
      background: none;
      font-size: 16px;
      line-height: 46px;
      &.hover {
        color: $red;
      }
      &.selected {
        color: $red;
        background-color: #EEF1F5;
      }
    }
  }
  .main-content {
    margin-left: 280px;
    height: 100%;
    background-color: #F3F5F7;
    position: relative;
    overflow: auto;
  }
}

.page {
  padding: 40px;
  min-width: 840px;
  h3 {
    color: $color;
    font-size: 20px;
    margin-bottom: 12px;
  }
  .steps {
    div {
      position: relative;
      font-size: 16px;
      padding-left: 20px;
      background: url("/newAdmin/images/circle-gray.png") no-repeat left center;
      margin-bottom: 26px;
      color: #B0BAC9;
      &:after {
        content: '';
        position: absolute;
        height: 21px;
        border-left: 1px solid #D2D5D9;
        left: 4px;
        top: 16px;
      }
      &.last:after {
        top: auto;
        bottom: 15px;
      }
      &.selected {
        color: $red;
        background: url("/newAdmin/images/circle.png") no-repeat left center;
        &:after {
          border-left: 1px solid $red;
        }
      }
    }
  }
  .content {
    margin-top: 50px;
    h5 {
      font-size: 14px;
      color: $color;
      margin-bottom: 10px;
    }
    div.productStyle {
      width: 482px;
      border-left: 1px solid #D2D5D9;
      border-top: 1px solid #D2D5D9;
      &:after {
        @include clear;
      }
      div {
        text-align: center;
        height: 55px;
        line-height: 54px;
        float: left;
        width: 160px;
        border-right: 1px solid #D2D5D9;
        border-bottom: 1px solid #D2D5D9;
        color: $color;
        background-color: white;
        cursor: pointer;
        font-size: 16px;
        &.hover {
          background-color: $hoverBg;
        }
        &.selected {
          background-color: $red;
          color: white;
          cursor: default;
        }
        &.nohover {
          cursor: default;
        }
      }
    }
  }
  button.next {
    border: none;
    cursor: pointer;
    border-radius: 6px;
    width: 180px;
    height: 50px;
    background-color: $buttonBlue;
    font-size: 18px;
    margin-top: 30px;
    margin-right: 15px;
    color: white;
    outline: none;
    &.hover {
      background-color: $buttonBlueHover;
    }
    &.disabled {
      background-color: $buttonDisable;
      cursor: default;
    }
  }
  .tabs {
    .tabsHead {
      position: relative;
      height: 40px;
    }
    .tab {
      cursor: pointer;
      width: 123px;
      height: 40px;
      line-height: 40px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      background-color: #E1E6EB;
      font-size: 16px;
      color: $color;
      text-align: center;
      position: absolute;
      &.first {
        left: 0;
        z-index: 5;
      }
      &.second {
        left: 113px;
        z-index: 4;
      }
      &.third {
        left: 226px;
        z-index: 3;
      }
      &.forth {
        left: 339px;
        z-index: 2;
      }
      &.active {
        background-color: white;
        z-index: 6;
      }
    }
    .tabsContent {
      padding: 30px;
      background-color: white;
      textarea {
        margin-bottom: 24px;
        width: 100%;
        height: 100px;
        border-radius: 4px;
        resize: none;
        border-color: #D2D5D9;
      }
      .cancel-rule-item {
        margin-bottom: 12px;
        font-size: 0;
        .text {
          display: inline-block;
          vertical-align: baseline;
          @include fontFun(16px, $color);
        }
        .dropdown {
          margin: 0 7px;
        }
        input {
          height: 30px;
          line-height: 28px;
          border: 1px solid #D2D5D9;
          border-radius: 4px;
          width: 60px;
          margin: 0 7px;
          display: inline-block;
        }
        a {
          display: inline-block;
          font-size: 16px;
          color: #4089FB;
          cursor: pointer;
          margin-left: 10px;
          text-decoration: underline;
          float: right;
        }
        a.del {
          color: #FE1A65
        }
      }
      div.item {
        &.map {
          height: auto;
          .mapContent {
            width: 578px;
            height: 160px;
          }
        }
        .use-template {
          float: right;
          font-size: 14px;
          width: 90px;
          height: 28px;
          border-radius: 4px;
          background-color: $buttonBlue;
          color: white;
          &.hover {
            background-color: $buttonBlueHover;
          }
        }
        position: relative;
        padding-left: 102px;
        margin-bottom: 14px;
        min-height: 30px;
        span.label {
          position: absolute;
          width: 102px;
          height: 30px;
          line-height: 30px;
          left: 0;
          &:after {
            @include clear;
          }
          p {
            @include fontFun(16px, $color);
            height: 100%;
            float: left;
          }
          div {
            width: 12px;
            height: 100%;
            float: left;
            margin-left: 4px;
            background: url("/newAdmin/images/required.png") no-repeat center;
          }
        }
        .itemRight {
          &:after {
            @include clear;
          }
          line-height: 30px;
          font-size: 16px;
          color: #556783;
          input[type=text] {
            height: 30px;
            padding: 6px;
            font-size: 16px;
            border: 1px solid #D2D5D9;
            border-radius: 4px;
          }
          &.radios {
            .radio-wrap {
              float: left;
              height: 30px;
              line-height: 30px;
              margin-right: 50px;
            }
            .radio {
              position: relative;
              margin-right: 11px;
              float: left;
              padding: 0;
              width: 20px;
              height: 30px;
              background: url("/newAdmin/images/radio.png") no-repeat 3px 7px;
              &.selected {
                background: url("/newAdmin/images/radio-select.png") no-repeat 3px 7px;
              }
            }
            input[type=radio] {
              cursor: pointer;
              opacity: 0;
              position: absolute;
              width: 20px;
              height: 30px;
              display: block;
              padding: 0;
              margin: 0;
              filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
            }
          }
          &.checkboxes {
            .checkbox-wrap {
              float: left;
              height: 30px;
              line-height: 30px;
              margin-right: 50px;
            }
          }

          &.input_1 {
            input {
              width: 100%;
            }
          }
          &.input_2, &.input_3 {
            input {
              float: left;
              width: 50%;
            }
            p {
              float: left;
              margin-left: 25px;
              line-height: 30px;
              @include fontFun;
            }
          }
          .cutline {
            width: 20px;
            height: 1px;
            float: left;
            margin: 13px 10px 0 10px;
            background-color: $color;
          }
          &.input_3 {
            input {
              width: 80px;
            }
            p {
              margin-left: 11px;
              margin-right: 14px;
            }
          }
        }
      }
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 69px;
  height: 30px;
  line-height: 28px;
  text-align: left;
  border: 1px solid #4089FB;
  border-radius: 4px;
  &.radius {
    border-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .old {
    position: absolute;
    height: 0;
    width: 0;
    left: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
  }
  .selected {
    display: block;
    text-align: left;
    padding-left: 12px;
    padding-right: 30px;
    cursor: pointer;
    &:after {
      position: absolute;
      right: 0;
      top: 0;
      content: ' ';
      width: 30px;
      height: 28px;
      text-align: center;
      background: url("/newAdmin/images/dropdown.png") no-repeat;
    }
  }
  div {
    z-index: 8000;
    position: absolute;
    display: none;
    left: -1px;
    right: -1px;
    top: 100%;
    overflow: hidden;
    border: 1px solid #4089FB;
    background-color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    ul {
      list-style: none;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      overflow: hidden;
      overflow-y: auto;
      li {
        padding: 0 12px;
        height: 40px;
        line-height: 40px;
        background-color: white;
        text-align: left;
        &.hover {
          background-color: #EEF1F5;
        }
      }
    }
  }
}

.alertmsg {
  position: fixed;
  z-index: 10000;
  left: 280px;
  right: 0;
  height: 100px;
  top: -100px;
  background: url("/newAdmin/images/wrong-icon.png") no-repeat 49px 33px;
  background-color: #FE1A65;
  &.success {
    background-image: url("/newAdmin/images/right-icon.png");
    background-color: #69D1FF;
  }
  .alertcontent {
    padding-left: 106px;
  }
  .alertmsg_title {
    padding-top: 27px;
    font-size: 20px;
    color: white;
  }
  .alertmsg_detailed {
    color: white;
    font-size: 12px;
  }
}

.input_tips {
  top: 100px;
  left: 100px;
  width: 150px;
  position: absolute
}

.input_tips .arrow {
  position: absolute;
  display: block;
  width: 14px;
  height: 24px;
  left: -14px;
  top: 7px;
  background: url("/newAdmin/images/triangle.png") no-repeat center;
}

.input_tips .content {
  background-color: #4089FB;
  padding: 9px 5px;
  border-radius: 4px;
}

.input_tips .content ul {
  margin: 0;
  list-style: none;
  padding: 5px
}

.input_tips .content ul li {
  margin-top: 5px;
  font-size: 12px;
  line-height: 14px;
  color: white;
  padding-left: 20px;
  background: url("/newAdmin/images/tip-right.png") no-repeat left center;
}

.input_tips .content ul li:first-child {
  margin-top: 0
}

.input_tips .content ul li.error {
  background: url("/newAdmin/images/tip-wrong.png") no-repeat left center;
}

.calendar-button {
  cursor:pointer;
  width: 92px;
  height: 22px;
  padding-left: 28px;
  line-height: 22px;
  @include fontFun(16px, $color);
  background: url("/newAdmin/images/calendar.png") no-repeat left center;
}

div.page-btn-group {
  margin-top: 40px;
  &:after {
    @include clear;
  }
  button {
    float: left;
  }
}

button.save {
  cursor: pointer;
  width: 180px;
  height: 50px;
  line-height: 50px;
  font-size: 0;
  text-align: center;
  span {
    display: inline-block;
    height: 100%;
    @include fontFun(18px, white);
    vertical-align: middle;
    &.icon {
      width: 18px;
      margin-right: 13px;
      background: url("/newAdmin/images/save.png") no-repeat 0 16px;
    }
  }
  border-radius: 6px;
  background-color: $buttonBlue;
  &.hover {
    background-color: $buttonBlueHover;
  }
  &.disabled {
    background-color: $buttonDisable;
    cursor:pointer;
  }
}

.album:after {
  @include clear;
}

.img-add {
  position: relative;
  width: 90px;
  height: 90px;
  box-sizing: border-box;
  border: 1px solid #D2D5D9;
  background: url("/newAdmin/images/add.png") no-repeat center;
  background-color: #E9E9E9;
  float: left;
  cursor: pointer;
  margin-right: 5px;
}

.img-box {
  position: relative;
  width: 90px;
  float: left;
  margin-right: 20px;
  .del {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("/newAdmin/images/img-del.png") no-repeat center;
    right: 0;
    top: 0;
    cursor: pointer;
    background-color: #FE1A65;
  }
  .img-box-hidden {
    width: 90px;
    height: 90px;
    overflow: hidden;
    border: 1px solid #D2D5D9;
  }
  img {
    width: 100%;
  }
  input {
    width: 90px;
    margin-top: 7px;
    height: 20px;
    padding: 4px;
    font-size: 12px;
    color: #BCC1C8;
    border-radius: 4px;
    border: 1px solid #D2D5D9;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  box-sizing: border-box
}

.fade {
  opacity: 0;
  transition: opacity .15s linear
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0)
}

.fade.in {
  opacity: 1
}

.modal-backdrop.in {
  opacity: .5;
  filter: alpha(opacity=50)
}

.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  outline: 0;
}

.modal-dialog {
  width: 600px;
  height: 260px;
  position: relative;
  margin: 80px auto;
  background-color: white;
}
.modal-lg{
  width: 740px;
  height: 388px;
  .modal-container{
    height: 288px;
  }
  .modal-footer{
    button.cancel{
      width: 300px;
    }
    button.ok{
      width: 440px;
    }
  }
}
.modal-sm{
  width: 380px;
  height: 280px;
  .modal-container{
    height: 180px;
  }
  .modal-footer{
    button.cancel{
      width: 160px;
    }
    button.ok{
      width: 220px;
    }
  }
}
.modal-header{
  height: 50px;
  padding:0 30px;
  div.title{
    height: 50px;
    line-height: 50px;
    @include fontFun(18px,$color);
  }
}
.modal-container{
  padding:0 30px;
  height: 160px;
  overflow: auto;
  .modal-container-item{
    min-height: 30px;
    padding-left: 24px;
    position: relative;
    line-height: 30px;
    display: block;
    font-size: 16px;
    color: $color;
    .radio-wrap,.checkbox-wrap{
      position: absolute;
      width: 20px;
      height: 30px;
      left:0;
      top:50%;
      margin-top: -15px;
    }
    &.selected{
      color:#FE1A65;
    }
    .radio{
      background-position: 3px 8px;
      &.selected{
        background-position: 3px 8px;
      }
    }
  }
}
.confirm-footer,.modal-footer{
  height: 50px;
  border-top:1px solid #4089FB;
  font-size: 0;
  button.ok{
    cursor: pointer;
    width: 350px;
    height: 49px;
    line-height: 49px;
    font-size: 0;
    text-align: center;
    span {
      display: inline-block;
      height: 100%;
      @include fontFun(18px, white);
      vertical-align: middle;
      &.icon {
        width: 18px;
        margin-right: 13px;
        background: url("/newAdmin/images/modal-ok.png") no-repeat 0 16px;
      }
    }
    background-color: $buttonBlue;
    &.hover {
      background-color: $buttonBlueHover;
    }
    &.disabled {
      background-color: $buttonDisable;
      cursor: default;
    }
  }
  button.cancel{
    cursor: pointer;
    width: 250px;
    height: 49px;
    line-height: 49px;
    font-size: 0;
    text-align: center;
    span {
      display: inline-block;
      height: 100%;
      @include fontFun(18px,#4089FB);
      vertical-align: middle;
      &.icon {
        width: 18px;
        margin-right: 13px;
        background: url("/newAdmin/images/modal-cancel.png") no-repeat 0 16px;
      }
    }
    background-color: white;
    &.hover {
      background-color: #D0E2FF;
    }
    &.disabled {
      background-color: $buttonDisable;
      cursor: default;
    }
  }
}
.radio-wrap {
  float: left;
  height: 30px;
  line-height: 30px;
  margin-right: 50px;
}
.radio {
  position: relative;
  margin-right: 11px;
  float: left;
  padding: 0;
  width: 20px;
  height: 30px;
  background: url("/newAdmin/images/radio.png") no-repeat 3px 7px;
  &.selected {
    background: url("/newAdmin/images/radio-select.png") no-repeat 3px 7px;
  }
}
input[type=radio] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  width: 20px;
  height: 30px;
  display: block;
  padding: 0;
  margin: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.checkbox {
  position: relative;
  margin-right: 11px;
  float: left;
  padding: 0;
  width: 20px;
  height: 30px;
  background: url("/newAdmin/images/checkbox.png") no-repeat 3px 7px;
  &.selected {
    background: url("/newAdmin/images/checkbox-select.png") no-repeat 3px 7px;
  }
  &.disabled-empty {
    cursor: default;
    background: url("/newAdmin/images/checkbox-disable-empty.png") no-repeat 3px 7px;
  }
  &.disabled {
    cursor: default;
    background: url("/newAdmin/images/checkbox-disable.png") no-repeat 3px 7px;
  }
}
input[type=checkbox] {
  &:disabled {
    cursor: default;
  }
  cursor: pointer;
  opacity: 0;
  position: absolute;
  width: 20px;
  height: 30px;
  display: block;
  padding: 0;
  margin: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.page.list{
  min-width: 1100px;
  .list-search{
    &:after{
      @include clear;
    }
    width: 1020px;
  }
  .subtitle{
    @include fontFun(16px,$color);
  }
  .list-left{
    float: left;
    width:800px;
  }
  .list-left-buttons{
    margin-top: 32px;
    height: 40px;
    &:after{
      @include clear;
    }
    button{
      width: 180px;
      height: 40px;
      border:1px solid $buttonBlue;
      color:$buttonBlue;
      background-color: white;
      border-radius: 6px;
      font-size: 16px;
      cursor: pointer;
      margin-left: 20px;
      &:first-child{
        margin-left: 0;
      }
      &.hover{
        background-color:#D0E2FF;
      }
      &.disabled{
        cursor:default;
        border-color:#BCC1C8;
        color:#BCC1C8;
        background-color: #F1F1F1;
      }
    }
  }
  .list-left-item{
    margin-top: 14px;
    &:after{
      @include clear;
    }
    span.label{
      position: absolute;
      width: 120px;
      left:0;
      top:0;
      @include fontFun(16px,$color);
      height: 30px;
      line-height: 30px;
    }
    .dropdown{
      background-color:white;
    }
    input{
      height: 30px;
      padding: 6px 10px;
      border: 1px solid #D2D5D9;
      border-radius: 4px;
      width: 100%;
    }
     div.full,div.half{
       position: relative;
       padding-left:120px;
     }
    div.half{
      float: left;
      width: 380px;
      &:first-child{
        margin-right: 40px;
      }
    }
  }
  .list-right{
    float: left;
    width: 180px;
    margin-left: 40px;
    .search-button,.add-button{
      cursor: pointer;
      width: 180px;
      margin-top: 15px;
      height: 76px;
      line-height: 76px;
      font-size: 0;
      text-align: center;
      background-color: $buttonBlue;
      border-radius: 6px;
      &.hover{
        background-color: $buttonBlueHover;
      }
      &.disabled{
        background-color: $buttonDisable;
      }
      span {
        display: inline-block;
        height: 100%;
        @include fontFun(18px, white);
        vertical-align: middle;
        &.icon {
          width: 18px;
          margin-right: 13px;
          background: url("/newAdmin/images/search-button.png") no-repeat 0 27px;
        }
      }
    }
    .add-button{
      span.icon{
        width: 22px;
        background-image: url("/newAdmin/images/add-button.png");
      }
    }
  }
}
table{
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-top: 70px;
}
thead{
  background-color: #D3D9E1;
  th{
    padding: 12px 0;
    &.up,&.down{
      cursor: pointer;
      .icon{
        width: 15px;
        margin-left: 5px;
        height: 15px;
      }
    }
    &.up span.icon{
      background: url("/newAdmin/images/table-up.png") no-repeat center;
    }
    &.down span.icon{
      background: url("/newAdmin/images/table-down.png") no-repeat center;
    }
    div{
      display: block;
      line-height: 21px;
      font-size: 0;
      border-left:1px solid $color;
      text-align: center;
      span{
        display: inline-block;
        height: 100%;
        @include fontFun(14px,$color);
        vertical-align: middle;
      }
    }
    &:first-child{
      div{
        border-left: 0;
      }
    }
  }
}
tbody{
  tr{
    background-color: white;
    &.selected{
      background-color: #FE1A65;
      td{
        color:white;
        a {
          color:white;
          text-decoration: none;
        }
        a:link, a:visited, a:hover, a:active {
          text-decoration: none;
        }
      }
    }
    td{
      .checkbox{
        float: none;
        display: inline-block;
        margin: 0;
        &.selected{
          background-image: url('/newAdmin/images/checkbox-checked.png');
        }
      }
      border-bottom:1px solid #D2D5D9;
      border-left:1px solid #D2D5D9;
      padding: 20px 10px;
      @include fontFun(14px,$color);
      a{
        @include fontFun(14px,$buttonBlue);
        margin-right: 11px;
        text-decoration: underline;
        display: inline-block;
      }
      a:link, a:visited, a:hover, a:active {
        text-decoration: underline;
      }
      &.center{
        text-align: center;
      }
      &:first-child{
        border-left: 0;
      }
    }
  }
}
.pagination-content{
  margin-top: 20px;
  &:after{
    @include clear;
  }
  .total{
    float: left;
    @include fontFun(14px,$color);
  }
  .pagination-items{
    float: right;
    margin-right: 30px;
    font-size: 0;
    ul{
      display: inline-block;
      vertical-align: middle;
      list-style: none;
    }
    li{
      display: inline;
      list-style: none;
      vertical-align: middle;
      font-size: 0;
      a{
        vertical-align: middle;
        padding: 5px 10px;
        @include fontFun(14px,$color);
      }
      margin-right: 5px;
      cursor: pointer;
      a.prev ,a.next{
        padding: 5px 20px;
        border:1px solid $buttonBlue;
        color:$buttonBlue;
        background-color: white;
        border-radius: 6px;
        font-size: 14px;
        cursor: pointer;
        margin-right: 5px;
        vertical-align: middle;
        &.hover{
          background-color:#D0E2FF;
        }
        &.disabled{
          border-color: #BCC1C8;
          background-color: #F1F1F1;
          color:#BCC1C8;
        }
      }
      &.active a{
        color:white;
        background-color: #4089FB;
        border-radius: 6px;
      }
    }
  }
}

.confirm-bg{
  position: fixed;
  z-index:1060;
  overflow: auto;
  overflow-y: scroll;
  outline: 0;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  .confirm-container{
    background-color: white;
    width: 300px;
    margin: 100px auto;
  }
  .confirm-content{
    padding: 29px 10px ;
    text-align: center;
    @include fontFun(16px,$color);
  }
  .confirm-footer{
    button.ok{
      width: 180px;
    }
    button.cancel{
      width: 120px;
    }
  }
}