<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q3/css/pinwanPkgDetail.scss?__inline" media="screen" title="no title" charset="utf-8">
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header>
            <div class="back"></div>
            <div class="center">车票详情</div>
        </header>
        <footer>
            <a href="javascript:void(0);" class="collection">收藏</a>
            <a href="tel:18628245639" class="advisory">咨询</a>
            <a href="" class="buyNow">我要参与</a>
        </footer>
        <div class="page-content ">
            <div class="tourism-info">
                <div class="head-img">
                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/71d14492a62e3351fad65137ddde052d.png!middle320"
                         alt="">
                    <div class="tips-wp">
                        <i></i>
                        <div class="tips">出行时间  2016.07.23</div>
                        <div class="tips-cover"></div>
                    </div>
                </div>
                <div class="infos">
                    <h5>成都都江堰青城山单程巴士城山单程巴士城山单程巴</h5>
                    <p>套餐名称好吃好吃的九寨好吃的九寨好吃</p>
                    <div class="bottom-info end">
                        <div class="left">
                            <div class="process-nav">
                                <div class="process"></div>
                            </div>
                            <p>已售19％ <span>3444人参与</span></p>
                        </div>
                        <div class="right">
                            <p>距离结束仅剩 <span>3天</span></p>
                            <div class="countDown">
                                <span>29</span> : <span>14</span> : <span>55</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="func">
                <ul>
                    <li><i></i>扫码上车</li>
                    <li><i></i>提前选座</li>
                    <li><i></i>免费讲解</li>
                    <li><i></i>直达景区</li>
                </ul>
            </div>
            <div class="contains">
                <div class="title">套餐包含</div>
                <ul>
                    <li>
                        <i class="ticket"></i>
                        <p>门票</p>
                    </li>
                    <li>
                        <i class="hotel"></i>
                        <p>住宿：九寨沟民族风情客栈九寨沟民族风情客栈风情客栈九寨沟民族风情客栈</p>
                    </li>
                    <li>
                        <i class="catering"></i>
                        <p>残影</p>
                    </li>
                    <li>
                        <i class="activity"></i>
                        <p>娱乐</p>
                    </li>
                    <li>
                        <i class="gift"></i>
                        <p>伴手礼</p>
                    </li>
                    <li>
                        <i class="shuttleBus"></i>
                        <p>接驳车</p>
                    </li>
                    <li>
                        <i></i>
                        <p>车票：07:00（成都）－17:30（九寨沟）</p>
                    </li>


                </ul>
            </div>
            <div class="tourism-detail">
                <div class="departureTime turnTo" href="#busTimes">发车时间：<span>07:00  08:00  09:00 07:00  08:00  09:00</span></div>
                <div class="evaluation turnTo" href="#evaluationBox">
                    <div class="stars">
                        <ul>
                            <li class="selected"></li>
                            <li class="half"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    22人点评
                </div>
            </div>
            <div class="tabs">
                <div class="introductions-tab selected">行程说明</div>
                <div class="booking-tab">预订需知</div>
            </div>
            <div class="introductions">
                <div class="tourism-days">
                    <div class="tourism-day">
                        <div class="day">DAY 1</div>
                        <div class="destination">成都</div>
                        <div class="tourism-content">
                            <p>都江堰是世界文化遗产（2000年被联合国教科文组织列入“世界文化遗产”名录），世界自都江堰是世界文化遗产，世界自都江堰是世界文化遗文化遗文化遗产。</p>
                        </div>
                        <div class="destination">成都</div>
                        <div class="tourism-content">
                            <h5>都江堰</h5>
                            <img src="/master-Q3/images/defalut-img@588250.png" alt="">
                            <p>都江堰是世界文化遗产（2000年被联合国教科文组织列入“世界文化遗产”名录），世界自都江堰是世界文化遗产，世界自都江堰是世界文化遗文化遗文化遗产。</p>
                        </div>
                    </div>
                    <div class="tourism-day">
                        <div class="day">DAY 2</div>
                        <div class="destination">成都</div>
                        <div class="tourism-content">
                            <h5>都江堰</h5>
                            <img src="/master-Q3/images/defalut-img@588250.png" alt="">
                            <p>都江堰是世界文化遗产（2000年被联合国教科文组织列入“世界文化遗产”名录），世界自都江堰是世界文化遗产，世界自都江堰是世界文化遗文化遗文化遗产。</p>
                        </div>
                    </div>
                    <div class="tourism-day">
                        <div class="day">THE END</div>
                    </div>
                </div>
            </div>
            <div class="booking hide">
                <h5>费用包含的项目</h5>
                <p>如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。</p>
                <h5>费用包含的项目</h5>
                <p>如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。</p>
                <h5>费用包含的项目</h5>
                <p>如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        if (!doc.addEventListener) return;
        recalc();
        var a = document.getElementsByTagName('a');
        for(var i = 0; i < a.length; i++){
            a[i].addEventListener('touchstart',function(){},false);
        }
        document.body.style.visibility = 'visible';
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script type="text/javascript" src="/common/js/pages.js"></script>
<script type="text/javascript" src="/common/js/scroll.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        /* ============================================
         这里判断如果是ios则使用sticky布局
         ============================================== */
        if(window.navigator.userAgent.indexOf('Mac OS X') != '-1'){
            $('.tabs').addClass('sticky');
        }else{
            $('.page-content').scroll(function() {
                var origOffsetY = document.querySelector('.introductions').offsetTop - $('.tabs').height();
                if(document.querySelector('.page-content').scrollTop >= origOffsetY ) {
                    $('.tabs').css({'position':'fixed',top:'2rem','margin-top':'4px'})
                } else {
                    $('.tabs').css({'position':'relative',top:'0','margin-top':'.7rem'})
                }
            });
        }
        // 点击返回按钮
        $('header .back').click(function() {
            history.go(-1);
        });
        // 点击返回按钮
        $('.search-bar .back').click(function() {
            history.go(-1);
        });
        // 展示行程说明
        $('.introductions-tab').click(function() {
            var $this = $(this);
            if(!$this.hasClass('selected')) {
                $('.tabs div').removeClass('selected');
                $this.addClass('selected');
                $('.introductions').removeClass('hide');
                $('.booking').addClass('hide');
            }
        });
        // 展示预订须知
        $('.booking-tab').click(function() {
            var $this = $(this);
            if(!$this.hasClass('selected')) {
                $('.tabs div').removeClass('selected');
                $this.addClass('selected');
                $('.booking').removeClass('hide');
                $('.introductions').addClass('hide');
            }
        });

        /* ============================================
         点击去购买按钮
         ============================================== */
        $('.buyNow').click(function(e) {
            e.preventDefault();
            $('.cover').show();
            $('.pay-info').addClass('show');
        });
        $('.close-icon').click(function() {
            setTimeout(function() {
                $('.cover').hide();
            },200);
            $('.pay-info').removeClass('show');
        })
        $('.select-times li').click(function () {
            $('.select-times li').removeClass('selected');
            $(this).addClass('selected');
        });
        /* ============================================
         点击去购买按钮
         ============================================== */

    })
</script>
</body>
</html>
