<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q3/css/destinationChange.scss?__inline" media="screen" title="no title" charset="utf-8">
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header>
            <div class="back"></div>
            <div class="center">坐巴士去哪儿</div>
        </header>
        <div class="page-content">
            <div class="destinations">
                <div class="destination">
                    <img src="/master-Q3/images/sichuan.png" alt="">
                    <h5>- 四川 -</h5>
                    <p>富饶的土地、闲适的人民、大美的风景</p>
                </div>
                <div class="destination">
                    <img src="/master-Q3/images/chongqing.png" alt="">
                    <h5>- 重庆 -</h5>
                    <p>巴山夜雨古辽州，梦幻霓虹今重庆</p>
                </div>
                <div class="destination">
                    <img src="/master-Q3/images/taiguo.png" alt="">
                    <h5>- 泰国 -</h5>
                    <p>天使之城，购物天堂</p>
                </div>
                <div class="destination waiting">
                    <img src="/master-Q3/images/yunnan.png" alt="">
                    <div class="title">即将开始</div>
                    <div class="icon">
                        <img src="/master-Q3/images/yunnan_icon@2x.png" alt="">
                    </div>
                    <h5>- 云南 -</h5>
                    <p>灵秀熊猫故乡、神秘九寨</p>
                </div>
            </div>
            <div class="bottom-logo">
                <div class="img-wrapper">
                    <img src="/master-Q3/images/icon/bus_bottom@2x.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        if (!doc.addEventListener) return;
        recalc();
        var a = document.getElementsByTagName('a');
        for(var i = 0; i < a.length; i++){
            a[i].addEventListener('touchstart',function(){},false);
        }
        document.body.style.visibility = 'visible';
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // 点击返回按钮
        $('.search-bar .back').click(function() {
            history.go(-1);
        });

    })
</script>
</body>
</html>
