<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q3/css/orderBus.scss?__inline" media="screen" title="no title" charset="utf-8">
</head>
<body>
<div class="page-group">
    <!--一个页面,如果有多个就是多个page,要首先显示的需要加上page-current类-->
    <div class="page page-current">
        <div class="page-content content" data-toggle="scroller" data-type="js">
            <div class="search-wrapper">
                <div class="start turnTo" href="#tab-depart">
                    <div class="bc"></div>
                    <label for="">出发地</label>
                    <div class="line"></div>
                    <div class="name">成都</div>
                </div>
                <div class="destination turnTo" href="#tab-arrive">
                    <div class="bc"></div>
                    <label for="">目的地</label>
                    <div class="line"></div>
                    <div class="name">九寨</div>
                </div>
                <div class="search-button">
                    去搜索
                </div>
            </div>
            <div class="recommend">
                <h5>热门巴士自由行套餐推荐</h5>
                <div class="pkg-item">
                    <div class="head-image">
                        <img data-src="http://images.simpletour.com/simpletour/images/wechat_home/cc25479b9e2f87ea81e8fb1eb76cacde.jpg!middle320" src="/master-Q3/images/defalut-img@588250.png" alt="">
                    </div>
                    <div class="decorate">
                        <div class="left-circle"></div>
                        <div class="right-circle"></div>
                    </div>
                    <p>套餐名称好吃好吃的九寨沟豪华十八人七天五夜巴士车套餐</p>
                    <div class="price">
                        <span class="left">¥1299.99</span>
                        <span class="right">原件:¥1299.99</span>
                    </div>
                    <div class="tags">
                        <span>app专享价</span>
                        <span>特价</span>
                    </div>
                </div>

                <div class="pkg-item">
                    <div class="head-image">
                        <img data-src="http://images.simpletour.com/simpletour/images/wechat_home/783ca3272f455de77c64bf88e1bf848c.png!middle320" src="/master-Q3/images/defalut-img@588250.png" alt="">
                    </div>
                    <div class="decorate">
                        <div class="left-circle"></div>
                        <div class="right-circle"></div>
                    </div>
                    <p>套餐名称好吃好吃的九寨沟豪华十八人七天五夜巴士车套餐</p>
                    <div class="price">
                        <span class="left">¥1299.99</span>
                        <span class="right">原价:¥1299.99</span>
                    </div>
                    <div class="tags">
                        <span>app专享价</span>
                        <span>特价</span>
                    </div>
                </div>
                <div class="pkg-item">
                    <div class="head-image">
                        <img data-src="http://images.simpletour.com/simpletour/images/wechat_home/fef0f95e507b9962a4547c7ecb19026b.jpg!middle320" src="/master-Q3/images/defalut-img@588250.png" alt="">
                    </div>
                    <div class="decorate">
                        <div class="left-circle"></div>
                        <div class="right-circle"></div>
                    </div>
                    <p>套餐名称好吃好吃的九寨沟豪华十八人七天五夜巴士车套餐</p>
                    <div class="price">
                        <span class="left">¥1299.99</span>
                        <span class="right">原价:¥1299.99</span>
                    </div>
                    <div class="tags">
                        <span>app专享价</span>
                        <span>特价</span>
                    </div>
                </div>

                <div class="pkg-item">
                    <div class="head-image">
                        <img data-src="http://images.simpletour.com/simpletour/images/wechat_home/c44555f288921145a3e3a3c694f2a56e.png!middle320" src="/master-Q3/images/defalut-img@588250.png" alt="">
                    </div>
                    <div class="decorate">
                        <div class="left-circle"></div>
                        <div class="right-circle"></div>
                    </div>
                    <p>套餐名称好吃好吃的九寨沟豪华十八人七天五夜巴士车套餐</p>
                    <div class="price">
                        <span class="left">¥1299.99</span>
                        <span class="right">原价:¥1299.99</span>
                    </div>
                    <div class="tags">
                        <span>app专享价</span>
                        <span>特价</span>
                    </div>
                </div>

                <div class="pkg-item">
                    <div class="head-image">
                        <img data-src="http://images.simpletour.com/simpletour/images/wechat_home/783ca3272f455de77c64bf88e1bf848c.png!middle320" src="/master-Q3/images/defalut-img@588250.png" alt="">
                    </div>
                    <div class="decorate">
                        <div class="left-circle"></div>
                        <div class="right-circle"></div>
                    </div>
                    <p>套餐名称好吃好吃的九寨沟豪华十八人七天五夜巴士车套餐</p>
                    <div class="price">
                        <span class="left">¥1299.99</span>
                        <span class="right">原价:¥1299.99</span>
                    </div>
                    <div class="tags">
                        <span>app专享价</span>
                        <span>特价</span>
                    </div>
                </div>

                <div class="pkg-item">
                    <div class="head-image">
                        <img data-src="http://images.simpletour.com/simpletour/images/wechat_home/13435686797059d21f63c30d81eae2de.jpg!middle320" src="/master-Q3/images/defalut-img@588250.png" alt="">
                    </div>
                    <div class="decorate">
                        <div class="left-circle"></div>
                        <div class="right-circle"></div>
                    </div>
                    <p>套餐名称好吃好吃的九寨沟豪华十八人七天五夜巴士车套餐</p>
                    <div class="price">
                        <span class="left">¥1299.99</span>
                        <span class="right">原价:¥1299.99</span>
                    </div>
                    <div class="tags">
                        <span>app专享价</span>
                        <span>特价</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page " id="tab-depart">
        <div class="page-content">
            <div class="search-bar">
                <div class="back"></div>
                <div class="search-input">
                    <label></label>
                    <input oninput="filterResult(event)" type="text" name="search" placeholder="请输入目的地／景点／酒店" />
                    <div class="click-zone"></div>
                </div>
                <div class="cancel">
                    搜索
                </div>
            </div>
            <div class="search-result">

            </div>
            <div class="navBar">
                <ul>
                    <li class="selected">四川 <div class="bottom-line"></div></li>
                    <li>重庆 <div class="bottom-line"></div></li>
                    <li>云南 <div class="bottom-line"></div></li>
                    <li>泰国 <div class="bottom-line"></div></li>
                </ul>
            </div>
            <div class="hot-space">
                <h5>热门</h5>
                <ul>
                    <li>成都</li>
                    <li>峨眉山</li>
                    <li>九寨沟</li>
                    <li>熊猫基地</li>
                    <li class="selected">若尔盖草原测试</li>
                    <li>乐山</li>
                </ul>
            </div>
            <div class="place-list">
                <div class="item-wrap">
                    <div class="letter">A</div>
                    <ul>
                        <li class="selected">成都到九寨沟</li>
                        <li class="active">峨眉山</li>
                        <li>leshan</li>
                        <li>安师大</li>
                    </ul>
                </div>

                <div class="item-wrap">
                    <div class="letter">B</div>
                    <ul>
                        <li>成都到九寨沟</li>
                        <li>峨眉山</li>
                        <li>leshan</li>
                        <li>安师大</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="page " id="tab-arrive">
        <div class="page-content">
            <div class="search-bar">
                <div class="back"></div>
                <div class="search-input">
                    <label></label>
                    <input oninput="filterResult(event)" type="text" name="search" placeholder="请输入目的地／景点／酒店" />
                    <div class="click-zone"></div>
                </div>
                <div class="cancel">
                    搜索
                </div>
            </div>
            <div class="search-result">

            </div>
            <div class="navBar">
                <ul>
                    <li class="selected">四川 <div class="bottom-line"></div></li>
                    <li>重庆 <div class="bottom-line"></div></li>
                    <li>云南 <div class="bottom-line"></div></li>
                    <li>泰国 <div class="bottom-line"></div></li>
                </ul>
            </div>
            <div class="hot-space">
                <h5>热门</h5>
                <ul>
                    <li>成都</li>
                    <li>峨眉山</li>
                    <li>九寨沟</li>
                    <li>熊猫基地</li>
                    <li class="selected">若尔盖草原测试</li>
                    <li>乐山</li>
                </ul>
            </div>
            <div class="place-list">
                <div class="item-wrap">
                    <div class="letter">A</div>
                    <ul>
                        <li class="selected">成都到九寨沟</li>
                        <li class="active">峨眉山</li>
                        <li>leshan</li>
                        <li>安师大</li>
                    </ul>
                </div>

                <div class="item-wrap">
                    <div class="letter">B</div>
                    <ul>
                        <li>成都到九寨沟</li>
                        <li>峨眉山</li>
                        <li>leshan</li>
                        <li>安师大</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        if (!doc.addEventListener) return;
        recalc();
        document.body.style.visibility = 'visible';
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script type="text/javascript" src="/common/js/scroll.js"></script>
<script type="text/javascript" src="/common/js/lazyLoad.js"></script>
<script type="text/javascript" src="/common/js/pages.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // 初始化page
        $('.page-group').pageInit({
            router : '.turnTo' ,//router的className
            routerFun : function(){}
        });
        // 点击返回按钮
        $('.search-bar .back').click(function() {
            history.go(-1);
        });
        $.lazyload({
            visibleZone: '.page-content'
        });
    })
</script>
</body>
</html>
