<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q3/css/pkgDetail.scss?__inline" media="screen" title="no title" charset="utf-8">
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header>
            <div class="back"></div>
            <div class="center">车票详情</div>
        </header>
        <footer>
            <a href="javascript:void(0);" class="collection">收藏</a>
            <a href="tel:18628245639" class="advisory">电话咨询</a>
            <a class="online">在线咨询</a>
            <a href="" class="buyNow">去购买</a>
        </footer>
        <div class="cover"></div>
        <div class="pay-info">
            <div class="tourism-pay-info">
                <div class="left">
                    <img src="/master-Q3/images/icon/freebuy_scenic@2x.png" alt="">
                </div>
                <div class="right">
                    <div class="tourism-name">
                        西岭雪山风景风景西岭雪山风景风景
                    </div>
                    <div class="close-icon">
                        <img src="/master-Q3/images/icon/combined_normal@2x.png" alt="">
                    </div>
                    <div class="now-price">¥23009.99</div>
                    <div class="old-price">原价：¥300</div>
                </div>
            </div>
            <div class="select-times">
                <h5>选择发车时间</h5>
                <ul>
                    <li>07:00</li>
                    <li>07:00</li>
                    <li>07:00</li>
                    <li class="last ">08:00</li>
                    <li>07:00</li>
                    <li>07:00</li>
                    <li>07:00</li>
                    <li class="last ">08:00</li>
                    <li>07:00</li>
                    <li>07:00</li>
                    <li>07:00</li>
                    <li class="last">08:00</li>
                    <li>07:00</li>
                    <li>07:00</li>
                    <li>07:00</li>
                    <li class="last ">08:00</li>
                    <li>07:00</li>
                    <li>07:00</li>
                    <li>07:00</li>
                    <li class="last ">08:00</li>
                </ul>
            </div>
            <div class="buy-btn">
                去购买
            </div>
        </div>
        <div class="page-content ">
            <div class="tourism-info">
                <div class="head-img">
                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/f9bc80dbef637a7d9d0b738fe61fd16b.jpg!middle320"
                         alt="">
                    <div class="tips-wp">
                        <i></i>
                        <div class="tips">需要提前一天预订</div>
                        <div class="tips-cover"></div>
                    </div>
                </div>
                <div class="infos">
                    <h5>成都都江堰青城山单程巴士城山单程巴士城山单程巴</h5>
                    <div class="price">
                        ¥12999.99
                        <div class="tags">
                            <span>app专享价</span>
                            <span>特价</span>
                        </div>
                    </div>
                    <div class="bottom-info">
                        <div class="shuttle single">
                            <i></i>
                            往返车票
                        </div>
                        <div class="days">
                            <i></i>
                            1日行程
                        </div>
                        <div class="sold">
                            <i></i>
                            以售卖999份
                        </div>
                    </div>
                </div>
            </div>
            <div class="func">
                <ul>
                    <li><i></i>扫码上车</li>
                    <li><i></i>提前选座</li>
                    <li><i></i>免费讲解</li>
                    <li><i></i>直达景区</li>
                </ul>
            </div>
            <div class="contains">
                <div class="title">套餐包含</div>
                <ul>
                    <li>
                        <i class="ticket"></i>
                        <p>门票</p>
                    </li>
                    <li>
                        <i class="hotel"></i>
                        <p>住宿：九寨沟民族风情客栈九寨沟民族风情客栈风情客栈九寨沟民族风情客栈</p>
                    </li>
                    <li>
                        <i class="catering"></i>
                        <p>残影</p>
                    </li>
                    <li>
                        <i class="activity"></i>
                        <p>娱乐</p>
                    </li>
                    <li>
                        <i class="gift"></i>
                        <p>伴手礼</p>
                    </li>
                    <li>
                        <i class="shuttleBus"></i>
                        <p>接驳车</p>
                    </li>
                    <li>
                        <i></i>
                        <p>车票：07:00（成都）－17:30（九寨沟）</p>
                    </li>


                </ul>
            </div>
            <div class="tourism-detail">
                <div class="departureTime turnTo" href="#busTimes">发车时间：<span>07:00  08:00  09:00 07:00  08:00  09:00</span></div>
                <div class="evaluation turnTo" href="#evaluationBox">
                    <div class="stars">
                        <ul>
                            <li class="selected"></li>
                            <li class="half"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    22人点评
                </div>
            </div>
            <div class="tabs">
                <div class="introductions-tab selected">行程说明</div>
                <div class="booking-tab">预订需知</div>
            </div>
            <div class="introductions">
                <div class="tourism-days">
                    <div class="tourism-day">
                        <div class="day">DAY 1</div>
                        <div class="destination">成都</div>
                        <div class="tourism-content">
                            <p>都江堰是世界文化遗产（2000年被联合国教科文组织列入“世界文化遗产”名录），世界自都江堰是世界文化遗产，世界自都江堰是世界文化遗文化遗文化遗产。</p>
                        </div>
                        <div class="destination">成都</div>
                        <div class="tourism-content">
                            <h5>都江堰</h5>
                            <p>都江堰是世界文化遗产（2000年被联合国教科文组织列入“世界文化遗产”名录），世界自都江堰是世界文化遗产，世界自都江堰是世界文化遗文化遗文化遗产。</p>
                        </div>
                    </div>
                    <div class="tourism-day">
                        <div class="day">DAY 2</div>
                        <div class="destination">成都</div>
                        <div class="tourism-content">
                            <p>成都市体育中心集合乘车</p>
                        </div>
                    </div>
                    <div class="tourism-day">
                        <div class="day">THE END</div>
                    </div>
                </div>
            </div>
            <div class="booking hide">
                <h5>费用包含的项目</h5>
                <p>如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。</p>
                <h5>费用包含的项目</h5>
                <p>如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。</p>
                <h5>费用包含的项目</h5>
                <p>如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。</p>
            </div>
        </div>
    </div>
    <div class="page" id="busTimes">
        <header>
            <div class="back"></div>
            <div class="center">发车时刻表</div>
        </header>
        <div class="page-content">
            <div class="time-navBar">
                <div class="time selected" data-times="7:00">7:00</div>
                <div class="time" data-times="8:00">8:00</div>
                <div class="time" data-times="12:00">12:00</div>
            </div>
            <div class="time-table">
                <div data-times="7:00" class="busTime tourism-days current">
                    <div class="tourism-day">
                        <div class="day">DAY 1</div>
                        <div class="destination">成都
                            <div class="times">07:00</div></div>
                        <div class="tourism-content">
                            <p>成都市体育中心集合乘车</p>
                        </div>
                        <div class="destination">成都
                            <div class="times">08:00</div></div>
                        <div class="tourism-content">
                            <p>成都市体育中心集合乘车</p>
                        </div>
                    </div>
                    <div class="tourism-day">
                        <div class="day">DAY 2</div>
                        <div class="destination">成都
                            <div class="times">09:00</div>
                        </div>
                        <div class="tourism-content">
                            <p>成都市体育中心集合乘车</p>
                        </div>
                    </div>
                    <div class="tourism-day">
                        <div class="day">THE END</div>
                    </div>
                </div>
                <div data-times="8:00" class="busTime tourism-days next ">
                    <div class="tourism-day">
                        <div class="day">DAY 1</div>
                        <div class="destination">成都
                            <div class="times">08:00</div></div>
                        <div class="tourism-content">
                            <p>成都市体育中心集合乘车</p>
                        </div>
                        <div class="destination">成都
                            <div class="times">08:00</div></div>
                        <div class="tourism-content">
                            <p>成都市体育中心集合乘车</p>
                        </div>
                    </div>
                    <div class="tourism-day">
                        <div class="day">DAY 2</div>
                        <div class="destination">成都
                            <div class="times">09:00</div>
                        </div>
                        <div class="tourism-content">
                            <p>成都市体育中心集合乘车</p>
                        </div>
                    </div>
                    <div class="tourism-day">
                        <div class="day">THE END</div>
                    </div>
                </div>
                <div data-times="12:00" class="busTime tourism-days next ">
                    <div class="tourism-day">
                        <div class="day">DAY 1</div>
                        <div class="destination">成都
                            <div class="times">12:00</div></div>
                        <div class="tourism-content">
                            <p>成都市体育中心集合乘车</p>
                        </div>
                        <div class="destination">成都
                            <div class="times">08:00</div></div>
                        <div class="tourism-content">
                            <p>成都市体育中心集合乘车</p>
                        </div>
                    </div>
                    <div class="tourism-day">
                        <div class="day">DAY 2</div>
                        <div class="destination">成都
                            <div class="times">09:00</div>
                        </div>
                        <div class="tourism-content">
                            <p>成都市体育中心集合乘车</p>
                        </div>
                    </div>
                    <div class="tourism-day">
                        <div class="day">THE END</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page " id="evaluationBox">
        <header>
            <div class="back"></div>
            <div class="center">旅客评价</div>
        </header>
        <div data-toggle="scroller" data-type="js" class="page-content content infinite-scroll infinite-scroll-bottom" data-distance="30">
            <div class="evaluations">
                <div class="evaluation">
                    <div class="stars">
                        <ul>
                            <li class="selected"></li>
                            <li class="selected"></li>
                            <li class="selected"></li>
                            <li class="half"></li>
                            <li></li>
                        </ul>
                    </div>
                    4.5星
                    <div class="evaluation-nums">
                        22人评价
                    </div>
                </div>
            </div>

            <div class="comments">
                <div class="comment">
                    <div class="title">
                        <div class="avatar">
                            <img src="/master-Q3/images/icon/china_icon@2x.png" alt="">
                        </div>
                        <div class="infos">
                            <div class="userName">杨明昆</div>
                            <div class="date">2016-4-1</div>
                        </div>
                        <div class="stars">
                            <ul>
                                <li class="selected"></li>
                                <li class="selected"></li>
                                <li class="selected"></li>
                                <li class="selected"></li>
                                <li class="half"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="comment-content">
                        <p>首先感谢🙏简途为我们这些爱完的人士专门打造的方案，非常满意的一次车程，而且直接到西岭雪山脚下，非常实惠又方便，似导游非导游的工作人员们辛苦了，物超所值，旅行首选😄😄期待更多的旅游。</p>
                    </div>
                    <div class="bottom-imgs">
                        <div class="img-wp">
                            <img src="/master-Q3/images/icon/freebuy_catering_icon@2x.png" alt="">
                        </div>
                        <div class="img-wp">
                            <img src="/master-Q3/images/icon/freebuy_gift_icon@2x.png" alt="">
                        </div>
                        <div class="img-wp">
                            <img src="/master-Q3/images/icon/freebuy_product_features@2x.png" alt="">
                        </div>
                        <div class="img-wp">
                            <div class="more-cover"></div>
                            <div class="more">共7张</div>
                            <img src="/master-Q3/images/icon/freebuy_entertainment_icon@2x.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="title">
                        <div class="avatar">
                            <img src="/master-Q3/images/icon/china_icon@2x.png" alt="">
                        </div>
                        <div class="infos">
                            <div class="userName">我是一个名字很长的藏族人</div>
                            <div class="date">2016-4-1</div>
                        </div>
                        <div class="stars">
                            <ul>
                                <li class="selected"></li>
                                <li class="selected"></li>
                                <li class="selected"></li>
                                <li class="selected"></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="comment-content">
                        <p>首先感谢🙏简途为我们这些爱完的人士专门打造的方案，非常满意的一次车程，而且直接到西岭雪山脚下，非常实惠又方便，似导游非导游的工作人员们辛苦了，物超所值，旅行首选😄😄期待更多的旅游。</p>
                    </div>
                    <div class="bottom-imgs">
                        <div class="img-wp">
                            <img src="/master-Q3/images/icon/freebuy_catering_icon@2x.png" alt="">
                        </div>
                        <div class="img-wp">
                            <img src="/master-Q3/images/icon/freebuy_gift_icon@2x.png" alt="">
                        </div>
                        <div class="img-wp">
                            <img src="/master-Q3/images/icon/freebuy_product_features@2x.png" alt="">
                        </div>
                        <div class="img-wp">
                            <div class="more-cover"></div>
                            <div class="more">共7张</div>
                            <img src="/master-Q3/images/icon/freebuy_entertainment_icon@2x.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="bottom-logo">
                <div class="img-wrapper">
                    <img src="/master-Q3/images/icon/bus_bottom@2x.png" alt="">
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        if (!doc.addEventListener) return;
        recalc();
        var a = document.getElementsByTagName('a');
        for(var i = 0; i < a.length; i++){
            a[i].addEventListener('touchstart',function(){},false);
        }
        document.body.style.visibility = 'visible';
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script type="text/javascript" src="/common/js/pages.js"></script>
<script type="text/javascript" src="/common/js/scroll.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        /* ============================================
         这里判断如果是ios则使用sticky布局
         ============================================== */
        if(window.navigator.userAgent.indexOf('Mac OS X') != '-1'){
            $('.tabs').addClass('sticky');
        }else{
            $('.page-content').scroll(function() {
                var origOffsetY = document.querySelector('.introductions').offsetTop - $('.tabs').height();
                if(document.querySelector('.page-content').scrollTop >= origOffsetY ) {
                    $('.tabs').css({'position':'fixed',top:'2rem','margin-top':'4px'})
                } else {
                    $('.tabs').css({'position':'relative',top:'0','margin-top':'.7rem'})
                }
            });
        }
        // 初始化page
        $('.page-group').pageInit({
            router : '.turnTo' ,//router的className
            routerFun : function(){}
        });
        $('.evaluation.turnTo').click(function() {
            setTimeout(function() {
                $(".content.infinite-scroll").scroller('refresh');
                $.initPage();
            },400)
        });
        // 点击返回按钮
        $('header .back').click(function() {
            history.go(-1);
        });
        // 点击返回按钮
        $('.search-bar .back').click(function() {
            history.go(-1);
        });
        // 展示行程说明
        $('.introductions-tab').click(function() {
            var $this = $(this);
            if(!$this.hasClass('selected')) {
                $('.tabs div').removeClass('selected');
                $this.addClass('selected');
                $('.introductions').removeClass('hide');
                $('.booking').addClass('hide');
            }
        });
        // 展示预订须知
        $('.booking-tab').click(function() {
            var $this = $(this);
            if(!$this.hasClass('selected')) {
                $('.tabs div').removeClass('selected');
                $this.addClass('selected');
                $('.booking').removeClass('hide');
                $('.introductions').addClass('hide');
            }
        });

        /* ============================================
         发车时刻表操作
         ============================================== */
        $('.time').click(function() {
            var $this = $(this);
            if(!$this.hasClass('selected')) {
                $('.time').removeClass('selected');
                $this.addClass('selected');
                $('.busTime').removeClass('current next prev')
                        .forEach(function(item) {
                            if($(item).attr('data-times') == $this.attr('data-times')) {
                                $(item).removeClass('current next prev').addClass('current');
                                if($(item).next().length) {
                                    $(item).nextAll().addClass('next');
                                }
                                if($(item).prev().length) {
                                    $(item).prevAll().addClass('prev');
                                }
                            }
                        })
            }
        });
        /* ============================================
         发车时刻表操作
         ============================================== */

        /* ============================================
         点击去购买按钮
         ============================================== */
        $('.buyNow').click(function(e) {
            e.preventDefault();
            $('.cover').show();
            $('.pay-info').addClass('show');
        });
        $('.close-icon').click(function() {
            setTimeout(function() {
                $('.cover').hide();
            },200);
            $('.pay-info').removeClass('show');
        })
        $('.select-times li').click(function () {
            $('.select-times li').removeClass('selected');
            $(this).addClass('selected');
        });
        /* ============================================
         点击去购买按钮
         ============================================== */

        /* ============================================
         **********   旅客评价下拉加载更多  **************
         ============================================== */
        var loading = false;

        function addItems(data) {
            var strPackage = '';
            $.each(data, function (i, v) {
                var strTips = '<li class="tourism">车</li>';
                $.each(v.resourceMap, function (key, value) {
                    if (key == 'hotel') {
                        strTips += '<li>住</li>'
                    } else if (key == 'catering') {
                        strTips += '<li>餐</li>'
                    } else if (key == 'entertainment') {
                        strTips += '<li>娱</li>'
                    } else if (key == 'scenic') {
                        strTips += '<li>景</li>'
                    }
                });
                strPackage += '<div class="pkg-gp" data-href="/mobile/gateway/wechat/home/tourism/'+ v.id +
                        '"><div class="pkg-img">' +
                        '<img src="' + v.imgUrl + '" alt="">'+
                        '<div class="pkg-type"><ul>'+ strTips + '</ul></div><div class="triangle"></div>'+
                        '</div><div class="pkg-title">'+
                        '<div class="pkg-name">' + v.displayName + '</div>'+
                        '<div class="pkg-price">'+ v.bidPrice +'元</div></div>'+
                        '<div class="pkg-content">'+ v.packageDisplayName+ '</div></div>';
            });
            $('.recommend-pkg').append(strPackage);
            $.refreshScroller();
        }
        // 上次加载的序号
        var lastIndex = 1;
        // 注册'infinite'事件处理函数
        $(document).on('infinite', '.infinite-scroll-bottom',function() {
            // 如果正在加载，则退出
            if (loading) return;
            // 设置flag
            loading = true;
            $.ajax({
                type: 'POST',
                url: '/mobile/gateway/wechat/home/recommendmore',
                data: {
                    pageIndex: lastIndex,
                    pageSize: 10
                },
                success: function (data) {
                    var dataJson = JSON.parse(data);
                    if (dataJson.code == 0) {
                        if (dataJson.data.length == 0) {
                            $('#pullUp .pullUpLabel').text('没有更多了…');
                        } else {
                            loading = false;
                            addItems(dataJson.data);
                            $('#pullUp .pullUpLabel').text('下滑加载更多…');
                            lastIndex++;
                        }
                    } else if (dataJson.code == 2) {
                        // 加载完毕，则注销无限加载事件，以防不必要的加载
                        $.detachInfiniteScroll($('.infinite-scroll'));
                        // 删除加载提示符
                        $('.infinite-scroll-preloader').remove();
                    }
                },
                error: function () {
                    loading = false;
                }
            });
        });
        /* ============================================
         **********   旅客评价下拉加载更多  **************
         ============================================== */
    })
</script>
</body>
</html>
