<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q3/css/pkgDetail.scss?__inline" media="screen" title="no title" charset="utf-8">
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header>
            <div class="back"></div>
            <div class="center">车票详情</div>
        </header>
        <footer>
            <a href="" class="collection">收藏</a>
            <a href="tel:18628245639" class="advisory">咨询</a>
            <a href="" class="buyNow">去购买</a>
        </footer>
        <div class="page-content">
            <div class="tourism-info">
                <div class="head-img">
                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/f9bc80dbef637a7d9d0b738fe61fd16b.jpg!middle320"
                         alt="">
                    <div class="tips-wp">
                        <i></i>
                        <div class="tips">需要提前一天预订</div>
                        <div class="tips-cover"></div>
                    </div>
                </div>
                <div class="infos">
                    <h5>成都都江堰青城山单程巴士城山单程巴士城山单程巴</h5>
                    <div class="price">
                        ¥12999.99
                        <div class="tags">
                            <span>app专享价</span>
                            <span>特价</span>
                        </div>
                    </div>
                    <div class="bottom-info">
                        <div class="shuttle">
                            <i></i>
                            往返车票
                        </div>
                        <div class="days">
                            <i></i>
                            1日行程
                        </div>
                        <div class="sold">
                            <i></i>
                            以售卖999份
                        </div>
                    </div>
                </div>
            </div>
            <div class="func">
                <ul>
                    <li><i></i>扫码上车</li>
                    <li><i></i>提前选座</li>
                    <li><i></i>免费讲解</li>
                    <li><i></i>直达景区</li>
                </ul>
            </div>
            <div class="contains">
                <div class="title">套餐包含</div>
                <ul>
                    <li>
                        <i class="ticket"></i>
                        <p>车票：07:00（成都）－17:30（九寨沟）</p>
                    </li>
                    <li>
                        <i class="hotel"></i>
                        <p>住宿：九寨沟民族风情客栈九寨沟民族风情客栈风情客栈九寨沟民族风情客栈</p>
                    </li>
                    <li>
                        <i class="ticket"></i>
                        <p>车票：07:00（成都）－17:30（九寨沟）</p>
                    </li>
                </ul>
            </div>
            <div class="tourism-detail">
                <div class="departureTime">发车时间：<span>07:00  08:00  09:00</span></div>
                <div class="evaluation">
                    <div class="stars">
                        <ul>
                            <li class="selected"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    22人点评
                </div>
            </div>
            <div class="tabs">
                <div class="introductions-tab selected">行程说明</div>
                <div class="booking-tab">预订需知</div>
            </div>
            <div class="introductions">
                <div class="tourism-days">
                    <div class="tourism-day">
                        <div class="day">DAY 1</div>
                        <div class="destination">成都</div>
                        <div class="content">
                            <p>都江堰是世界文化遗产（2000年被联合国教科文组织列入“世界文化遗产”名录），世界自都江堰是世界文化遗产，世界自都江堰是世界文化遗文化遗文化遗产。</p>
                        </div>
                        <div class="destination">成都</div>
                        <div class="content">
                            <h5>都江堰</h5>
                            <p>都江堰是世界文化遗产（2000年被联合国教科文组织列入“世界文化遗产”名录），世界自都江堰是世界文化遗产，世界自都江堰是世界文化遗文化遗文化遗产。</p>
                        </div>
                    </div>
                    <div class="tourism-day">
                        <div class="day">DAY 2</div>
                        <div class="destination">成都</div>
                        <div class="content">
                            <p>成都市体育中心集合乘车</p>
                        </div>
                    </div>
                    <div class="tourism-day">
                        <div class="day">THE END</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <header>
            <div class="back"></div>
            <div class="center">发车时刻表</div>
        </header>
        <footer>
            <a href="" class="collection">收藏</a>
            <a href="tel:18628245639" class="advisory">咨询</a>
            <a href="" class="buyNow">去购买</a>
        </footer>
        <div class="page-content">
            <div class="tourism-info">
                <div class="head-img">
                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/f9bc80dbef637a7d9d0b738fe61fd16b.jpg!middle320"
                         alt="">
                    <div class="tips-wp">
                        <i></i>
                        <div class="tips">需要提前一天预订</div>
                        <div class="tips-cover"></div>
                    </div>
                </div>
                <div class="infos">
                    <h5>成都都江堰青城山单程巴士城山单程巴士城山单程巴</h5>
                    <div class="price">
                        ¥12999.99
                        <div class="tags">
                            <span>app专享价</span>
                            <span>特价</span>
                        </div>
                    </div>
                    <div class="bottom-info">
                        <div class="shuttle">
                            <i></i>
                            往返车票
                        </div>
                        <div class="days">
                            <i></i>
                            1日行程
                        </div>
                        <div class="sold">
                            <i></i>
                            以售卖999份
                        </div>
                    </div>
                </div>
            </div>
            <div class="func">
                <ul>
                    <li><i></i>扫码上车</li>
                    <li><i></i>提前选座</li>
                    <li><i></i>免费讲解</li>
                    <li><i></i>直达景区</li>
                </ul>
            </div>
            <div class="contains">
                <div class="title">套餐包含</div>
                <ul>
                    <li>
                        <i class="ticket"></i>
                        <p>车票：07:00（成都）－17:30（九寨沟）</p>
                    </li>
                    <li>
                        <i class="hotel"></i>
                        <p>住宿：九寨沟民族风情客栈九寨沟民族风情客栈风情客栈九寨沟民族风情客栈</p>
                    </li>
                    <li>
                        <i class="ticket"></i>
                        <p>车票：07:00（成都）－17:30（九寨沟）</p>
                    </li>
                </ul>
            </div>
            <div class="tourism-detail">
                <div class="departureTime">发车时间：<span>07:00  08:00  09:00</span></div>
                <div class="evaluation">
                    <div class="stars">
                        <ul>
                            <li class="selected"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    22人点评
                </div>
            </div>
            <div class="tabs">
                <div class="introductions-tab selected">行程说明</div>
                <div class="booking-tab">预订需知</div>
            </div>
            <div class="introductions">
                <div class="tourism-days">
                    <div class="tourism-day">
                        <div class="day">DAY 1</div>
                        <div class="destination">成都</div>
                        <div class="content">
                            <p>都江堰是世界文化遗产（2000年被联合国教科文组织列入“世界文化遗产”名录），世界自都江堰是世界文化遗产，世界自都江堰是世界文化遗文化遗文化遗产。</p>
                        </div>
                        <div class="destination">成都</div>
                        <div class="content">
                            <h5>都江堰</h5>
                            <p>都江堰是世界文化遗产（2000年被联合国教科文组织列入“世界文化遗产”名录），世界自都江堰是世界文化遗产，世界自都江堰是世界文化遗文化遗文化遗产。</p>
                        </div>
                    </div>
                    <div class="tourism-day">
                        <div class="day">DAY 2</div>
                        <div class="destination">成都</div>
                        <div class="content">
                            <p>成都市体育中心集合乘车</p>
                        </div>
                    </div>
                    <div class="tourism-day">
                        <div class="day">THE END</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        if (!doc.addEventListener) return;
        recalc();
        document.body.style.visibility = 'visible';
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        /* ============================================
         这里判断如果是ios则使用sticky布局
         ============================================== */
        if(window.navigator.userAgent.indexOf('Mac OS X') != '-1'){
            $('.tabs').addClass('sticky');
        }else{
            $('.page-content').scroll(function() {
                var origOffsetY = document.querySelector('.tabs').offsetTop;
                if(document.querySelector('.page-content').scrollTop >= origOffsetY ) {
                    $('.tabs').css({'position':'fixed',top:'2.2rem'})
                } else {
                    $('.tabs').css({'position':'relative',top:'0'})
                }
            });
        }
        // 点击返回按钮
        $('.search-bar .back').click(function() {
            history.go(-1);
        });
    })
</script>
</body>
</html>
