<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q3/css/recommend.scss?__inline" media="screen" title="no title" charset="utf-8">
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header>
            <div class="back"></div>
            <div class="center">简途推荐</div>
        </header>
        <div class="page-content">
            <div class="navBar">
                <div class="bus selected">巴士自由行</div>
                <div class="pkg">精选套餐</div>
            </div>
            <div class="bus-wrapper current">
                <div class="bus-item">
                    <div class="left-content">
                        <div class="old-price">原价¥3000</div>
                        <div class="price">¥12298.99</div>
                        <div class="tags">
                            <div class="tag">特价</div>
                            <div class="tag">专享价专享价</div>
                        </div>
                    </div>
                    <div class="lines-dot three"></div>
                    <div class="right-content">
                        <div class="destinations">
                            <div class="destination">成都</div>
                            <div class="destination">黄龙</div>
                            <div class="destination">九寨沟</div>
                        </div>
                        <div class="bus-info">
                            <span>一日单程</span><span>已售3460张</span>
                        </div>
                    </div>
                </div>
                <div class="bus-item">
                    <div class="left-content">
                        <div class="old-price">原价¥3000</div>
                        <div class="price">¥12298.99</div>
                        <div class="tags">
                            <div class="tag">特价</div>
                            <div class="tag">专享价专享价</div>
                        </div>
                    </div>
                    <div class="lines-dot"></div>
                    <div class="right-content">
                        <div class="destinations">
                            <div class="destination">成都</div>
                            <div class="destination">九寨沟</div>
                        </div>
                        <div class="bus-info">
                            <span>一日单程</span><span>已售3460张</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pkg-wrapper">
                <div class="pkg-item">
                    <div class="head-image">
                        <img data-src="http://images.simpletour.com/simpletour/images/wechat_home/cc25479b9e2f87ea81e8fb1eb76cacde.jpg!middle320" src="/master-Q3/images/defalut-img@588250.png" alt="">
                    </div>
                    <p>套餐名称好吃好吃的九寨沟豪华十八人七天五夜巴士车套餐</p>
                    <div class="price">
                        <span class="left">¥1299.99</span>
                        <span class="right">原件:¥1299.99</span>
                    </div>
                    <div class="tags">
                        <ul>
                            <li>app专享价</li>
                            <li>特价</li>
                        </ul>
                    </div>
                </div>
                <div class="pkg-item">
                    <div class="head-image">
                        <img data-src="http://images.simpletour.com/simpletour/images/wechat_home/783ca3272f455de77c64bf88e1bf848c.png!middle320" src="/master-Q3/images/defalut-img@588250.png" alt="">
                    </div>
                    <div class="decorate">
                        <div class="left-circle"></div>
                        <div class="right-circle"></div>
                    </div>
                    <p>套餐名称好吃好吃的九寨沟豪华十八人七天五夜巴士车套餐</p>
                    <div class="price">
                        <span class="left">¥1299.99</span>
                        <span class="right">原价:¥1299.99</span>
                    </div>
                    <div class="tags">
                        <ul>
                            <li>app专享价</li>
                            <li>特价</li>
                        </ul>
                    </div>
                </div>
                <div class="pkg-item">
                    <div class="head-image">
                        <img data-src="http://images.simpletour.com/simpletour/images/wechat_home/fef0f95e507b9962a4547c7ecb19026b.jpg!middle320" src="/master-Q3/images/defalut-img@588250.png" alt="">
                    </div>
                    <div class="decorate">
                        <div class="left-circle"></div>
                        <div class="right-circle"></div>
                    </div>
                    <p>套餐名称好吃好吃的九寨沟豪华十八人七天五夜巴士车套餐</p>
                    <div class="price">
                        <span class="left">¥1299.99</span>
                        <span class="right">原价:¥1299.99</span>
                    </div>
                    <div class="tags">
                        <ul>
                            <li>app专享价</li>
                            <li>特价</li>
                        </ul>
                    </div>
                </div>
                <div class="pkg-item">
                    <div class="head-image">
                        <img data-src="http://images.simpletour.com/simpletour/images/wechat_home/c44555f288921145a3e3a3c694f2a56e.png!middle320" src="/master-Q3/images/defalut-img@588250.png" alt="">
                    </div>
                    <div class="decorate">
                        <div class="left-circle"></div>
                        <div class="right-circle"></div>
                    </div>
                    <p>套餐名称好吃好吃的九寨沟豪华十八人七天五夜巴士车套餐</p>
                    <div class="price">
                        <span class="left">¥1299.99</span>
                        <span class="right">原价:¥1299.99</span>
                    </div>
                    <div class="tags">
                        <ul>
                            <li>app专享价</li>
                            <li>特价</li>
                        </ul>
                    </div>
                </div>
                <div class="pkg-item">
                    <div class="head-image">
                        <img data-src="http://images.simpletour.com/simpletour/images/wechat_home/783ca3272f455de77c64bf88e1bf848c.png!middle320" src="/master-Q3/images/defalut-img@588250.png" alt="">
                    </div>
                    <div class="decorate">
                        <div class="left-circle"></div>
                        <div class="right-circle"></div>
                    </div>
                    <p>套餐名称好吃好吃的九寨沟豪华十八人七天五夜巴士车套餐</p>
                    <div class="price">
                        <span class="left">¥1299.99</span>
                        <span class="right">原价:¥1299.99</span>
                    </div>
                    <div class="tags">
                        <ul>
                            <li>app专享价</li>
                            <li>特价</li>
                        </ul>
                    </div>
                </div>
                <div class="pkg-item">
                    <div class="head-image">
                        <img data-src="http://images.simpletour.com/simpletour/images/wechat_home/13435686797059d21f63c30d81eae2de.jpg!middle320" src="/master-Q3/images/defalut-img@588250.png" alt="">
                    </div>
                    <div class="decorate">
                        <div class="left-circle"></div>
                        <div class="right-circle"></div>
                    </div>
                    <p>套餐名称好吃好吃的九寨沟豪华十八人七天五夜巴士车套餐</p>
                    <div class="price">
                        <span class="left">¥1299.99</span>
                        <span class="right">原价:¥1299.99</span>
                    </div>
                    <div class="tags">
                        <ul>
                            <li>app专享价</li>
                            <li>特价</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        if (!doc.addEventListener) return;
        recalc();
        var a = document.getElementsByTagName('a');
        for(var i = 0; i < a.length; i++){
            a[i].addEventListener('touchstart',function(){},false);
        }
        document.body.style.visibility = 'visible';
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // 点击返回按钮
        $('.search-bar .back').click(function() {
            history.go(-1);
        });
        $('.navBar .bus').tap(function() {
            $('.navBar div').removeClass('selected');
            $(this).addClass('selected');
            $('.pkg-wrapper').removeClass('current');
            $('.bus-wrapper').addClass('current');
        });
        $('.navBar .pkg').tap(function() {
            $('.navBar div').removeClass('selected');
            $(this).addClass('selected');
            $('.bus-wrapper').removeClass('current');
            $('.pkg-wrapper').addClass('current');
        })
    })
</script>
</body>
</html>
