<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q3/css/route_index.scss?__inline">
    <script type="text/javascript">
        function filterResult (e){
            var value = event.target.value;
            if(!value) {
                $('.search-bar').removeClass('input-change');
            } else {
                $('.search-bar').addClass('input-change');
            }
            $('.search-result .result').each(function(key, item) {
                if($(item).text().indexOf(value) >= 0) {
                    $(item).show().addClass('show');
                } else {
                    $(item).hide().removeClass('show');
                }
            });
            if($('.search-result .result.show').length > 0) {
                $('.no_search_result').hide();
            } else {
                $('.no_search_result').show();
            }
        }
    </script>
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header>
            <div class="center">路线</div>
            <div class="search turnTo" href="#query"></div>
        </header>
        <footer>
            <a class="home selected">首页</a>
            <a class="route">路线</a>
            <a class="tourism">行程</a>
            <a class="profile">我的</a>
        </footer>
        <div class="page-content">
            <div class="topModule">
                <div class="banner">
                    <img src="/master-Q3/images/route_index_banner.png" alt=""/>
                </div>
                <div class="tabs">
                    <a>
                        <div class="domestic">
                            <div class="desc">
                                <span class="big">国&nbsp;&nbsp;内</span>旅行路线
                            </div>
                        </div>
                    </a>
                    <a>
                        <div class="international">
                            <div class="desc">
                                <span class="big">国&nbsp;&nbsp;际</span>旅行路线
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="contentModule">
                <div class="lines_group">
                    <div class="title-bar">
                        <div class="title">
                            <span class="tag">热门</span>旅游路线
                        </div>
                        <a href="/master-Q3/views/route/route_lists.html" class="more">全部</a>
                    </div>
                    <div class="lines">
                        <a>
                            <div class="line">
                                <img src="/master-Q3/images/route_line2.png" alt=""/>
                                <div class="overlay">
                                    <div class="text-layer">
                                        <span class="chinese">九寨沟</span>
                                        <span class="pinyin">Jiu zhaigou</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a>
                            <div class="line">
                                <img src="/master-Q3/images/route_line2.png" alt=""/>
                                <div class="overlay">
                                    <div class="text-layer">
                                        <span class="chinese">大英死海</span>
                                        <span class="pinyin">Da yingsihai</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a>
                            <div class="line">
                                <img src="/master-Q3/images/route_line2.png" alt=""/>
                                <div class="overlay">
                                    <div class="text-layer">
                                        <span class="chinese">九寨沟</span>
                                        <span class="pinyin">Jiu zhaigou</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a>
                            <div class="line">
                                <img src="/master-Q3/images/route_line2.png" alt=""/>
                                <div class="overlay">
                                    <div class="text-layer">
                                        <span class="chinese">九寨沟</span>
                                        <span class="pinyin">Jiu zhaigou</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="lines_group">
                    <div class="title-bar">
                        <div class="title">
                            <span class="tag">四川</span>旅游路线
                        </div>
                        <a href="/master-Q3/views/route/route_lists.html" class="more">全部</a>
                    </div>
                    <div class="lines">
                        <a>
                            <div class="line">
                                <img src="/master-Q3/images/route_line1.png" alt=""/>
                                <div class="overlay">
                                    <div class="text-layer">
                                        <span class="chinese">九寨沟</span>
                                        <span class="pinyin">Jiu zhaigou</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a>
                            <div class="line">
                                <img src="/master-Q3/images/route_line2.png" alt=""/>
                                <div class="overlay">
                                    <div class="text-layer">
                                        <span class="chinese">大英死海</span>
                                        <span class="pinyin">Da yingsihai</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a>
                            <div class="line">
                                <img src="/master-Q3/images/route_line1.png" alt=""/>
                                <div class="overlay">
                                    <div class="text-layer">
                                        <span class="chinese">九寨沟</span>
                                        <span class="pinyin">Jiu zhaigou</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a>
                            <div class="line">
                                <img src="/master-Q3/images/route_line1.png" alt=""/>
                                <div class="overlay">
                                    <div class="text-layer">
                                        <span class="chinese">九寨沟</span>
                                        <span class="pinyin">Jiu zhaigou</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page" id="query">
        <div class="page-content">
            <div class="search-bar">
                <div class="back"></div>
                <div class="search-input">
                    <label></label>
                    <input type="text" oninput="filterResult(event)" name="search" placeholder="请输入关键词" />
                    <div class="click-zone"></div>
                </div>
                <div class="cancel">
                    搜索
                </div>
            </div>
            <div class="search-result">
                <div class="result item">成都－九寨沟单程车位</div>
                <div class="result item">成都－九寨沟单程车位</div>
                <div class="result item">成都－九寨沟单程车位</div>
                <div class="result item">成都－九寨沟单程车位</div>
                <div class="result item">成都－九寨沟单程车位</div>
                <div class="result item">成都－九寨沟单程车位</div>
                <div class="result item">成都－九寨沟单程车位</div>
                <div class="no_search_result">
                    <img src="/master-Q3/images/icon/no_result_icon@2x.png" alt="">
                    <p>无搜索结果</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script type="text/javascript" src="/common/js/scroll.js"></script>
<script type="text/javascript" src="/common/js/pages.js"></script>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
        var a = document.getElementsByTagName('a');
        for (var i = 0; i < a.length; i++) {
            a[i].addEventListener('touchstart', function () {
            }, false);
        }
    })(document, window);
    $(document).ready(function () {
        // 点击返回按钮
        $('header .back').click(function (e) {
            history.go(-1);
        });
        $('.search-bar .back').click(function (e) {
            history.go(-1);
        });
        // 初始化page
        $('.page-group').pageInit({
            router : '.turnTo' ,//router的className
            routerFun : function(){}
        });
        // 搜索事件
        $('.search-bar .cancel').tap(function() {
            var $this = $(this);
            if(!$this.hasClass('disabled')) {
                var name = $('input[name=search]').val();
                $this.addClass('disabled');
                $.ajax({
                    type: 'POST',
                    url: '',
                    contentType:'application/json',
                    data: JSON.stringify({
                        name: name
                    }),
                    success: function (data) {
                        var dataJson = JSON.parse(data);
                        if (dataJson.code == 0) {
                            $('.no_search_result').hide();
                        } else if (dataJson.code == 2) {
                            $('.no_search_result').show();
                        }
                    },
                    error: function () {

                    },
                    complete: function() {
                        $this.removeClass('disabled');
                    }
                });
            }
        });
    });
</script>
</body>
</html>