<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q3/css/tourism_comment.scss?__inline">
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header>
            <div class="back"></div>
            <div class="center">评价</div>
        </header>
        <footer>
            <a class="submit">提交评论</a>
        </footer>
        <div class="page-content">
            <div class="comment">
                <textarea placeholder="写下对简途巴士旅行的体验感受吧，对我们的帮助很大很大很大很大～"></textarea>
                <div class="add_img"></div>
                <div class="albums" style="display:none">
                    <img src="/master-Q3/images/home_head_img@2x.png" alt="">
                    <img src="/master-Q3/images/home_head_img@2x.png" alt="">
                    <img src="/master-Q3/images/home_head_img@2x.png" alt="">
                    <img src="/master-Q3/images/home_head_img@2x.png" alt="">
                    <img src="/master-Q3/images/home_head_img@2x.png" alt="">
                </div>
            </div>
            <div class="stars-bar">
                <span class="title">产品评价</span>
                <div class="stars">
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                </div>
            </div>
            <div class="scores">
                <div class="title-bar"><span class="tag">为行车助理打分</span></div>
                <div class="img-stars-bar">
                    <img src="/master-Q3/images/touxiang.png" alt=""/>
                    <span class="title">产品评价产</span>
                    <div class="stars">
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </div>
                </div>
                <div class="img-stars-bar">
                    <img src="/master-Q3/images/touxiang.png" alt=""/>
                    <span class="title">产品评价产品评价</span>
                    <div class="stars">
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dropdown-wrap">
    <div class="dropdown">
        <ul class="items">
            <li data-value="photo">拍照</li>
            <li data-value="choose">从相册里选取</li>
        </ul>
        <div class="cancel-btn">
            取消
        </div>
    </div>
    <div class="cover"></div>
</div>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
        var a = document.getElementsByTagName('a');
        for (var i = 0; i < a.length; i++) {
            a[i].addEventListener('touchstart', function () {
            }, false);
        }
    })(document, window);
    $(document).ready(function () {
        // 点击返回按钮
        $('header .back').click(function (e) {
            history.go(-1);
        });
        //选择图片来源类型
        var $cover = $('.dropdown-wrap .cover');
        var $dropdown = $('.dropdown-wrap .dropdown');
        var $items = $('.dropdown-wrap .items li');
        $('.comment .add_img').click(function (e) {
            $cover.show();
            $dropdown.addClass('show');
        });
        $('.dropdown-wrap .cancel-btn').click(function (e) {
            $cover.hide();
            $dropdown.removeClass('show');
        });
        $items.on('click', function (e) {
            var type = $(this).attr('data-value');
            if (type == 'photo') {

            } else if (type == 'photo') {

            }
        });
        //星评价
        var $stars = $('.stars .star');
        $stars.on('click',function(e){
            var $thisStars = $(this).parents('.stars').find('.star');
            $thisStars.removeClass('hollow');
            for(var i=4;i>$(this).index();i--){
                $thisStars.eq(i).addClass('hollow');
            }
        });
    });
</script>
</body>
</html>