<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q3/css/theme.scss?__inline" media="screen" title="no_title" charset="utf-8">
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header>
            <div class="back"></div>
            <div class="center">欢乐十月</div>
        </header>
        <div class="page-content">
            <div class="head-img">
                <img src="/master-Q3/images/2.jpg" alt="头图" />
            </div>
            <div class="brief">
                成都，简称“蓉”，四川省省会，副省级市，特大城市。1993年被国务院确定为西南地区的科技、商贸、金融中心和交通、通讯枢纽。2015年11月26日，经国务院批复，被定位为国家重要的高新成都，简称“蓉”，四川省省会，副省级市，特大城市。1993年被国务院确定为西南地区的科技、商贸、金融中心和交通、通讯枢纽。2015年11月26日，经国务院批复，被定位为国家重要的高新
            </div>
            <div class="img-wp">
                <img src="/master-Q3/images/defalut-img@588250.png" alt="">
            </div>
            <p>
                副省级市，特大城市。1993年被国务院确定为西南地区的科技、商贸、金融中心和交通、通讯枢纽。2015年11月26日，经国务院批复，被定位为国家重要的高新成都，简称“蓉”，四川省省会，副省级市，特大城市。1993年被国务院确定为西南地区的科技、商贸、金融中心和交通、通讯枢纽。2015年11月26日，经国务院批复，被定位为国家重要的高新
            </p>
            <h5>
                这里是标题
            </h5>
            <p>
                金融中心和交通、通讯枢纽。2015年11月26日，经国务院批复，被定位为国家重要的高新成都，简称“蓉”，四川省省会，副省级市，特大城市。1993年被国务院确定为西南地区的科技、商贸、金融中心和交通、通讯枢纽。2015年11月26日，经国务院批复，被定位为国家重要的高新
            </p>
            <div class="product-group">
                <div class="img-wp">
                    <img src="" alt="">
                </div>
                <div class="infos">
                    <h5>九寨沟风景区九寨沟风景沟寨沟风景沟九寨沟风景区九寨沟风景沟寨沟风景沟</h5>
                    <div class="evaluate">
                        <ul>
                            <li class="selected"></li>
                            <li class="half"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <span>2312点评</span>
                    </div>
                    <div class="price">$1234.99 <span>起</span></div>
                    <div class="buyNow">立即购买</div>
                </div>
            </div>
            <div class="product-group">
                <div class="img-wp">
                    <img src="" alt="">
                </div>
                <div class="infos">
                    <h5>九寨沟风景区九寨沟风景沟寨沟风景沟九寨沟风景区九寨沟风景沟寨沟风景沟</h5>
                    <div class="evaluate">
                        <ul>
                            <li class="selected"></li>
                            <li class="half"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <span>2312点评</span>
                    </div>
                    <div class="price">$1234.99 <span>起</span></div>
                    <div class="buyNow">立即购买</div>
                </div>
            </div>
            <div class="product-group">
                <div class="img-wp">
                    <img src="" alt="">
                </div>
                <div class="infos">
                    <h5>九寨沟风景区九寨沟风景沟寨沟风景沟九寨沟风景区九寨沟风景沟寨沟风景沟</h5>
                    <div class="evaluate">
                        <ul>
                            <li class="selected"></li>
                            <li class="half"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <span>2312点评</span>
                    </div>
                    <div class="price">$1234.99 <span>起</span></div>
                    <div class="buyNow">立即购买</div>
                </div>
            </div>
            <p>
                金融中心和交通、通讯枢纽。2015年11月26日，经国务院批复，被定位为国家重要的高新成都，简称“蓉”，四川省省会，副省级市，特大城市。1993年被国务院确定为西南地区的科技、商贸、金融中心和交通、通讯枢纽。2015年11月26日，经国务院批复，被定位为国家重要的高新
            </p>
            <div class="lines">
                <div class="line-wrapper">
                    <div class="img-wp">
                        <img src="/master-Q3/images/yunnan.png" alt="">
                        <div class="line-name">九寨沟线</div>
                        <div class="tag">
                            - <span>西行巴士</span> -
                        </div>
                        <div class="left-dot"></div>
                        <div class="right-dot"></div>
                    </div>
                    <div class="line-content">
                        <div class="route">
                            途径点：映秀镇 松潘古镇  叠溪海子 叠溪海子  叠溪海
                        </div>
                        <div class="price">
                            ¥12999.49 <span>起</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-logo">
                <img src="/master-Q3/images/icon/bus_bottom@2x.png" alt="">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 375) + "px !important;}"));
                    docEl.style.fontSize = 20 * (clientWidth / 375) + 'px';
                };
        if (!doc.addEventListener) return;
        recalc();
        var a = document.getElementsByTagName('a');
        for(var i = 0; i < a.length; i++){
            a[i].addEventListener('touchstart',function(){},false);
        }
        document.body.style.visibility = 'visible';
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script type="text/javascript" src="/common/js/pages.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

    })
</script>
</body>
</html>
