@import "/common/css/base";
body {
  background-color: #f5f5f5;
}
.page-content {
  @include displayflex();
  @include flexflowCol();
}
footer {
  .pay-info-detail {
    position: absolute;
    bottom:rem(-108px);
    left: 0;
    width: 100%;
    background-color: #fff;
    padding:0 rem(26px);
    -webkit-transition:bottom .15s ease-out;
    transition:bottom .15s ease-out;
    z-index: 1;
    color: #737373;
    font-size: rem(28px);
    p {
      height: rem(88px);
      line-height:rem(88px);
      border-bottom: rem(2px) solid #EBEBF5;
      span {
        color: #D71345;
      }
      &:last-child {
        border : 0;
      }
    }
    &.show {
      bottom: rem(96px);
    }
  }
  .pay-info {
    position: relative;
    border-top:1px solid #D8D8D8;
    width: rem(340px);
    color: #D71345;
    font-size: rem(28px);
    padding-left: rem(24px);
    background-color: #fff;
    z-index:1;
    &:after {
      position: absolute;
      content: '';
      top: rem(33px);
      right:rem(24px);
      display: inline-block;
      width:rem(34px);
      height:rem(34px);
      background: url(/master-Q2-5/images/up_red_arrow@2x.png) no-repeat center;
      background-size: contain;
    }
    &.selected {
      &:after {
        background: url(/master-Q2-5/images/down_red_arrow@2x.png) no-repeat center;
        background-size: contain;
      }
    }
  }
  .pay-btn {
    z-index:1;
    @include flex(1);
    background-color: #D71345;
    text-align: center;
    color: #fff;
    font-size: rem(28px);
    .disabled {
      background-color: #737373;
    }
  }
}
.page, .page-group {
  background-color: #f5f5f5;
}
.infos {
  background-color: #fff;
  padding: rem(26px) rem(26px) 0;
  h5 {
    font-size: rem(32px);
    color: #4F545B;
  }
  .bottom-info {
    height: rem(72px);
    line-height: rem(72px);
    padding-right: 2.2rem;
    @include displayflex();
    @include flexflowRow();
    .shuttle{
      width: rem(170px);
      color: #83858C;
      font-size: rem(24px);
      i {
        display: inline-block;
        width: rem(20px);
        height: rem(20px);
        background: url("/master-Q3/images/icon/transform_icon@2x.png") no-repeat center;
        background-size: 100%;
      }
      &.single {
        i {
          background: url("/master-Q3/images/icon/transform_single_icon@2x.png") no-repeat center;
          background-size: 100%;
        }
      }
    }
    .days {
      @include flex(1);
      color: #83858C;
      font-size: rem(24px);
      i {
        display: inline-block;
        width: rem(20px);
        height: rem(22px);
        background: url("/master-Q3/images/icon/date_icon@2x.png") no-repeat center;
        background-size: 100%;
      }
    }
    .times {
      @include flex(1);
      color: #83858C;
      font-size: rem(24px);
      i {
        display: inline-block;
        width: rem(20px);
        height: rem(24px);
        background: url("/master-Q3/images/icon/time_icon@2x.png") no-repeat center;
        background-size: contain;
        vertical-align: text-top;
      }
    }
  }
  .cutline {
    width: rem(588px);
    height: rem(2px);
    margin: 0 auto;
    background-color: #EBEBF5;
  }
  p {
    padding: rem(30px) 0;
    color: #83858C;
    font-size: rem(26px);
    span {
      color: #4F545B;
    }
  }
}
.select-customer,.select-coupon {
  width:100%;
  margin-top: rem(16px);
  height: rem(88px);
  line-height: rem(88px);
  background-color: #fff;
  color: #83858C;
  font-size: rem(28px);
  @include displayflex();
  @include flexflowRow();
  .turnCustomers {
    width: rem(184px);
    color: #F5B950;
    text-align: center;
    &.disabled {
      color: #C0C2C9;
    }
  }
  .lines {
    width: rem(2px);
    height: rem(60px);
    margin-top: rem(14px);
    background-color: #D8D8D8;
  }
  p {
    @include flex(1);
    text-indent: rem(26px);
  }
}
.passengers {
  background-color: #fff;
  width:100%;
  .passenger {
    padding:0 rem(32px);
    @include displayflex();
    @include flexflowRow();
    background-color: #fff;
    position: relative;
    height: rem(88px);
    line-height:rem(88px);
    border-bottom: rem(2px) solid #EBEBF5;
    i {
      width: rem(36px);
      height:rem(36px);
      margin-top: rem(26px);
      margin-right: rem(18px);
      background: url(/master-Q3/images/icon/input_name_icon@2x.png) no-repeat center;
      background-size: contain;
    }
    input {
      border: none;
      @include flex(1);
      font-size: rem(28px);
      color: #4F545B;
    }
    &:last-child {
      border: 0;
    }
    &:first-child {
      border-top: rem(2px) solid #EBEBF5;
    }
    .delete-customer {
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      content: '';
      width: rem(88px);
      height: rem(88px);
      background: url("/master-Q3/images/icon/customer_close_icon@2x.png") no-repeat center;
      background-size: rem(26px) rem(26px);
    }
  }
}
.contact-infos {
  margin-top: rem(16px);
  background-color: #fff;
  .title {
    width:100%;
    height: rem(88px);
    line-height: rem(88px);
    border-bottom: rem(2px) solid #EBEBF5;
    color: #83858C;
    font-size: rem(28px);
    @include displayflex();
    @include flexflowRow();
    .turnCustomers {
      width: rem(184px);
      color: #F5B950;
      text-align: center;
    }
    .lines {
      width: rem(2px);
      height: rem(60px);
      margin-top: rem(14px);
      background-color: #D8D8D8;
    }
    p {
      @include flex(1);
      text-indent: rem(26px);
    }
  }
  .content {
    padding: 0 rem(26px);
  }
}
.service {
  padding: rem(30px) rem(26px);
  color: #83858C;
  font-size: rem(26px);
  a {
    color: #E61E4B;
    text-decoration: underline;
  }
}
.detail-cover {
  display: none;
  width: 100%;
  height:100%;
  position: absolute;
  top:0;
  bottom: rem(40px);
  background-color: #000;
  opacity: .4;
  z-index: 1;
}
.add-customer {
  width: 100%;
  height: rem(96px);
  line-height:rem(96px);
  color: #E61E4B;
  font-size: rem(28px);
  background-color: #fff;
  text-align: center;
  i {
    display: inline-block;
    margin-right: rem(14px);
    width:rem(36px);
    height:100%;
    vertical-align: sub;
    img{
      width: 100%;
      height: rem(36px);
    }
  }
}
.customers {
  background-color: #fff;
  margin-top: rem(16px);
  margin-bottom: rem(112px);
  padding: 0 rem(26px) 0;
  .customer {
    @include displayflex();
    @include flexflowRow();
    height:rem(138px);
    border-bottom: rem(2px) solid #EBEBF5;
    .checkbox {
      width:rem(66px);
      height:rem(138px);
      margin-right: rem(14px);
      background: url(/master-Q3/images/icon/checkbox_normal_icon@2x.png) no-repeat center;
      background-size: rem(40px);
      &.selected {
        background: url(/master-Q3/images/icon/checkbox_selected_icon@2x.png) no-repeat center;
        background-size: rem(40px);
      }
    }
    .information {
      @include flex(1);
      position: relative;
      h5{
        font-size: rem(32px);
        color: #4F545B;
        margin-top: rem(20px);
      }
      p {
        color: #83858C;
        font-size: rem(28px);
        margin-top: rem(13px);
      }
      &:after {
        position: absolute;
        top: rem(53px);
        right: 0;
        display: inline-block;
        content: '';
        width: rem(19px);
        height: rem(32px);
        background: url("/master-Q3/images/icon/right_grey_arrow@2x.png") no-repeat center;
        background-size: contain;
      }
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}
.confirm-btn {
  position: absolute;
  height:rem(88px);
  width:rem(588px);
  left: 50%;
  margin-left: rem(-294px);
  line-height:rem(88px);
  bottom: rem(24px);
  background-color: #E61E4B;
  border-radius: rem(5px);
  text-align: center;
  font-size:rem(34px);
  color: #fff;
  z-index: 5;
}
.input-group {
  @include displayflex();
  @include flexflowRow();
  background-color: #fff;
  position: relative;
  height: rem(88px);
  line-height:rem(88px);
  border-bottom: rem(2px) solid #EBEBF5;
  i {
    width: rem(36px);
    height:rem(36px);
    margin-top: rem(26px);
    margin-right: rem(18px);
    &.name {
      background: url(/master-Q3/images/icon/input_name_icon@2x.png) no-repeat center;
      background-size: contain;
    }
    &.mobile {
      background: url(/master-Q3/images/icon/input_mobile_icon@2x.png) no-repeat center;
      background-size: contain;
    }
    &.idType {
      background: url(/master-Q3/images/icon/input_type_icon@2x.png) no-repeat center;
      background-size: contain;
    }
    &.idNo {
      background: url(/master-Q3/images/icon/input_idno_icon@2x.png) no-repeat center;
      background-size: contain;
    }
  }
  input {
    border: none;
    @include flex(1);
    font-size: rem(28px);
    color: #4F545B;
  }
  &:last-child {
    border: 0;
  }
  &.dropdown {
    &:after {
      position: absolute;
      top: rem(28px);
      right: 0;
      display: inline-block;
      content: '';
      width: rem(19px);
      height: rem(32px);
      background: url("/master-Q3/images/icon/right_grey_arrow@2x.png") no-repeat center;
      background-size: contain;
    }
  }
}
.input-wrapper {
  padding: 0 rem(26px);
  background-color: #fff;
}
.add-confirm-btn {
  height:rem(88px);
  width:rem(588px);
  margin: rem(50px) auto;
  line-height:rem(88px);
  background-color: #E61E4B;
  border-radius: rem(5px);
  text-align: center;
  color: #fff;
}
.idType-cover {
  position: fixed;
  width:100%;
  height:100%;
  background-color: #000;
  opacity: .4;
  z-index: 5;
  display: none;
}
.idType-wrapper {
  position: absolute;
  bottom: rem(-520px);
  width: 100%;
  z-index: 6;
  .idTypes {
    width: rem(588px);
    margin: 0 auto;
    background-color: #fff;
    border-radius: rem(6px);
    ul{
      list-style: none;
      li{
        height: rem(88px);
        line-height:rem(88px);
        text-align: center;
        color: #4F545B;
        font-size: rem(32px);
        border-bottom: rem(2px) solid #D8D8D8;
        &:last-child {
          border-bottom: 0;
        }
        &.selected {
          color: #E61E4B;
        }
      }
    }
  }
  .cancel-btn {
    border-radius: rem(6px);
    background-color: #fff;
    margin: rem(26px) auto;
    width: rem(588px);
    height: rem(112px);
    line-height:rem(112px);
    text-align: center;
    color: #4F545B;
  }
  &.show{
    -webkit-transition:bottom .25s ease-out;
    transition:bottom .25s ease-out;
    bottom:rem(24px);
  }
}


.coupon-navbar {
  width: 100%;
  height:rem(88px);
  line-height:rem(88px);
  background-color: #fff;
  @include shadow();
  div {
    float: left;
    position: relative;
    display: inline-block;
    width:50%;
    text-align: center;
    color: #83858C;
    font-size: rem(28px);
    span {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: rem(-70px);
      width:rem(140px);
      height:rem(4px);
      background-color: #fff;
    }
    &.not-available {
      span {
        width:rem(168px);
        margin-left: rem(-84px);
      }
    }
    &.selected {
      color: #E61E4B;
      span {
        background-color: #E61E4B;
      }
    }
  }
}
.coupon-content {
  @include flex(1);
  overflow: hidden;
  position: relative;
  .available-list {
    overflow: auto;
    position: absolute;
    width: 100%;
    height:100%;
    padding: .4rem .65rem;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition:-webkit-transform 0.2s ease-out;
    transition:transform 0.2s ease-out;
    &.current {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .disabled-list {
    overflow: auto;
    height:100%;
    position: absolute;
    width: 100%;
    padding: .4rem .65rem;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition:-webkit-transform 0.2s ease-out;
    transition:transform 0.2s ease-out;
    &.current {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .coupon-wrapper {
    position: relative;
    width: rem(588px);
    height:rem(180px);
    margin-bottom: rem(24px);
    background-color: #fff;
    border-radius: rem(4px);
    @include displayflex();
    @include flexflowRow();
    .coupon-info {
      position: relative;
      @include flex(1);
      padding-top: rem(22px);
      padding-left: rem(16px);
      h5{
        font-size: rem(32px);
        color: #4F545B;
      }
      .describe{
        position: absolute;
        bottom:rem(20px);
        left:rem(16px);
        color: #83858C;
        font-size: rem(24px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width:100%;
      }
      .date {
        position: absolute;
        bottom: 1.4rem;
        left:rem(16px);
        color: #83858C;
        font-size: rem(24px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width:100%;
      }
    }
    .value {
      position: relative;
      width: rem(174px);
      border-left: rem(2px) solid #F1F1F1;
      .price {
        text-align: center;
        margin-top:.6rem;
        font-size: rem(60px);
        color: #F5B950;
        span {
          font-size: rem(28px);
          &.fold{
            vertical-align: super;
          }
        }
      }
      .coupon-type {
        text-align: center;
        margin-top:rem(30px);
        font-size: rem(24px);
        color: #F5B950;
      }
      .bottom-circle {
        position: absolute;
        bottom: rem(-6px);
        width: rem(12px);
        height:rem(12px);
        border-radius: rem(12px);
        left:rem(-6px);
        background-color: #f5f5f5;
      }
      .top-circle {
        position: absolute;
        top: rem(-6px);
        width: rem(12px);
        height:rem(12px);
        border-radius: rem(12px);
        left:rem(-6px);
        background-color: #f5f5f5;
      }
    }
    .bottom-icon{
      position:absolute;
      bottom:0;
      right:2.375rem;
      width:7.45rem;
      height:3.225rem;
      img{
        width: 100%;
        height: 100%;
      }
    }
    &.selected {
      .coupon-info {
        h5{
          color: #E61E4B;
        }
      }
      .price {
        color: #E61E4B;
      }
      .coupon-type {
        color: #E61E4B;
      }
      &:after {
        content: '';
        width: rem(63px);
        height:rem(63px);
        display: inline-block;
        background: url(/master-Q3/images/icon/coupon_selected@2x.png) no-repeat center;
        background-size: contain;
        position: absolute;
        top:0;
        right:0;
      }
    }
    &.disabled {
      .coupon-info {
        h5{
          color: #83858C;
        }
      }
      .value{
        .price {
          color: #C0C2C9;
        }
        .coupon-type {
          color: #C0C2C9;
        }
      }
    }
  }
  .no-coupon {
    width:100%;
    margin: rem(100px) 0;
    text-align: center;
    i {
      margin: 0 auto;
      display: inline-block;
      width: rem(245px);
      height:rem(115px);
      background: url(/master-Q3/images/icon/no_coupon_icon@2x.png) no-repeat center;
      background-size: contain;
    }
    p {
      margin-top: rem(30px);
      text-align: center;
      font-size: rem(28px);
      color: #83858C;
    }
  }
}