@import "/common/css/base";
@import "/common/css/inputGroup";
@import "/common/css/customerList";
.page-group,.page-content {
  background-color: #f5f5f5;
}
footer{
  .pay-btn {
    z-index:1;
    @include flex(1);
    background-color: #D71345;
    text-align: center;
    color: #fff;
    font-size: rem(28px);
    .disabled {
      background-color: #737373;
    }
  }
}
.info-wrapper {
  width: 100%;
  background-color: #fff;
  padding: rem(20px) rem(26px);
  h5{
    font-size: rem(32px);
    color: #4F545B;
    margin-bottom: rem(22px);
    word-break: break-all;
  }
  p {
    color: #83858C;
    font-size: rem(26px);
    padding-top: rem(30px);
    border-top: rem(2px) solid #EBEBF5;
  }
}
.contact-infos {
  margin-top: rem(16px);
  background-color: #fff;
  .title {
    width:100%;
    height: rem(88px);
    line-height: rem(88px);
    border-bottom: rem(2px) solid #EBEBF5;
    color: #83858C;
    font-size: rem(28px);
    @include displayflex();
    @include flexflowRow();
    .turnCustomers {
      width: rem(184px);
      color: #F5B950;
      text-align: center;
    }
    .lines {
      width: rem(2px);
      height: rem(60px);
      margin-top: rem(14px);
      background-color: #D8D8D8;
    }
    p {
      @include flex(1);
      text-indent: rem(26px);
    }
  }
  .content {
    padding: 0 rem(26px);
  }
}
.select-customer {
  width:100%;
  margin-top: rem(16px);
  height: rem(88px);
  line-height: rem(88px);
  background-color: #fff;
  color: #83858C;
  font-size: rem(28px);
  @include displayflex();
  @include flexflowRow();
  .turnCustomers {
    width: rem(184px);
    color: #F5B950;
    text-align: center;
    &.disabled {
      color: #C0C2C9;
    }
  }
  .lines {
    width: rem(2px);
    height: rem(60px);
    margin-top: rem(14px);
    background-color: #D8D8D8;
  }
  p {
    @include flex(1);
    text-indent: rem(26px);
  }
}
.passengers {
  background-color: #fff;
  width:100%;
  .passenger {
    padding:0 rem(32px);
    @include displayflex();
    @include flexflowRow();
    background-color: #fff;
    position: relative;
    height: rem(88px);
    line-height:rem(88px);
    border-bottom: rem(2px) solid #EBEBF5;
    i {
      width: rem(36px);
      height:rem(36px);
      margin-top: rem(26px);
      margin-right: rem(18px);
      background: url(/master-Q3/images/icon/input_name_icon@2x.png) no-repeat center;
      background-size: contain;
    }
    input {
      border: none;
      @include flex(1);
      font-size: rem(28px);
      color: #4F545B;
    }
    &:last-child {
      border: 0;
    }
    &:first-child {
      border-top: rem(2px) solid #EBEBF5;
    }
    .delete-customer {
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      content: '';
      width: rem(88px);
      height: rem(88px);
      background: url("/master-Q3/images/icon/customer_close_icon@2x.png") no-repeat center;
      background-size: rem(26px) rem(26px);
    }
  }
}
.idType-cover {
  position: fixed;
  width:100%;
  height:100%;
  background-color: #000;
  opacity: .4;
  z-index: 5;
  display: none;
}
.idType-wrapper {
  position: absolute;
  bottom: rem(-520px);
  width: 100%;
  z-index: 6;
  .idTypes {
    width: rem(588px);
    margin: 0 auto;
    background-color: #fff;
    border-radius: rem(6px);
    ul{
      list-style: none;
      li{
        height: rem(88px);
        line-height:rem(88px);
        text-align: center;
        color: #4F545B;
        font-size: rem(32px);
        border-bottom: rem(2px) solid #D8D8D8;
        &:last-child {
          border-bottom: 0;
        }
        &.selected {
          color: #E61E4B;
        }
      }
    }
  }
  .cancel-btn {
    border-radius: rem(6px);
    background-color: #fff;
    margin: rem(26px) auto;
    width: rem(588px);
    height: rem(112px);
    line-height:rem(112px);
    text-align: center;
    color: #4F545B;
    font-size: rem(32px);
  }
  &.show{
    -webkit-transition:bottom .25s ease-out;
    transition:bottom .25s ease-out;
    bottom:rem(24px);
  }
}