@import "/common/css/base";

@mixin box-sizing($set:border-box) {
  -webkit-box-sizing: $set;
  -moz-box-sizing: $set;
  -ms-box-sizing: $set;
  -o-box-sizing: $set;
  box-sizing: $set;
}

@mixin border-radius($radius:4px) {
  -webkit-border-radius: rem($radius);
  -moz-border-radius: rem($radius);
  -ms-border-radius: rem($radius);
  -o-border-radius: rem($radius);
  border-radius: rem($radius);
}

html, body {
  background-color: #F5F5F5;
}

* {
  @include box-sizing();
  outline: none;
  color: #4F545B;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border: none;
}

ul, li {
  list-style: none;
}

.tabs {
  @include displayflex;
  @include flexflowRow;
  height: rem(88px);
  line-height: rem(88px);
  background-color: #fff;
  @include shadow(0, 1px, 4px, rgba(0, 0, 0, 0.2));
  li {
    display: block;
    @include flex;
    text-align: center;
    font-size: rem(28px);
    color: #83858C;
    span {
      display: inline-block;
      font-size: rem(28px);
      color: #83858C;
      height: rem(88px);
    }
  }
  li.selected span {
    color: $red;
    border-bottom: 2px solid $red;
  }
}

.panels {
  width: 100%;
  .panel {
    display: none;
    padding: rem(20px) rem(26px);
    .total {
      background-color: #fff;
      padding: rem(32px) rem(30px);
      @include border-radius(8px);
      @include shadow(0, 0, 4px, rgba(0, 0, 0, 0.2));
      .label {
        font-size: rem(28px);
        color: #83858C;
        padding-bottom: rem(26px);
      }
      .price {
        font-size: rem(46px);
        color: $red;
      }
    }
    .top-header {
      background-color: #fff;
      padding: rem(15px) rem(30px);
      @include border-radius(8px);
      @include shadow(0, 0, 4px, rgba(0, 0, 0, 0.2));
      @include displayflex;
      @include flexflowRow;
      -ms-justify-content: center;
      -webkit-justify-content: center;
      justify-content: center;
      -ms-justify: center;
      -webkit-justify: center;
      justify: center;
      -ms-box-align: center;
      -webkit-box-align: center;
      box-align: center;
      -ms-align-items: center;
      -webkit-align-items: center;
      align-items: center;
      .total-price {
        padding: rem(15px) 0;
        border-right: 1px solid #D8D8D8;
        @include flex;
        .label {
          font-size: rem(28px);
          color: #83858C;
          padding-bottom: rem(26px);
        }
        .price {
          font-size: rem(46px);
          color: $red;
        }
      }
      .cancelOrder{
        display: block;
        width: rem(226px);
        font-size: rem(28px);
        color: #F5B950;
        margin-left: rem(30px);
        text-align: center;
      }
    }
    .marquee{
      background-color: #F5B950;
      .tip {
        width: 100%;
        height: rem(70px);
        color: #fff;
        font-size: rem(28px);
        line-height: rem(36px);
        padding: rem(17px) rem(26px);
        display: inline-block;
        vertical-align: top;
        &:before {
          content: '';
          display: inline-block;
          width: rem(36px);
          height: rem(36px);
          background: url(/master-Q3/images/icon/tips_white_icon.png) no-repeat center;
          background-size: contain;
          vertical-align: top;
          margin-right: rem(20px);
        }
      }
    }
    .records {
      width: rem(588px);
      margin: rem(20px) auto;
      color: #83858C;
      font-size: rem(28px);
      @include border-radius(8px);
      @include shadow(0, 0, 4px, rgba(0, 0, 0, 0.2));
      overflow: hidden;
      .record {
        padding: rem(26px) rem(30px);
        background-color: #fff;
        border-bottom: 1px solid #E5E5E5;
        &:last-child {
          border-bottom: none;
        }
        .title {
          @include displayflex;
          @include flexflowRow;
          margin-bottom: rem(18px);
          .mobile {
            line-height: rem(36px);
            font-size: rem(32px);
            vertical-align: top;
            @include flex;
            &:before {
              content: '';
              display: inline-block;
              width: rem(25px);
              height: rem(32px);
              vertical-align: top;
              background: url(/master-Q3/images/icon/grey_mobile_avatar_icon.png) no-repeat center;
              background-size: contain;
              margin-right: rem(20px);
            }
          }
          .price {
            color: #F5B950;
            line-height: rem(36px);
            font-size: rem(32px);
          }
        }
      }
    }
    .withdrawals{
      width: rem(588px);
      margin: rem(20px) auto;
      color: #83858C;
      font-size: rem(28px);
      @include border-radius(8px);
      @include shadow(0, 0, 4px, rgba(0, 0, 0, 0.2));
      overflow: hidden;
      .withdrawal{
        padding: rem(24px) rem(30px);
        background-color: #fff;
        border-bottom: 1px solid #E5E5E5;
        &:last-child {
          border-bottom: none;
        }
        .title {
          @include displayflex;
          @include flexflowRow;
          margin-bottom: rem(18px);
          .message {
            line-height: rem(36px);
            font-size: rem(32px);
            vertical-align: top;
            color: #83858C;
            @include flex;
          }
          .status {
            color: #0FC346;
            line-height: rem(36px);
            font-size: rem(32px);
            &.refuse{
              color: $red;
            }
            &.pending{
              color: #F5B950;
            }
            &.already{
              color: #0FC346;
            }
          }
        }
        .detail{
          color: #83858C;
        }
      }
    }
  }
  .panel.selected {
    display: block;
  }
  .panel:last-child{
    padding: 0;
  }
}
