@import "/common/css/base";

@mixin box-sizing($set:border-box) {
  -webkit-box-sizing: $set;
  -moz-box-sizing: $set;
  -ms-box-sizing: $set;
  -o-box-sizing: $set;
  box-sizing: $set;
}

@mixin border-radius($radius:4px) {
  -webkit-border-radius: rem($radius);
  -moz-border-radius: rem($radius);
  -ms-border-radius: rem($radius);
  -o-border-radius: rem($radius);
  border-radius: rem($radius);
}

html, body {
  background-color: #F5F5F5;
}

* {
  @include box-sizing();
  outline: none;
  color: #4F545B;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border: none;
}

ul, li {
  list-style: none;
}

.marquee {
  width: 100%;
  background-color: #F5B950;
  padding: rem(17px) rem(26px);
  @include displayflex;
  @include flexflowRow;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-justify: center;
  -webkit-justify: center;
  justify: center;
  -ms-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  &:before {
    content: '';
    display: inline-block;
    width: rem(36px);
    height: rem(36px);
    background: url(/master-Q3/images/icon/tips_white_icon.png) no-repeat center;
    background-size: contain;
    vertical-align: top;
    margin-right: rem(20px);
  }
  .tip {
    @include flex;
    color: #fff;
    font-size: rem(28px);
    line-height: rem(36px);
    display: inline-block;
    vertical-align: top;
  }
}
.records{
  width: rem(588px);
  margin: rem(20px) auto;
  color: #83858C;
  font-size: rem(28px);
  @include border-radius(8px);
  @include shadow(0, 0, 4px, rgba(0, 0, 0, 0.2));
  overflow: hidden;
  .record{
    padding: rem(24px) rem(30px);
    background-color: #fff;
    border-bottom: 1px solid #E5E5E5;
    &:last-child {
      border-bottom: none;
    }
    .title {
      @include displayflex;
      @include flexflowRow;
      margin-bottom: rem(22px);
      .date {
        line-height: rem(34px);
        font-size: rem(28px);
        vertical-align: top;
        color: #83858C;
        text-align: right;
        @include flex;
      }
      .status {
        color: #0FC346;
        line-height: rem(34px);
        font-size: rem(32px);
        &.refund{
          color: $red;
        }
        &.pending{
          color: #F5B950;
        }
        &.already{
          color: #0FC346;
        }
      }
    }
    .row{
      height: rem(42px);
      line-height: rem(42px);
      font-size: rem(28px);
      color: #83858C;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
