@import "/common/css/base";
body {
  background-color: #f5f5f5;
}
ul {
  list-style: none;
}
.search-wrapper {
  width:100%;
  height:rem(460px);
  background: url("/master-Q3/images/home_head_img@2x.png") no-repeat center;
  background-size: cover;
  padding-top: rem(128px);
  .start ,.destination{
    position: relative;
    margin: 0 auto;
    @include displayflex();
    @include flexflowRow();
    width: rem(588px);
    height: rem(88px);
    color: #ffffff;
    font-size: rem(28px);
    .bc{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    label {
      position: relative;
      width: rem(132px);
      line-height: rem(88px);
      text-align: center;
      z-index: 2;
    }
    .line {
      position: relative;
      z-index: 2;
      margin-top: rem(19px);
      width: rem(2px);
      height:rem(50px);
      background-color: #D8D8D8;
    }
    .name {
      position: relative;
      z-index: 2;
      @include flex(1);
      line-height: rem(88px);
      text-align: right;
      padding-right: rem(71px);
      &:after{
        content: ' ';
        display: inline-block;
        position: absolute;
        width: rem(19px);
        height: rem(32px);
        background: url("/master-Q3/images/icon/right_red_arrow@2x.png") no-repeat center;
        background-size: cover;
        top: rem(28px);
        right: rem(26px);
      }
    }
  }
  .start {
    .bc {
      border-top-left-radius: rem(6px);
      border-top-right-radius: rem(6px);
      background: url("/master-Q3/images/frosted_glass_up.png") no-repeat center;
    }
  }
  .destination {
    margin:rem(4px) auto;
    .bc {
      border-bottom-right-radius: rem(6px);
      border-bottom-left-radius: rem(6px);
      background: url("/master-Q3/images/frosted_glass_down.png") no-repeat center;
    }
  }
  .search-button {
    margin: rem(30px) auto;
    width: rem(588px);
    height: rem(88px);
    line-height: rem(88px);
    background-color: #E61E4B;
    text-align: center;
    border-radius: rem(6px);
    font-size: rem(32px);
    color: #fff;
  }
}
.recommend {
  margin-top: rem(32px);
  h5{
    height: rem(37px);
    line-height: rem(37px);
    border-left: rem(10px) solid #E61E4B;
    color: #4a4a4a;
    font-size: rem(26px);
    text-indent: rem(16px);
    font-weight: 100;
    margin-bottom: rem(22px);
  }
  .pkg-item {
    position: relative;
    width: 100%;
    background-color: #fff;
    padding-bottom: rem(20px);
    border-radius: rem(6px);
    .head-image {
      width:100%;
      height: rem(270px);
      img{
        width:100%;
        height:100%;
      }
    }

    p {
      padding: rem(10px) rem(26px);
      font-size: rem(28px);
      color: #4F545B;
      word-break: break-all;
      line-height: 1rem;
    }
    .price{
      width: rem(590px);
      height: rem(40px);
      margin:rem(6px) auto;
      line-height: rem(40px);
      .left{
        float: left;
        color: #E61E4B;
        font-size: rem(28px);
      }
      .right{
        float: right;
        color: #83858C;
        font-size: rem(24px);
      }
    }
    .tags {
      position: absolute;
      top:rem(26px);
      left: rem(26px);
      ul {
        width: 100%;
        li {
          display: inline-block;
          float: left;
          background-color: #0C0E16;
          border-radius: rem(6px);
          span {
            padding: rem(3px) rem(18px);
            font-size: rem(24px);
            color: #fff;
          }
        }
      }

    }
  }
}
#tab-depart,#tab-arrive {
  min-height: 100%;
  .search-bar {
    width: 100%;
    height: rem(88px);
    background-color: #fff;
    border-bottom: 1px solid #E4E4E4;
    @include displayflex();
    @include flexflowRow();
    .back {
      width:rem(73px);
      height:100%;
      background: url("/master-Q3/images/icon/left_red_arrow@2x.png") no-repeat center;
      background-size: 30%;
    }
    .search-input {
      position: relative;
      margin-top: rem(16px);
      width: rem(456px);
      height: rem(56px);
      line-height: rem(56px);
      font-size: rem(28px);
      label {
        position: absolute;
        top: rem(15px);
        left:rem(16px);
        display: inline-block;
        width: rem(31px);
        height: rem(25px);
        background: url("/master-Q3/images/icon/search_icon@2x.png") no-repeat center;
        background-size: contain;
      }
      input {
        width: 100%;
        height:100%;
        background-color: #EBEBEB;
        border: 0;
        border-radius: rem(6px);
        text-indent: rem(64px);
        font-size: rem(28px);
      }
    }
    .cancel {
      @include flex(1);
      text-align: center;
      color: #E61E4B;
      line-height: rem(88px);
      font-size: rem(28px);
    }
  }
  .navBar {
    width: 100%;
    height: rem(88px);
    background-color: #fff;
    @include shadow(0,5px,5px,#bdbdbd);
    li {
      position: relative;
      width: rem(160px);
      line-height: rem(88px);
      text-align: center;
      float: left;
      font-size: rem(30px);
      color: #83858C;
      .bottom-line {
        position: absolute;
        bottom: 0;
        left:50%;
        margin-left: rem(-40px);
        width: rem(80px);
        height: rem(4px);
        background-color: #ffffff;
      }
      &.selected {
        .bottom-line {
          width: rem(80px);
          height: rem(4px);
          background-color: #E61E4B;
        }
      }
    }
  }
  .hot-space {
    width: 100%;
    padding-top: rem(24px);
    background-color: #E0E0E0;
    h5 {
      height: rem(30px);
      border-left: rem(10px) solid #E61E4B;
      font-size: rem(26px);
      color: #83858C;
      text-indent: rem(16px);
    }
    ul {
      font-size: 0;
      padding:rem(14px) rem(14px) rem(30px) rem(14px);
      li{
        display: inline-block;
        margin: rem(10px) rem(12px);
        padding: 0 rem(18px);
        color: #4F545B;
        font-size: rem(28px);
        text-align: center;
        width: rem(180px);
        height: rem(88px);
        line-height: rem(88px);
        background-color: #fff;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-radius: rem(6px);
        &.selected {
          background-color: #E61E4B;
          color: white;
        }
      }
    }
  }
  .place-list {
    .item-wrap {
      width: 100%;
      .letter {
        width: 100%;
        height: rem(50px);
        line-height: rem(50px);
        background-color: #F1F1F1;
        font-size: rem(24px);
        color: #83858C;
        text-indent: rem(26px);
      }
      ul {
        background-color: #fff;
        li{
          height: rem(88px);
          line-height: rem(88px);
          color: #4F545B;
          font-size: rem(28px);
          border-bottom: 1px solid #EBEBF5;
          text-indent: rem(26px);
          &:last-child {
            border-bottom: 0;
          }
          &.active {
            background-color: #F1F1F1;
          }
          &.selected {
            color: #E61E4B;
          }
        }
      }
    }
  }
}
.destination-content{display: none}
.destination-content.current{display: block}