@import "/common/css/base";

$red: #D71345;
$borderColor: #E4E4E4;
@mixin box-sizing($set:border-box) {
  -webkit-box-sizing: $set;
  -moz-box-sizing: $set;
  -ms-box-sizing: $set;
  -o-box-sizing: $set;
  box-sizing: $set;
}

@mixin border-radius($radius:4px) {
  -webkit-border-radius: rem($radius);
  -moz-border-radius: rem($radius);
  -ms-border-radius: rem($radius);
  -o-border-radius: rem($radius);
  border-radius: rem($radius);
}

html, body {
  background-color: #F5F5F5;
}

* {
  @include box-sizing();
  outline: none;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border: none;
}
.hidden{
  width:0;
  height:0;
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
}

header {
  .edit {
    position: absolute;
    top: 0;
    right: 0;
    font-size: rem(28px);
    width: 2.5rem;
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    color: #E61E4B;
  }
}

.collections {
  padding: rem(28px) rem(26px) 0 rem(26px);
  .collection {
    margin-bottom: rem(16px);
    @include displayflex;
    @include flexflowRow();
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-justify: center;
    -webkit-justify: center;
    justify: center;
    -ms-box-align: center;
    -webkit-box-align: center;
    box-align: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    .checkbox {
      display: none;
      margin-right: rem(26px);
      width: rem(40px);
      height: rem(40px);
      background: url(/master-Q3/images/icon/checkbox_grey_normal_icon@2x.png) no-repeat center;
      background-size: contain;
    }
    .product {
      @include flex;
      background-color: #fff;
      padding: rem(20px) rem(26px);
      font-size: rem(28px);
      color: #4F545B;
      @include displayflex;
      @include flexflowRow();
      -ms-justify-content: center;
      -webkit-justify-content: center;
      justify-content: center;
      -ms-justify: center;
      -webkit-justify: center;
      justify: center;
      -ms-box-align: center;
      -webkit-box-align: center;
      box-align: center;
      -ms-align-items: center;
      -webkit-align-items: center;
      align-items: center;
      img {
        width: rem(100px);
        height: rem(100px);
      }
      .name {
        @include flex;
        color: #4F545B;
        font-size: rem(28px);
        width: rem(344px);
        max-height: rem(100px);
        margin-left: rem(26px);
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
    &.selected .checkbox{
      background: url(/master-Q3/images/icon/checkbox_selected_icon@2x.png) no-repeat center;
      background-size: contain;
    }
  }
  &.edit {
    padding: rem(28px) 0 0 rem(26px);
    .collection {
      .checkbox {
        display: block;
      }
    }
  }
}

footer {
  .delete {
    @include flex;
    display: block;
    height: rem(96px);
    line-height: rem(96px);
    font-size: rem(34px);
    color: #fff;
    text-align: center;
    background-color: #E61E4B;
    &:active {
      background-color: #BF0A33;
    }
    &.selected{
      background-color:#737373;
    }
  }
}
.no_collections{
  img.icon {
    display: block;
    margin: rem(100px) auto rem(30px);
    width: rem(288px);
    height: rem(184px);
  }
  .copy {
    width: rem(544px);
    font-size: rem(28px);
    color: #83858C;
    line-height: rem(45px);
    text-align: center;
    display: block;
    margin: 0 auto rem(60px);
  }
  a {
    display: block;
    width: rem(272px);
    height: rem(88px);
    margin: 0 auto rem(30px);
    font-size: rem(32px);
    color: #E61E4B;
    background-color: #fff;
    line-height: rem(88px);
    text-align: center;
    border: 1px solid #E61E4B;
    @include border-radius(8px);
  }
}
.infinite-scroll-preloader{margin-top:1rem}.infinite-scroll-preloader{margin:.5rem;text-align:center}.infinite-scroll-preloader .preloader{width:1.5rem;height:1.5rem}.infinite-scroll-preloader{height:2rem;line-height:2rem;text-align:center;font-weight:700;font-size:.6rem;color:#ababab;width:6rem;margin:0 auto}.infinite-scroll-preloader .pullUpIcon{display:block;float:left;width:1rem;height:.5rem;margin-top:.7rem;-webkit-transform:rotate(-180deg) translateZ(0)}.infinite-scroll-preloader.flip .pullUpIcon{-webkit-transform:rotate(0) translateZ(0)}
