@import "/common/css/base";

@mixin box-sizing($set:border-box) {
  -webkit-box-sizing: $set;
  -moz-box-sizing: $set;
  -ms-box-sizing: $set;
  -o-box-sizing: $set;
  box-sizing: $set;
}

@mixin border-radius($radius:4px) {
  -webkit-border-radius: rem($radius);
  -moz-border-radius: rem($radius);
  -ms-border-radius: rem($radius);
  -o-border-radius: rem($radius);
  border-radius: rem($radius);
}

html, body {
  background-color: #F5F5F5;
}

* {
  @include box-sizing();
  outline: none;
  color: #4F545B;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border: none;
}

.tip {
  width: 100%;
  height: rem(70px);
  background-color: #F5B950;
  color: #fff;
  font-size: rem(28px);
  line-height: rem(36px);
  padding: rem(17px) rem(26px);
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  &:before {
    content: '';
    display: inline-block;
    width: rem(36px);
    height: rem(36px);
    background: url(/master-Q3/images/icon/tips_white_icon.png) no-repeat center;
    background-size: contain;
    vertical-align: top;
    margin-right: rem(20px);
  }
}

.orderBar {
  width: 100%;
  overflow: hidden;
  height: rem(88px);
  padding: rem(30px) rem(26px);
  background-color: #fff;
  margin-bottom: rem(16px);
  @include displayflex;
  @include flexflowRow;
  span {
    display: block;
    font-size: rem(28px);
    line-height: rem(28px);
    color: #4F545B;
  }
  .orderNo {
    @include flex;
  }
  .orderStatus {
    color: #83858C;
    &.pending {
      color: #F5B950;
    }
    &.cancel {
      color: #E61E4B;
    }
    &.already {
      color: #83858C;
    }
  }
}

.orderInfo {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: rem(16px);
  .product-info {
    padding: rem(20px) rem(26px) rem(18px);
    @include displayflex;
    @include flexflowRow;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-justify: center;
    -webkit-justify: center;
    justify: center;
    -ms-box-align: center;
    -webkit-box-align: center;
    box-align: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    &:active {
      background-color: #DEDEDE;
    }
    .left {
      @include flex;
      display: block;
      .name {
        font-size: rem(32px);
        line-height: rem(42px);
        color: #4F545B;
      }
      .bottom-bar {
        height: rem(28px);
        margin-bottom: rem(2px);
        margin-top: rem(16px);
        overflow: hidden;
        span {
          display: inline-block;
          float: left;
          font-size: rem(24px);
          line-height: rem(28px);
          margin-right: rem(30px);
          padding-left: rem(30px);
          position: relative;
          color: #83858C;
          &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            display: inline-block;
            width: rem(20px);
            height: rem(24px);
            margin-right: rem(10px);
            background: url(/master-Q3/images/icon/date_icon@2x.png) no-repeat center;
            background-size: contain;
          }
        }
        .round {
          &:before {
            top: rem(2px);
            height: rem(20px);
            background: url(/master-Q3/images/icon/transform_icon@2x.png) no-repeat center;
            background-size: contain;
          }
        }
        .trip {
          &:before {
            top: rem(1px);
            height: rem(22px);
            background: url(/master-Q3/images/icon/date_icon@2x.png) no-repeat center;
            background-size: contain;
          }
        }
        .time {
          &:before {
            background: url(/master-Q3/images/icon/time_icon@2x.png) no-repeat center;
            background-size: contain;
          }
        }
      }
    }
    &:after {
      content: '';
      width: rem(19px);
      height: rem(32px);
      background: url(/master-Q3/images/icon/right_grey_arrow@2x.png) no-repeat center;
      background-size: contain;
      display: inline-block;
      margin-left: rem(40px);
    }
  }
  .products {
    margin: 0 rem(26px);
    border-top: 1px solid #EBEBF5;
    .product {
      width: rem(588px);
      padding: rem(16px) 0;
      @include displayflex;
      @include flexflowRow;
      -ms-justify-content: center;
      -webkit-justify-content: center;
      justify-content: center;
      -ms-justify: center;
      -webkit-justify: center;
      justify: center;
      -ms-box-align: center;
      -webkit-box-align: center;
      box-align: center;
      -ms-align-items: center;
      -webkit-align-items: center;
      align-items: center;
      span {
        @include flex;
        display: inline-block;
        color: #83858C;
        width: rem(538px);
        font-size: rem(26px);
        line-height: rem(40px);
      }
      &:before {
        content: '';
        display: block;
        width: rem(40px);
        height: rem(40px);
        background: url(/master-Q3/images/icon/yellow_busTicket@2x.png) no-repeat center;
        background-size: contain;
        margin-right: rem(20px);
      }
      &.busTicket:before {
        background: url(/master-Q3/images/icon/yellow_busTicket@2x.png) no-repeat center;
        background-size: contain;
      }
      &.entertainment:before {
        background: url(/master-Q3/images/icon/yellow_entertainment@2x.png) no-repeat center;
        background-size: contain;
      }
      &.gift:before {
        background: url(/master-Q3/images/icon/yellow_gift@2x.png) no-repeat center;
        background-size: contain;
      }
      &.hotel:before {
        background: url(/master-Q3/images/icon/yellow_hotel@2x.png) no-repeat center;
        background-size: contain;
      }
      &.shuttlebus:before {
        background: url(/master-Q3/images/icon/yellow_shuttlebus@2x.png) no-repeat center;
        background-size: contain;
      }
      &.ticket:before {
        background: url(/master-Q3/images/icon/yellow_ticket@2x.png) no-repeat center;
        background-size: contain;
      }
      &.food:before {
        background: url(/master-Q3/images/icon/yellow_food@2x.png) no-repeat center;
        background-size: contain;
      }
    }
  }
  .order-detail {
    margin: 0 rem(26px);
    padding: rem(24px) 0;
    border-top: 1px solid #EBEBF5;
    .item {
      font-size: 0;
      padding-bottom: rem(18px);
      @include displayflex;
      @include flexflowRow;
      span {
        display: inline-block;
        font-size: rem(26px);
        line-height: rem(37px);
        color: #83858C;
      }
      .label {
        margin-right: rem(20px);
        display: block;
      }
      .value {
        @include flex;
        display: block;
        color: #4F545B;
        line-height: rem(37px);
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
.card-wrap {
  background-color: #fff;
  margin-bottom: rem(20px);
  .card-title {
    height: rem(78px);
    line-height: rem(32px);
    color: #737373;
    padding: rem(23px) rem(26px);
    border-bottom: 1px solid #E4E4E4;
    @include displayflex;
    @include flexflowRow();
    span {
      display: block;
      color: #4F545B;
      font-size: rem(32px);
      @include flex;
    }
    &:after {
      content: '';
      display: block;
      width: rem(19px);
      height: rem(32px);
      background: url(/master-Q3/images/icon/right_grey_arrow@2x.png) no-repeat center;
      background-size: contain;
    }
  }
  .cards{
    padding: 0 rem(32px);
    .card {
      padding: rem(28px) 0;
      border-bottom: 1px solid #EBEBF5;
      position: relative;
      .row {
        padding-bottom: rem(20px);
        font-size: rem(26px);
        @include displayflex;
        @include flexflowRow;
        -ms-justify-content: flex-start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -ms-justify: flex-start;
        -webkit-justify: flex-start;
        justify: flex-start;
        -ms-box-align: flex-start;
        -webkit-box-align: start;
        box-align: flex-start;
        -ms-align-items: flex-start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        &:last-child{
          padding-bottom: 0;
        }
        span.red {
          color: #E61E4B;
        }
        span {
          display: inline-block;
          word-break: break-all;
        }
        .label {
          margin-right: rem(20px);
          color: #83858C;
        }
        .value {
          @include flex;
          color: #4F545B;
          &.binding{
            color: #E61E4B;
          }
          &.bound{
            color: #F5B950;
          }
          &.overdue{
            color: #4F545B;
          }
        }
      }
      .goBind{
        width: rem(135px);
        height: rem(30px);
        line-height: rem(30px);
        color: #E61E4B;
        font-size: rem(26px);
        display: block;
        position: absolute;
        right: rem(32px);
        bottom: rem(28px);
        @include displayflex;
        @include flexflowRow;
        -ms-justify-content: center;
        -webkit-justify-content: center;
        justify-content: center;
        -ms-justify: center;
        -webkit-justify: center;
        justify: center;
        -ms-box-align: center;
        -webkit-box-align: center;
        box-align: center;
        -ms-align-items: center;
        -webkit-align-items: center;
        align-items: center;
        span{
          display: block;
          color: #E61E4B;
          font-size: rem(26px);
          @include flex;
        }
        &:after{
          content: '';
          display: block;
          width: rem(24px);
          height: rem(24px);
          background: url(/master-Q3/images/icon/freebuy_right_arrow.png) no-repeat center;
          background-size: cover;
          margin-top: rem(3px);
        }
      }
    }
  }
}
.contact {
  height: rem(88px);
  background-color: #fff;
  padding: rem(30px) rem(26px);
  margin-bottom: rem(16px);
  font-size: 0;
  span {
    display: inline-block;
    color: #4F545B;
    font-size: rem(28px);
    vertical-align: middle;
  }
  .label {
    color: #83858C;
    margin-right: rem(20px);
  }
  .name {
    margin-right: rem(20px);
  }
}

.customers {
  background-color: #fff;
  padding: 0 rem(26px);
  margin-bottom: rem(16px);
}

.customer,.booker,.check {
  height: rem(88px);
  padding: rem(14px) 0;
  border-bottom: 1px solid #EBEBF5;
  @include displayflex;
  @include flexflowRow;
  &:last-child {
    border-bottom: none;
  }
  span {
    display: inline-block;
    color: #4F545B;
    font-size: rem(28px);
    line-height: rem(60px);
    vertical-align: middle;
  }
  .label {
    color: #83858C;
    margin-right: rem(20px);
  }
  .name {
    @include flex;
    margin-right: rem(20px);
    display: block;
  }
  .view {
    color: #F5B950;
    padding-left: rem(26px);
    border-left: 1px solid #EBEBF5;
  }
  .total {
    font-size: rem(34px);
    color: #E61E4B;
    @include flex;
    display: block;
  }
}

.check,.booker {
  background-color: #fff;
  padding: rem(14px) rem(26px);
  margin-bottom: rem(16px);
}

.backRule {
  background-color: #fff;
  margin-bottom: rem(16px);
  .title {
    font-size: rem(26px);
    color: #83858C;
    line-height: rem(30px);
    padding: rem(24px) 0 rem(24px) 0;
    border-bottom: 1px solid #EBEBF5;
    &:before {
      content: '';
      width: rem(10px);
      height: rem(30px);
      background-color: #E61E4B;
      display: inline-block;
      vertical-align: top;
      margin-right: rem(16px);
    }
  }
  .content {
    padding: rem(26px);
    font-size: rem(28px);
    color: #83858C;
    line-height: rem(42px);
  }
}

footer {
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.12) !important;
  -webkit-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.12) !important;
  -moz-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.12) !important;
  @include displayflex;
  @include flexflowRow;
  font-size: 0;
  .tel {
    width: rem(140px);
    display: inline-block;
    vertical-align: top;
    &:active {
      background-color: #DEDEDE;
    }
    &:before {
      display: block;
      content: '';
      width: rem(27px);
      height: rem(36px);
      background: url(/master-Q3/images/icon/phone_normal@2x.png) no-repeat center;
      background-size: contain;
      margin: rem(12px) auto 0;
    }
    span {
      display: block;
      font-size: rem(24px);
      line-height: rem(33px);
      color: #83858C;
      text-align: center;
      margin-top: rem(5px);
    }
  }
  .buy {
    width: rem(499px);
    vertical-align: top;
    @include flex;
    display: block;
    line-height: rem(96px);
    text-align: center;
    background-color: #E61E4B;
    font-size: rem(34px);
    color: #fff;
    &:active {
      background-color: #BF0A33;
    }
  }
  .contact{
    display: block;
    width: 100%;
    text-align: center;
    color: #83858C;
    font-size: rem(34px);
    line-height: rem(40px);
    @include flex;
    &:before{
      content: '';
      display: inline-block;
      width: rem(36px);
      height: rem(36px);
      background: url(/master-Q3/images/icon/phone_normal@2x.png) no-repeat center;
      background-size: contain;
      margin-right: rem(16px);
      vertical-align: top;
      margin-top: rem(2px);
    }
  }
}

.popup-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  .mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.65);
  }
  .content-wrap {
    width: rem(500px);
    position: fixed;
    top: rem(100px);
    left: 50%;
    margin-left: rem(-250px);
    z-index: 1000;
    &:before {
      content: '';
      display: block;
      width: rem(480px);
      margin: 0 rem(10px);
      height: rem(189px);
      background: url(/master-Q3/images/icon/alertTop_panda.png) no-repeat center;
      background-size: contain;
    }
    .content {
      background-color: #fff;
      @include border-radius(8px);
      overflow: hidden;
      .title {
        width: 100%;
        height: rem(70px);
        padding: rem(11px) rem(20px);
        line-height: rem(48px);
        color: #E61E4B;
        font-size: rem(34px);
        font-weight: 600;
        text-align: center;
        border-bottom: 1px solid #EBEBF5;
      }
      .items {
        width: 100%;
        max-height: rem(500px);
        font-size: rem(28px);
        line-height: rem(40px);
        padding: rem(4px) 0;
        border-bottom: rem(10px) solid #E61E4B;
        overflow: auto;
        .detail {
          padding: rem(20px) rem(32px) 0;
          border-bottom: 1px solid #EBEBF5;
          &:last-child{
            border-bottom: none;
          }
        }
        .item{
          border-bottom: 1px solid #EBEBF5;
          .detail {
            &:last-child{
              border-bottom: none;
            }
          }
          &:last-child{
            border-bottom: none;
          }
        }
        .row {
          padding-bottom: rem(20px);
          @include displayflex;
          @include flexflowRow;
          -ms-justify-content: flex-start;
          -webkit-justify-content: flex-start;
          justify-content: flex-start;
          -ms-justify: flex-start;
          -webkit-justify: flex-start;
          justify: flex-start;
          -ms-box-align: flex-start;
          -webkit-box-align: start;
          box-align: flex-start;
          -ms-align-items: flex-start;
          -webkit-align-items: flex-start;
          align-items: flex-start;
          span.red {
            color: #E61E4B;
          }
          span {
            display: inline-block;
            word-break: break-all;
          }
          .label {
            margin-right: rem(20px);
            color: #83858C;
          }
          .value {
            @include flex;
            color: #4F545B;
          }
        }
      }
    }
    .close {
      display: block;
      width: rem(58px);
      height: rem(58px);
      background: url(/master-Q3/images/icon/close.png) no-repeat center;
      background-size: contain;
      position: relative;
      margin: rem(50px) 0 0 rem(-29px);
      left: 50%;
    }
  }
  &.customerDetail {
    .content-wrap:before {
      background: url(/master-Q3/images/icon/alertTop_panda.png) no-repeat center;
      background-size: contain;
    }
    .content-wrap{
      top: rem(170px);
    }
  }
  &.billDetail {
    .content-wrap:before {
      background: url(/master-Q3/images/icon/alertTop_calculator.png) no-repeat center;
      background-size: contain;
    }
  }
}