@import "/common/css/base";

@mixin box-sizing($set:border-box) {
  -webkit-box-sizing: $set;
  -moz-box-sizing: $set;
  -ms-box-sizing: $set;
  -o-box-sizing: $set;
  box-sizing: $set;
}

@mixin border-radius($radius:4px) {
  -webkit-border-radius: rem($radius);
  -moz-border-radius: rem($radius);
  -ms-border-radius: rem($radius);
  -o-border-radius: rem($radius);
  border-radius: rem($radius);
}

html, body {
  background-color: #F5F5F5;
}

* {
  @include box-sizing();
  outline: none;
  color: #4F545B;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border: none;
}

.orders {
  width: 100%;
  overflow: hidden;
  .order {
    background-color: #fff;
    margin-bottom: rem(16px);
    &:last-child{
      margin-bottom: 0;
    }
    .top-content {
      width: 100%;
      height: rem(88px);
      padding: rem(19px) rem(26px);
      border-bottom: 1px solid #EBEBF5;
      @include displayflex;
      @include flexflowRow;
      span {
        display: block;
      }
      .type {
        width: rem(50px);
        height: rem(50px);
        background: url(/master-Q3/images/icon/red_ticket_icon@2x.png) no-repeat center;
        background-size: contain;
        &.ticket {
          background: url(/master-Q3/images/icon/red_ticket_icon@2x.png) no-repeat center;
          background-size: contain;
        }
        &.food {
          background: url(/master-Q3/images/icon/red_food_icon@2x.png) no-repeat center;
          background-size: contain;
        }
        &.hotel {
          background: url(/master-Q3/images/icon/red_hotel_icon@2x.png) no-repeat center;
          background-size: contain;
        }
        &.entertainment {
          background: url(/master-Q3/images/icon/red_entertainment_icon@2x.png) no-repeat center;
          background-size: contain;
        }
        &.card {
          background: url(/master-Q3/images/icon/red_card_icon@2x.png) no-repeat center;
          background-size: contain;
        }
        &.gift {
          background: url(/master-Q3/images/icon/red_gift_icon@2x.png) no-repeat center;
          background-size: contain;
        }
        &.busTicket {
          background: url(/master-Q3/images/icon/red_busTicket_icon@2x.png) no-repeat center;
          background-size: contain;
        }
        &.presell {
          background: url(/master-Q3/images/icon/red_presell_icon@2x.png) no-repeat center;
          background-size: contain;
        }
        &.pinwan {
          background: url(/master-Q3/images/icon/red_pinwan_icon@2x.png) no-repeat center;
          background-size: contain;
        }
        &.shuttlebus {
          background: url(/master-Q3/images/icon/red_shuttlebus_icon@2x.png) no-repeat center;
          background-size: contain;
        }
      }
      .status {
        @include flex;
        font-size: rem(28px);
        line-height: rem(50px);
        color: #E61E4B;
        text-align: right;
      }
      &.closed {
        .type {
          &.ticket {
            background: url(/master-Q3/images/icon/grey_ticket_icon@2x.png) no-repeat center;
            background-size: contain;
          }
          &.food {
            background: url(/master-Q3/images/icon/grey_food_icon@2x.png) no-repeat center;
            background-size: contain;
          }
          &.hotel {
            background: url(/master-Q3/images/icon/grey_hotel_icon@2x.png) no-repeat center;
            background-size: contain;
          }
          &.entertainment {
            background: url(/master-Q3/images/icon/grey_entertainment_icon@2x.png) no-repeat center;
            background-size: contain;
          }
          &.card {
            background: url(/master-Q3/images/icon/grey_card_icon@2x.png) no-repeat center;
            background-size: contain;
          }
          &.gift {
            background: url(/master-Q3/images/icon/grey_gift_icon@2x.png) no-repeat center;
            background-size: contain;
          }
          &.busTicket {
            background: url(/master-Q3/images/icon/grey_busTicket_icon@2x.png) no-repeat center;
            background-size: contain;
          }
          &.presell {
            background: url(/master-Q3/images/icon/grey_presell_icon@2x.png) no-repeat center;
            background-size: contain;
          }
          &.pinwan {
            background: url(/master-Q3/images/icon/grey_pinwan_icon@2x.png) no-repeat center;
            background-size: contain;
          }
          &.shuttlebus {
            background: url(/master-Q3/images/icon/grey_shuttlebus_icon@2x.png) no-repeat center;
            background-size: contain;
          }
        }
        .status {
          color: #83858C;
        }
      }
    }
    .center-content {
      padding: rem(12px) rem(26px) rem(20px);
      display: block;
      &:active{
        background-color: #DEDEDE;
      }
      .name {
        font-size: rem(34px);
        color: #4F545B;
        line-height: rem(48px);
      }
      .number {
        font-size: rem(24px);
        color: #4F545B;
        padding-top: rem(20px);
      }
      .date-price {
        padding-top: rem(12px);
        @include displayflex;
        @include flexflowRow;
        -ms-justify-content: center;
        -webkit-justify-content: center;
        justify-content: center;
        -ms-justify: center;
        -webkit-justify: center;
        justify: center;
        -ms-box-align: center;
        -webkit-box-align: center;
        box-align: center;
        -ms-align-items: center;
        -webkit-align-items: center;
        align-items: center;
        .date, .price {
          font-size: rem(24px);
          color: #4F545B;
          display: block;
        }
        .date {
          line-height: rem(40px);
          width: rem(350px);
          height: auto;
        }
        .price {
          height: rem(40px);
          line-height: rem(40px);
          text-align: right;
          @include flex;
          span {
            font-size: rem(34px);
            line-height: rem(40px);
            color: #E61E4B;
            height: rem(40px);
            vertical-align: top;
          }
        }
      }
    }
    .bottom-content {
      overflow: hidden;
      padding: rem(20px) rem(26px) 0;
      font-size: 0;
      text-align: right;
      border-top: 1px dashed #EBEBF5;
      a:active{
        background-color: #BF0A33;
      }
      a {
        display: inline-block;
        width: rem(200px);
        height: rem(70px);
        line-height: rem(70px);
        text-align: center;
        color: #fff;
        font-size: rem(28px);
        @include border-radius(8px);
        background-color: #E61E4B;
        margin-bottom: rem(20px);
        margin-left: rem(20px);
      }
    }
  }
}

.no-orders {
  img {
    width: rem(207px);
    height: rem(122px);
    display: block;
    margin: rem(100px) auto 0;
  }
  div{
    font-size: rem(28px);
    color: #83858C;
    line-height: rem(40px);
    text-align: center;
    margin: rem(30px) auto 0;
  }
  a{
    width: rem(263px);
    height: rem(88px);
    line-height: rem(84px);
    display: block;
    margin: rem(60px) auto 0;
    color: #E61E4B;
    font-size: rem(28px);
    text-align: center;
    border: 1px solid #E61E4B;
    background-color: #fff;
    @include border-radius(8px);
  }
}
