@import "/common/css/base";

$baseFont: 20px !default;
$red: #D71345 !default;
$opacity: 1 !default;
@function toRem($px) {
  @return $px / $baseFont * 1rem;
}

@mixin box-sizing($set:border-box) {
  -webkit-box-sizing: $set;
  -moz-box-sizing: $set;
  -ms-box-sizing: $set;
  -o-box-sizing: $set;
  box-sizing: $set;
}

@mixin border-radius($radius:4px) {
  -webkit-border-radius: toRem($radius);
  -moz-border-radius: toRem($radius);
  -ms-border-radius: toRem($radius);
  -o-border-radius: toRem($radius);
  border-radius: toRem($radius);
}

@mixin linear-gradient-grey {
  background-image: -webkit-linear-gradient(top,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.25) 100%
  );
  background-image: -moz-linear-gradient(top,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.25) 100%
  );
  background-image: -o-linear-gradient(top,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.25) 100%
  );
  background-image: -ms-linear-gradient(top,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.25) 100%
  ); /* IE10+ */
  background-image: linear-gradient(top,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.25) 100%
  ); /* W3C */
}

html, body {
  background-color: #F5F5F5;
}

* {
  @include box-sizing();
  outline: none;
  color: #4F545B;
}

img {
  width: 100%;
  vertical-align: middle;
  border: none;
}

.topModule {
  background-color: #fff;
  margin-bottom: toRem(8px);
  .banner {
    width: 100%;
    height: toRem(140px);
    img {
      width: 100%;
      height: 100%;
    }
  }
  .tabs {
    height: toRem(90px);
    @include displayflex;
    @include flexflowRow;
    a {
      @include flex;
      display: block;
      padding: toRem(15.5px) 0;
      &:active {
        background-color: #DEDEDE;
      }
    }
    .domestic, .international {
      padding: toRem(6.5px) toRem(26px);
      color: #4F545B;
      font-size: 0;
      @include displayflex;
      @include flexflowRow;
      .desc {
        @include flex;
        display: inline-block;
        font-size: toRem(14px);
        line-height: toRem(20px);
        padding-left: toRem(15px);
        vertical-align: middle;
        .big {
          font-size: toRem(19px);
          line-height: toRem(26px);
          display: block;
        }
      }
    }
    .domestic {
      border-right: 1px solid #D8D8D8;
      &:before {
        content: '';
        display: inline-block;
        width: toRem(35px);
        height: toRem(35px);
        margin-top: toRem(5.5px);
        background: url(/master-Q3/images/icon/china_icon@2x.png) no-repeat center;
        background-size: cover;
        vertical-align: middle;
      }
    }
    .international {
      &:before {
        content: '';
        display: inline-block;
        width: toRem(34.625px);
        height: toRem(34.625px);
        margin-top: toRem(5.5px);
        background: url(/master-Q3/images/icon/international@2x.png) no-repeat center;
        background-size: cover;
        vertical-align: middle;
      }
    }
  }
}

.contentModule {
  .lines_group {
    background-color: #fff;
    margin-bottom: toRem(8px);
    .title-bar {
      @include displayflex;
      @include flexflowRow;
      font-size: toRem(13px);
      line-height: toRem(15px);
      border-bottom: 1px solid #EBEBF5;
      .title {
        height: toRem(40px);
        line-height: toRem(15px);
        color: #4F545B;
        padding: toRem(12.5px) 0;
        .tag {
          color: #E61E4B;
          margin-right: toRem(10px);
          &:before {
            content: '';
            width: toRem(5px);
            height: toRem(15px);
            background-color: #E61E4B;
            display: inline-block;
            vertical-align: top;
            margin-right: toRem(8px);
          }
        }
      }
      .more {
        display: block;
        line-height: toRem(40px);
        color: #83858C;
        text-align: right;
        @include flex;
        &:after {
          content: '';
          display: inline-block;
          width: toRem(9px);
          height: toRem(15px);
          background: url(/master-Q3/images/icon/right_grey_arrow@2x.png) no-repeat center;
          background-size: cover;
          vertical-align: top;
          margin: toRem(12.5px) toRem(13px) 0 toRem(5px);
        }
      }
    }
    .lines {
      padding: toRem(15px) toRem(13px);
      margin-left: toRem(-10px);
      margin-top: toRem(-10px);
      font-size: 0;
      overflow: hidden;
      a {
        display: inline-block;
        float: left;
      }
      .line {
        width: toRem(142px);
        height: toRem(100px);
        margin-left: toRem(10px);
        margin-top: toRem(10px);
        font-size: toRem(15px);
        position: relative;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        @include border-radius(4px);
        img {
          width: 100%;
          height: 100%;
          background-color: transparent;
        }
        .overlay {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          color: #fff;
          @include border-radius(4px);
          &:active {
            background-color: rgba(0, 0, 0, 0.25);
          }
          .text-layer {
            height: toRem(55px);
            padding: toRem(12px) toRem(13px);
            margin-top: toRem(45px);
            @include linear-gradient-grey;
            span {
              display: block;
            }
            .chinese {
              font-size: toRem(15px);
              line-height: toRem(17px);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color: #fff;
            }
            .pinyin {
              font-size: toRem(13px);
              line-height: toRem(17px);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

footer {
  @include displayflex;
  @include flexflowRow;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.15);
  a {
    display: block;
    @include flex;
    width: 25%;
    height: 100%;
    line-height: toRem(20px);
    text-align: center;
    font-size: toRem(12px);
    color: #83858C;
    padding-top: toRem(6px);
    &:before {
      content: '';
      display: block;
      width: toRem(20px);
      height: toRem(20px);
      background: url(/master-Q3/images/icon/home_normal@2x.png) no-repeat center;
      background-size: contain;
      margin: 0 auto;
    }
    &.selected:before {
      background: url(/master-Q3/images/icon/home_touch@2x.png) no-repeat center;
      background-size: contain;
    }
  }
  a.route {
    &.selected:before {
      background: url(/master-Q3/images/icon/route_touch@2x.png) no-repeat center;
      background-size: contain;
    }
    &:before {
      background: url(/master-Q3/images/icon/route_normal@2x.png) no-repeat center;
      background-size: contain;
    }
  }
  a.tourism {
    &.selected:before {
      background: url(/master-Q3/images/icon/trip_touch@2x.png) no-repeat center;
      background-size: contain;
    }
    &:before {
      background: url(/master-Q3/images/icon/trip_normal@2x.png) no-repeat center;
      background-size: contain;
    }
  }
  a.profile {
    &.selected:before {
      background: url(/master-Q3/images/icon/me_touch@2x.png) no-repeat center;
      background-size: contain;
    }
    &:before {
      background: url(/master-Q3/images/icon/me_normal@2x.png) no-repeat center;
      background-size: contain;
    }
  }
  a.selected {
    color: #E61E4B;
  }
}

.search-bar {
  width: 100%;
  height: rem(88px);
  background-color: #fff;
  border-bottom: 1px solid #E4E4E4;
  @include displayflex();
  @include flexflowRow();
  .back {
    width: rem(73px);
    height: 100%;
    background: url(/master-Q3/images/icon/left_red_arrow@2x.png) no-repeat center;
    background-size: 30%;
  }
  .search-input {
    position: relative;
    margin-top: rem(16px);
    width: rem(456px);
    height: rem(56px);
    line-height: rem(56px);
    font-size: rem(28px);
    label {
      position: absolute;
      top: rem(15px);
      left: rem(16px);
      display: inline-block;
      width: rem(31px);
      height: rem(25px);
      background: url(/master-Q3/images/icon/search_icon@2x.png) no-repeat center;
      background-size: contain;
    }
    input {
      width: 100%;
      height: 100%;
      background-color: #EBEBEB;
      border: 0;
      border-radius: rem(6px);
      text-indent: rem(64px);
      font-size: rem(28px);
    }
  }
  .cancel {
    @include flex(1);
    text-align: center;
    color: #E61E4B;
    line-height: rem(88px);
    font-size: rem(28px);
  }
}

.destination-content {
  display: none
}

.destination-content.current {
  display: block
}

.page-content.tab-depart .destination-content, .page-content.tab-arrive .destination-content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-top: 4.4rem;;
}

.search-result .result:active {
  background-color: #DEDEDE;
}

#tab-depart .search-bar.click-search .cancel, #tab-arrive .search-bar.click-search .cancel {
  display: block;
}

.search-bar .search-input .click-zone {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.7rem;
  height: 100%;
  background-color: transparent;
  z-index: 103;
}

.search-bar.click-search.input-change .click-zone {
  background: url(/master-Q3/images/icon/cancel-icon@2x.png) no-repeat center;
  background-size: 50%;
}

.no_search_result {
  display: none;
  margin: 2.5rem auto 0;
  width: 4rem;
  height: 2.35rem;
}

.no_search_result img {
  width: 100%;
  margin-bottom: .5rem;
}

.no_search_result p {
  color: #83858C;
  font-size: .7rem;
  text-align: center;
}

.search-result {
  position: absolute;
  z-index: 105;
  top: 2.2rem;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  -webkit-overflow-scrolling: touch
}

.search-result.show {
  display: block
}

.search-result .result {
  border-bottom: 1px solid #F0F0F0;
  font-size: .7rem;
  color: #737373;
  padding-left: .75rem;
  display: none;
}

header .search {
  width: 1.125rem;
  height: .9rem;
  margin: .65rem .5375rem;
  background: url(/master-Q3/images/icon/search_text_icon@2x.png) no-repeat center;
  background-size: contain
}

.search-result {
  padding: 0 .65rem;
  background-color: #fff
}

.search-result .item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  flex-flow: row nowrap;
  padding: .5rem 0;
  border-bottom: .05rem solid #EBEBF5;
  display: none;
}

.search-result .item .route-img {
  width: 2.5rem;
  height: 2.5rem
}

.search-result .item .route-img img {
  width: 100%;
  height: 100%
}

.search-result .item .names {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #4F545B;
  font-size: .7rem;
  padding-left: .65rem
}

.search-result .item .names h4 {
  margin-top: .05rem
}

.search-result .item .names p {
  margin-top: .6rem
}

.search-result .result.show {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.search-bar.input-change .search-input .click-zone {
  background: url(/master-Q3/images/icon/cancel-icon@2x.png) no-repeat center;
  background-size: 50%
}

.no-line {
  margin-top: 2.5rem;
  display: none
}

.no-line .img-wp {
  width: 4.575rem;
  height: 2.675rem;
  margin: 0 auto
}

.no-line .img-wp img {
  width: 100%;
  height: 100%
}

.no-line p {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: .7rem;
  color: #83858C;
  text-align: center
}

.no_search_result {
  display: none;
  margin: 2.5rem auto 0;
  width: 4rem;
  height: 2.35rem;
}

.no_search_result img {
  width: 100%;
  margin-bottom: .5rem;
}

.no_search_result p {
  color: #83858C;
  font-size: .7rem;
  text-align: center;
}

#query .page-content {
  top: 2.2rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  flex-flow: column nowrap;
  background-color: #f5f5f5
}

.search-bar {
  width: 100%;
  height: 2.2rem;
  background-color: #fff;
  border-bottom: 1px solid #E4E4E4;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  flex-flow: row nowrap
}

.search-bar .back {
  width: 1.825rem;
  height: 100%;
  background: url(/images/left_red_arrow@2x.png) no-repeat center;
  background-size: 30%
}

.search-bar .search-input {
  position: relative;
  margin-top: .4rem;
  width: 11.4rem;
  height: 1.4rem;
  line-height: 1.4rem;
  font-size: .7rem
}

.search-bar .search-input label {
  position: absolute;
  top: .375rem;
  left: .4rem;
  display: inline-block;
  width: .775rem;
  height: .625rem;
  background: url(/images/search_icon@2x.png) no-repeat center;
  background-size: contain
}

.search-bar .search-input input {
  width: 100%;
  height: 100%;
  background-color: #EBEBEB;
  border: 0;
  border-radius: .15rem;
  text-indent: 1.6rem;
  font-size: .7rem
}

.search-bar .cancel {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  color: #E61E4B;
  line-height: 2.2rem;
  font-size: .7rem
}

.navbar {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 2.2rem;
  line-height: 2.2rem;
  background-color: #fff;
  box-shadow: 0 0 5px #bdbdbd;
  -webkit-box-shadow: 0 0 5px #bdbdbd;
  -moz-box-shadow: 0 0 5px #bdbdbd
}

.navbar div {
  float: left;
  position: relative;
  display: inline-block;
  width: 50%;
  text-align: center;
  color: #83858C;
  font-size: .75rem
}

.navbar div span {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -1.75rem;
  width: 3.5rem;
  height: .1rem;
  background-color: #fff
}

.navbar div.selected {
  color: #E61E4B
}

.navbar div.selected span {
  background-color: #E61E4B
}

.route-content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  position: relative
}

.route-content .domestic-list {
  overflow: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out
}

.route-content .domestic-list.current {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.route-content .abroad-list {
  overflow: auto;
  height: 100%;
  position: absolute;
  width: 100%;
  padding-bottom: 2rem;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out
}

.route-content .abroad-list.current {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.hot-space {
  width: 100%;
  padding-top: .65rem;
  background-color: #F5F5F5
}

.hot-space h5 {
  height: .75rem;
  border-left: .25rem solid #E61E4B;
  font-size: .65rem;
  color: #83858C;
  text-indent: .4rem
}

.hot-space ul {
  font-size: 0;
  padding: .6rem .35rem 1rem
}

.hot-space ul li {
  display: inline-block;
  margin: .25rem .3rem;
  padding: 0 .45rem;
  color: #4F545B;
  font-size: .7rem;
  text-align: center;
  width: 4.5rem;
  height: 2.2rem;
  line-height: 2.2rem;
  background-color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: .15rem
}

.hot-space ul li.selected {
  background-color: #E61E4B;
  color: #fff
}

.item-wrap {
  width: 100%
}

.item-wrap .letter {
  width: 100%;
  height: 1.25rem;
  line-height: 1.25rem;
  background-color: #F1F1F1;
  color: #83858C;
  font-size: .6rem;
  text-indent: .8rem
}

.item-wrap .items {
  padding: 0 .65rem;
  background-color: #fff
}

.item-wrap .items .item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  flex-flow: row nowrap;
  padding: .5rem 0;
  border-bottom: .05rem solid #EBEBF5
}

.item-wrap .items .item .route-img {
  width: 2.5rem;
  height: 2.5rem
}

.item-wrap .items .item .route-img img {
  width: 100%;
  height: 100%
}

.item-wrap .items .item .names {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #4F545B;
  font-size: .7rem;
  padding-left: .65rem
}

.item-wrap .items .item .names h4 {
  margin-top: .05rem
}

.item-wrap .items .item .names p {
  margin-top: .6rem
}

.search-result .result.show {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.search-result {
  position: absolute;
  z-index: 105;
  top: 2.2rem;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  -webkit-overflow-scrolling: touch
}

.search-result.show {
  display: block
}

.search-result .result {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  flex-flow: row nowrap;
  padding: .5rem .65rem;
  border-bottom: .05rem solid #EBEBF5;
  display: none;
}

.search-result .result .route-img {
  width: 2.5rem;
  height: 2.5rem
}

.search-result .result .route-img img {
  width: 100%;
  height: 100%
}

.search-result .result .names {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #4F545B;
  font-size: .7rem;
  padding-left: .65rem
}

.search-result .result .names h4 {
  margin-top: .05rem
}

.search-result .result .names p {
  margin-top: .6rem
}

.search-bar .search-input .click-zone {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.7rem;
  height: 100%;
  background-color: transparent;
  z-index: 103
}

.search-bar.click-search.input-change .click-zone {
  background: url(/images/cancel-icon@2x.png) no-repeat center;
  background-size: 50%
}

.search-result .result:active {
  background-color: #DEDEDE
}
#query .page-content{top:2.2rem;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-orient:vertical;-ms-box-orient:vertical;-moz-box-orient:vertical;-webkit-flex-flow:column nowrap;-ms-flex-flow:column nowrap;-moz-flex-flow:column nowrap;flex-flow:column nowrap;background-color:#f5f5f5}.search-bar{width:100%;height:2.2rem;background-color:#fff;border-bottom:1px solid #E4E4E4;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-orient:horizontal;-ms-box-orient:horizontal;-moz-box-orient:horizontal;-webkit-flex-flow:row nowrap;-ms-flex-flow:row nowrap;-moz-flex-flow:row nowrap;flex-flow:row nowrap}.search-bar .back{width:1.825rem;height:100%;background:url(/images/left_red_arrow@2x.png) no-repeat center;background-size:30%}.search-bar .search-input{position:relative;margin-top:.4rem;width:11.4rem;height:1.4rem;line-height:1.4rem;font-size:.7rem}.search-bar .search-input label{position:absolute;top:.375rem;left:.4rem;display:inline-block;width:.775rem;height:.625rem;background:url(/images/search_icon@2x.png) no-repeat center;background-size:contain}.search-bar .search-input input{width:100%;height:100%;background-color:#EBEBEB;border:0;border-radius:.15rem;text-indent:1.6rem;font-size:.7rem}.search-bar .cancel{-webkit-box-flex:1;-moz-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;text-align:center;color:#E61E4B;line-height:2.2rem;font-size:.7rem}.navbar{position:relative;z-index:2;width:100%;height:2.2rem;line-height:2.2rem;background-color:#fff;box-shadow:0 0 5px #bdbdbd;-webkit-box-shadow:0 0 5px #bdbdbd;-moz-box-shadow:0 0 5px #bdbdbd}.navbar div{float:left;position:relative;display:inline-block;width:50%;text-align:center;color:#83858C;font-size:.75rem}.navbar div span{position:absolute;bottom:0;left:50%;margin-left:-1.75rem;width:3.5rem;height:.1rem;background-color:#fff}.navbar div.selected{color:#E61E4B}.navbar div.selected span{background-color:#E61E4B}.route-content{-webkit-box-flex:1;-moz-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;overflow:hidden;position:relative}.route-content .domestic-list{overflow:auto;position:absolute;width:100%;height:100%;padding-bottom:2rem;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);-webkit-transition:-webkit-transform .2s ease-out;transition:transform .2s ease-out}.route-content .domestic-list.current{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.route-content .abroad-list{overflow:auto;height:100%;position:absolute;width:100%;padding-bottom:2rem;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);-webkit-transition:-webkit-transform .2s ease-out;transition:transform .2s ease-out}.route-content .abroad-list.current{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.hot-space{width:100%;padding-top:.65rem;background-color:#F5F5F5}.hot-space h5{height:.75rem;border-left:.25rem solid #E61E4B;font-size:.65rem;color:#83858C;text-indent:.4rem}.hot-space ul{font-size:0;padding:.6rem .35rem 1rem}.hot-space ul li{display:inline-block;margin:.25rem .3rem;padding:0 .45rem;color:#4F545B;font-size:.7rem;text-align:center;width:4.5rem;height:2.2rem;line-height:2.2rem;background-color:#fff;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;border-radius:.15rem}.hot-space ul li.selected{background-color:#E61E4B;color:#fff}.item-wrap{width:100%}.item-wrap .letter{width:100%;height:1.25rem;line-height:1.25rem;background-color:#F1F1F1;color:#83858C;font-size:.6rem;text-indent:.8rem}.item-wrap .items{padding:0 .65rem;background-color:#fff}.item-wrap .items .item{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-orient:horizontal;-ms-box-orient:horizontal;-moz-box-orient:horizontal;-webkit-flex-flow:row nowrap;-ms-flex-flow:row nowrap;-moz-flex-flow:row nowrap;flex-flow:row nowrap;padding:.5rem 0;border-bottom:.05rem solid #EBEBF5}.item-wrap .items .item .route-img{width:2.5rem;height:2.5rem}.item-wrap .items .item .route-img img{width:100%;height:100%}.item-wrap .items .item .names{-webkit-box-flex:1;-moz-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;color:#4F545B;font-size:.7rem;padding-left:.65rem}.item-wrap .items .item .names h4{margin-top:.05rem}.item-wrap .items .item .names p{margin-top:.6rem}.search-result .result.show{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;}.search-result{position:absolute;z-index:105;top:2.2rem;left:0;display:none;width:100%;height:100%;overflow:auto;background-color:#fff;-webkit-overflow-scrolling:touch}.search-result.show{display:block}.search-result .result{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-orient:horizontal;-ms-box-orient:horizontal;-moz-box-orient:horizontal;-webkit-flex-flow:row nowrap;-ms-flex-flow:row nowrap;-moz-flex-flow:row nowrap;flex-flow:row nowrap;padding:.5rem .65rem;border-bottom:.05rem solid #EBEBF5;display:none;}.search-result .result .route-img{width:2.5rem;height:2.5rem}.search-result .result .route-img img{width:100%;height:100%}.search-result .result .names{-webkit-box-flex:1;-moz-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;color:#4F545B;font-size:.7rem;padding-left:.65rem}.search-result .result .names h4{margin-top:.05rem}.search-result .result .names p{margin-top:.6rem}.search-bar .search-input .click-zone{position:absolute;top:0;right:0;width:1.7rem;height:100%;background-color:transparent;z-index:103}.search-bar.click-search.input-change .click-zone{background:url(/images/cancel-icon@2x.png) no-repeat center;background-size:50%}.search-result .result:active{background-color:#DEDEDE}