@import "/common/css/base";

@mixin box-sizing($set:border-box) {
  -webkit-box-sizing: $set;
  -moz-box-sizing: $set;
  -ms-box-sizing: $set;
  -o-box-sizing: $set;
  box-sizing: $set;
}

@mixin border-radius($radius:4px) {
  -webkit-border-radius: rem($radius);
  -moz-border-radius: rem($radius);
  -ms-border-radius: rem($radius);
  -o-border-radius: rem($radius);
  border-radius: rem($radius);
}

@mixin linear-gradient-black {
  background-image: -webkit-linear-gradient(top,
          rgba(0, 0, 0, 0.1) 0%,
          rgba(0, 0, 0, 0.5) 100%
  );
  background-image: -moz-linear-gradient(top,
          rgba(0, 0, 0, 0.1) 0%,
          rgba(0, 0, 0, 0.5) 100%
  );
  background-image: -o-linear-gradient(top,
          rgba(0, 0, 0, 0.1) 0%,
          rgba(0, 0, 0, 0.5) 100%
  );
  background-image: -ms-linear-gradient(top,
          rgba(0, 0, 0, 0.1) 0%,
          rgba(0, 0, 0, 0.5) 100%
  ); /* IE10+ */
  background-image: linear-gradient(top,
          rgba(0, 0, 0, 0.1) 0%,
          rgba(0, 0, 0, 0.5) 100%
  ); /* W3C */
}

html, body {
  background-color: #E7E7E7;
}

* {
  @include box-sizing();
  outline: none;
  color: #4F545B;
}

img {
  width: 100%;
  vertical-align: middle;
  border: none;
}

.routes {
  padding: rem(16px) rem(13px) 0;
}

.route {
  background-color: #fff;
  height: rem(185px);
  overflow: hidden;
  position: relative;
  margin-bottom: rem(14px);
  @include border-radius(1px);
  .up {
    height: rem(125px);
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
    .overlay {
      @include linear-gradient-black;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      .content {
        color: #fff;
        padding: rem(10px);
        text-align: center;
        .route-name {
          font-size: rem(17px);
          padding-top: rem(26px);
          padding-bottom: rem(10px);
          color: #fff;
        }
        .route-tag {
          font-size: 0;
          .tag {
            font-size: rem(12px);
            color: #fff;
            width: rem(65px);
            height: rem(22px);
            line-height: rem(22px);
            margin: 0 auto;
            background-color: #F5B950;
            @include border-radius(4px);
            display: inline-block;
          }
          &:before {
            content: '';
            width: rem(7px);
            display: inline-block;
            border-top: 2px solid #F5B950;
            margin-top: rem(10px);
            margin-right: rem(6px);
            vertical-align: top;
          }
          &:after {
            content: '';
            width: rem(7px);
            display: inline-block;
            border-top: 2px solid #F5B950;
            margin-top: rem(10px);
            margin-left: rem(6px);
            vertical-align: top;
          }
        }
        .route-tag.shuaBus{
          .tag {
            background-color: #4B91E1;
          }
          &:before {
            content: '';
            width: rem(7px);
            display: inline-block;
            border-top: 2px solid #4B91E1;
            margin-top: rem(10px);
            margin-right: rem(6px);
            vertical-align: top;
          }
          &:after {
            content: '';
            width: rem(7px);
            display: inline-block;
            border-top: 2px solid #4B91E1;
            margin-top: rem(10px);
            margin-left: rem(6px);
            vertical-align: top;
          }
        }
        .route-tag.bbBus{
          .tag {
            background-color: #E61E4B;
          }
          &:before {
            content: '';
            width: rem(7px);
            display: inline-block;
            border-top: 2px solid #E61E4B;
            margin-top: rem(10px);
            margin-right: rem(6px);
            vertical-align: top;
          }
          &:after {
            content: '';
            width: rem(7px);
            display: inline-block;
            border-top: 2px solid #E61E4B;
            margin-top: rem(10px);
            margin-left: rem(6px);
            vertical-align: top;
          }
        }
        .route-tag.taiBus{
          .tag {
            background-color: #0FC346;
          }
          &:before {
            content: '';
            width: rem(7px);
            display: inline-block;
            border-top: 2px solid #0FC346;
            margin-top: rem(10px);
            margin-right: rem(6px);
            vertical-align: top;
          }
          &:after {
            content: '';
            width: rem(7px);
            display: inline-block;
            border-top: 2px solid #0FC346;
            margin-top: rem(10px);
            margin-left: rem(6px);
            vertical-align: top;
          }
        }
      }
    }
  }
  .down {
    height: rem(60px);
    padding: rem(10px) rem(11px) rem(10px) rem(13px);
    @include displayflex;
    @include flexflowRow;
    .left {
      width: rem(188px);
      height: rem(40px);
      line-height: rem(20px);
      font-size: rem(14px);
      color: #4F545B;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .right {
      @include flex;
      height: rem(40px);
      line-height: rem(40px);
      font-size: rem(16px);
      color: #E61E4B;
      text-align: right;
      &:after {
        content: '起';
        font-size: rem(12px);
        width: rem(12px);
        height: rem(12px);
        color: #C0C2C9;
        margin-left: rem(5px);
      }
    }
  }
  &:before{
    content: '';
    width: rem(8px);
    height: rem(8px);
    display: block;
    position: absolute;
    background-color: #e7e7e7;
    top: rem(121px);
    left: rem(-4px);
    z-index: 20;
    @include border-radius(50px);
  }
  &:after{
    content: '';
    width: rem(8px);
    height: rem(8px);
    display: block;
    position: absolute;
    background-color: #e7e7e7;
    top: rem(121px);
    right: rem(-4px);
    z-index: 20;
    @include border-radius(50px);
  }
}
.footer-bus{
  width: rem(191.5px);
  height: rem(22.5px);
  margin: rem(1px) auto rem(11px);
  img{
    width: 100%;
    height: 100%;
  }
}