@import "/common/css/base";

$baseFont: 20px !default;
$red: #D71345 !default;
$opacity: 1 !default;
@function toRem($px) {
  @return $px / $baseFont * 1rem;
}

@mixin box-sizing($set:border-box) {
  -webkit-box-sizing: $set;
  -moz-box-sizing: $set;
  -ms-box-sizing: $set;
  -o-box-sizing: $set;
  box-sizing: $set;
}

@mixin border-radius($radius:4px) {
  -webkit-border-radius: toRem($radius);
  -moz-border-radius: toRem($radius);
  -ms-border-radius: toRem($radius);
  -o-border-radius: toRem($radius);
  border-radius: toRem($radius);
}

@mixin linear-gradient-grey {
  background-image: -webkit-linear-gradient(top,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.25) 100%
  );
  background-image: -moz-linear-gradient(top,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.25) 100%
  );
  background-image: -o-linear-gradient(top,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.25) 100%
  );
  background-image: -ms-linear-gradient(top,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.25) 100%
  ); /* IE10+ */
  background-image: linear-gradient(top,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.25) 100%
  ); /* W3C */
}

html, body {
  background-color: #F5F5F5;
}

* {
  @include box-sizing();
  outline: none;
  color: #4F545B;
}

img {
  width: 100%;
  vertical-align: middle;
  border: none;
}

.topModule {
  background-color: #fff;
  margin-bottom: toRem(8px);
  .banner {
    width: 100%;
    height: toRem(140px);
    img {
      width: 100%;
      height: 100%;
    }
  }
  .tabs {
    height: toRem(90px);
    @include displayflex;
    @include flexflowRow;
    a {
      @include flex;
      display: block;
      padding: toRem(15.5px) 0;
      &:active {
        background-color: #DEDEDE;
      }
    }
    .domestic, .international {
      padding: toRem(6.5px) toRem(26px);
      color: #4F545B;
      font-size: 0;
      @include displayflex;
      @include flexflowRow;
      .desc {
        @include flex;
        display: inline-block;
        font-size: toRem(14px);
        line-height: toRem(20px);
        padding-left: toRem(15px);
        vertical-align: middle;
        .big {
          font-size: toRem(19px);
          line-height: toRem(26px);
          display: block;
        }
      }
    }
    .domestic {
      border-right: 1px solid #D8D8D8;
      &:before {
        content: '';
        display: inline-block;
        width: toRem(35px);
        height: toRem(35px);
        margin-top: toRem(5.5px);
        background: url(/master-Q3/images/icon/china_icon@2x.png) no-repeat center;
        background-size: cover;
        vertical-align: middle;
      }
    }
    .international {
      &:before {
        content: '';
        display: inline-block;
        width: toRem(34.625px);
        height: toRem(34.625px);
        margin-top: toRem(5.5px);
        background: url(/master-Q3/images/icon/international@2x.png) no-repeat center;
        background-size: cover;
        vertical-align: middle;
      }
    }
  }
}

.contentModule {
  .lines_group {
    background-color: #fff;
    margin-bottom: toRem(8px);
    .title-bar {
      @include displayflex;
      @include flexflowRow;
      font-size: toRem(13px);
      line-height: toRem(15px);
      border-bottom: 1px solid #EBEBF5;
      .title {
        height: toRem(40px);
        line-height: toRem(15px);
        color: #4F545B;
        padding: toRem(12.5px) 0;
        .tag {
          color: #E61E4B;
          margin-right: toRem(10px);
          &:before {
            content: '';
            width: toRem(5px);
            height: toRem(15px);
            background-color: #E61E4B;
            display: inline-block;
            vertical-align: top;
            margin-right: toRem(8px);
          }
        }
      }
      .more {
        display: block;
        line-height: toRem(40px);
        color: #83858C;
        text-align: right;
        @include flex;
        &:after {
          content: '';
          display: inline-block;
          width: toRem(9px);
          height: toRem(15px);
          background: url(/master-Q3/images/icon/right_grey_arrow@2x.png) no-repeat center;
          background-size: cover;
          vertical-align: top;
          margin: toRem(12.5px) toRem(13px) 0 toRem(5px);
        }
      }
    }
    .lines {
      padding: toRem(15px) toRem(13px);
      margin-left: toRem(-10px);
      margin-top: toRem(-10px);
      font-size: 0;
      overflow: hidden;
      a {
        display: inline-block;
        float: left;
      }
      .line {
        width: toRem(142px);
        height: toRem(100px);
        margin-left: toRem(10px);
        margin-top: toRem(10px);
        font-size: toRem(15px);
        position: relative;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        @include border-radius(4px);
        img {
          width: 100%;
          height: 100%;
          background-color: transparent;
        }
        .overlay {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          color: #fff;
          @include border-radius(4px);
          &:active {
            background-color: rgba(0, 0, 0, 0.25);
          }
          .text-layer {
            height: toRem(55px);
            padding: toRem(12px) toRem(13px);
            margin-top: toRem(45px);
            @include linear-gradient-grey;
            span {
              display: block;
            }
            .chinese {
              font-size: toRem(15px);
              line-height: toRem(17px);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color: #fff;
            }
            .pinyin {
              font-size: toRem(13px);
              line-height: toRem(17px);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

footer {
  @include displayflex;
  @include flexflowRow;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.15);
  a {
    display: block;
    @include flex;
    width: 25%;
    height: 100%;
    line-height: toRem(20px);
    text-align: center;
    font-size: toRem(12px);
    color: #83858C;
    padding-top: toRem(6px);
    &:before {
      content: '';
      display: block;
      width: toRem(20px);
      height: toRem(20px);
      background: url(/master-Q3/images/icon/home_normal@2x.png) no-repeat center;
      background-size: contain;
      margin: 0 auto;
    }
    &.selected:before {
      background: url(/master-Q3/images/icon/home_touch@2x.png) no-repeat center;
      background-size: contain;
    }
  }
  a.route {
    &.selected:before {
      background: url(/master-Q3/images/icon/route_touch@2x.png) no-repeat center;
      background-size: contain;
    }
    &:before {
      background: url(/master-Q3/images/icon/route_normal@2x.png) no-repeat center;
      background-size: contain;
    }
  }
  a.tourism {
    &.selected:before {
      background: url(/master-Q3/images/icon/trip_touch@2x.png) no-repeat center;
      background-size: contain;
    }
    &:before {
      background: url(/master-Q3/images/icon/trip_normal@2x.png) no-repeat center;
      background-size: contain;
    }
  }
  a.profile {
    &.selected:before {
      background: url(/master-Q3/images/icon/me_touch@2x.png) no-repeat center;
      background-size: contain;
    }
    &:before {
      background: url(/master-Q3/images/icon/me_normal@2x.png) no-repeat center;
      background-size: contain;
    }
  }
  a.selected {
    color: #E61E4B;
  }
}

.search-bar {
  width: 100%;
  height: rem(88px);
  background-color: #fff;
  border-bottom: 1px solid #E4E4E4;
  @include displayflex();
  @include flexflowRow();
  .back {
    width: rem(73px);
    height: 100%;
    background: url(/master-Q3/images/icon/left_red_arrow@2x.png) no-repeat center;
    background-size: 30%;
  }
  .search-input {
    position: relative;
    margin-top: rem(16px);
    width: rem(456px);
    height: rem(56px);
    line-height: rem(56px);
    font-size: rem(28px);
    label {
      position: absolute;
      top: rem(15px);
      left: rem(16px);
      display: inline-block;
      width: rem(31px);
      height: rem(25px);
      background: url(/master-Q3/images/icon/search_icon@2x.png) no-repeat center;
      background-size: contain;
    }
    input {
      width: 100%;
      height: 100%;
      background-color: #EBEBEB;
      border: 0;
      border-radius: rem(6px);
      text-indent: rem(64px);
      font-size: rem(28px);
    }
  }
  .cancel {
    @include flex(1);
    text-align: center;
    color: #E61E4B;
    line-height: rem(88px);
    font-size: rem(28px);
  }
}

.destination-content {
  display: none
}

.destination-content.current {
  display: block
}

.page-content.tab-depart .destination-content, .page-content.tab-arrive .destination-content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-top: 4.4rem;;
}

.search-result .result:active {
  background-color: #DEDEDE;
}

#tab-depart .search-bar.click-search .cancel, #tab-arrive .search-bar.click-search .cancel {
  display: block;
}

.search-bar .search-input .click-zone {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.7rem;
  height: 100%;
  background-color: transparent;
  z-index: 103;
}

.search-bar.click-search.input-change .click-zone {
  background: url(/master-Q3/images/icon/cancel-icon@2x.png) no-repeat center;
  background-size: 50%;
}

.no_search_result {
  display: none;
  margin: 2.5rem auto 0;
  width: 4rem;
  height: 2.35rem;
}

.no_search_result img {
  width: 100%;
  margin-bottom: .5rem;
}

.no_search_result p {
  color: #83858C;
  font-size: .7rem;
  text-align: center;
}

.search-result {
  position: absolute;
  z-index: 105;
  top: 2.2rem;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  -webkit-overflow-scrolling: touch
}

.search-result.show {
  display: block
}

.search-result .result {
  height: 2rem;
  line-height: 2rem;
  border-bottom: 1px solid #F0F0F0;
  font-size: .7rem;
  color: #737373;
  padding-left: .75rem;
}

.no_search_result {
  display: none;
  margin: 2.5rem auto 0;
  width: 4rem;
  height: 2.35rem
}

.no_search_result img {
  width: 100%;
  margin-bottom: .5rem
}

.no_search_result p {
  color: #83858C;
  font-size: .7rem;
  text-align: center
}

header .search {
  width: 1.125rem;
  height: .9rem;
  margin: .65rem .5375rem;
  background: url(/master-Q3/images/icon/search_text_icon@2x.png) no-repeat center;
  background-size: contain
}