<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>简途供应商系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" type="image/x-icon" href="/newAdmin/images/logo.ico">
    <link rel="stylesheet" type="text/css" href="/newAdmin/css/main.scss">
    <link rel="stylesheet" href="/newAdmin/css/jquery.datetimepicker.css">
    <script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&amp;ak=v7cmA7sPIOlhyVGISwFzQZqy&amp;services=&amp;t=20170207140543"></script>
</head>
<body ng-controller="mainController">
    <div class="head">
        <div class="left">简途供应商系统</div>
        <div class="user">18180647922</div>
    </div>
    <div class="container">
        <div class="nav" ng-nicescroll="" nice-option="{cursorcolor:'#E0E6EB'}">
            <img src="/newAdmin/images/logo.jpg">
            <ul>
                <li>
                    <a ng-click="navSelect($event)" st-hover href="#">店铺首页</a>
                </li>
                <li>
                    <a ng-click="navSelect($event)" st-hover class="message">消息</a>
                </li>
                <li>
                    <a st-hover class="order">订单</a>
                </li>
                <li>
                    <a st-hover class="product">商品</a>
                </li>
                <li>
                    <a class="myStore down">我的店铺</a>
                    <ul class="submenu">
                        <li>
                            <a ng-click="navSelect($event)" st-hover class="selected" href="#">商家结算</a>
                        </li>
                        <li>
                            <a st-hover href="#">供应协议</a>
                        </li>
                        <li>
                            <a st-hover href="#">系统日志</a>
                        </li>
                        <li>
                            <a st-hover href="#">成员管理</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
        <div class="main-content" >
            <!--<div class="page">-->
                <!--<h3>新增商品</h3>-->
                <!--<div class="steps">-->
                    <!--<div class="selected">第一步:选择类型</div>-->
                    <!--<div class="last">第二步:详细信息</div>-->
                <!--</div>-->

            <!--</div>-->
            <div class="page-scroll-wrap" ng-nicescroll="" nice-option="{cursorcolor:'#E0E6EB'}">
                <div class="page">
                    <div class="page-title"><span ng-bind="postData.name+'-查看'"></span><a href="#" ui-sref-opts="{reload:true}" ui-sref="product({searchData:true})">返回</a></div>
                    <div class="tabs">
                        <form action="" name="form" novalidate="novalidate">
                            <div class="tabsContent">
                                <h3>基础信息</h3>
                                <div class="product-detail">
                                    <div class="product-detail-day">
                                        <div class="day-title">D1</div>
                                        <div class="day">
                                            <div class="node-subtitle">
                                                <span>成都-九寨沟</span>
                                                <span class="down">收起</span>
                                            </div>
                                            <div class="node-item">
                                                <span class="node-item-title">上车地点</span>
                                                <span>百花潭公园西门</span>
                                            </div>
                                            <div class="node-item">
                                                <span class="node-item-title">上车地点</span>
                                                <span>百花潭公园西门</span>
                                            </div>
                                            <div class="node-item">
                                                <span class="node-item-title">上车地点</span>
                                                <span>百花潭公园西门</span>
                                            </div>
                                            <div class="node-item full">
                                                出行当天之前3天00时申请退款
                                            </div>
                                            <div class="nodes">
                                                <div class="node-title">
                                                    <div class="no">1.1</div>
                                                    <div class="node-name">
                                                        <span class="big">节点名称</span>
                                                        <span>成都才打打错打错打错</span>
                                                    </div>
                                                    <div class="node-name">
                                                        <span class="big">节点名称</span>
                                                        <span>换乘点</span>
                                                    </div>
                                                    <div class="node-name">
                                                        <span class="big">抵达</span>
                                                        <span>15：00</span>
                                                    </div>
                                                    <div class="node-name">
                                                        <span class="big">出发</span>
                                                        <span>16：00</span>
                                                    </div>
                                                </div>
                                                <div class="node-subtitle">
                                                    <span>成都-九寨沟</span>
                                                    <span class="down">收起</span>
                                                </div>
                                                <div class="node-item">
                                                    <span class="node-item-title">上车地点</span>
                                                    <span>百花潭公园西门</span>
                                                </div>
                                                <div class="node-item">
                                                    <span class="node-item-title">上车地点</span>
                                                    <span>百花潭公园西门</span>
                                                </div>
                                                <div class="node-item">
                                                    <span class="node-item-title">上车地点</span>
                                                    <span>百花潭公园西门</span>
                                                </div>
                                                <div class="node-item full">
                                                    出行当天之前3天00时申请退款
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <span class="label"><p>儿童价</p></span>
                                    <div class="itemRight" ng-bind="postData.childPriceInfo"></div>
                                </div>
                                <h3>成人包含</h3>
                                <div class="item detail-list" ng-repeat="adult in postData.adultInclude track by $index">
                                    <div class="itemRight" ng-bind="adult"></div>
                                </div>
                                <h3>儿童包含</h3>
                                <div class="item detail-list" ng-repeat="child in postData.childInclude track by $index">
                                    <div class="itemRight" ng-bind="child"></div>
                                </div>
                                <h3>退款规则</h3>
                                <div class="item detail-list" ng-repeat="rule in postData.refundRule track by $index">
                                    <div class="itemRight" ng-bind="rule"></div>
                                </div>
                                <h3>产品亮点</h3>
                                <div class="item detail-list" ng-repeat="highLight in postData.highLight track by $index">
                                    <div class="itemRight" ng-bind="highLight"></div>
                                </div>
                                <h3>使用说明</h3>
                                <div class="item detail-list" ng-repeat="manual in postData.manual track by $index">
                                    <div class="itemRight" ng-bind="manual"></div>
                                </div>
                                <h3>费用包含</h3>
                                <div class="item detail-list" ng-repeat="priceInclude in postData.priceInclude track by $index">
                                    <div class="itemRight" ng-bind="priceInclude"></div>
                                </div>
                                <h3>预定须知</h3>
                                <div class="item detail-list" ng-repeat="notice in postData.notice track by $index">
                                    <div class="itemRight" ng-bind="notice"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script type="text/ng-template" id="m.html">
        <div class="modal-header">
            <div class="title">我是马斯特尔</div>
        </div>
        <div class="modal-container">
            <label class="modal-container-item" ng-repeat="i in c">
                <span class="checkbox-wrap">
                    <input type="checkbox" st-checkbox="" name="v" ng-value=true ng-model="i.checked">
                </span>
                我是master我是master我是master我是master我是master我是master我是master我是master我是master
            </label>
            <label class="modal-container-item">
                <span class="radio-wrap">
                    <input type="radio" st-radio="" ng-checked="s == false" name="s" ng-value=false ng-model="s">
                </span>
                我也是master
            </label>
            <label class="modal-container-item">
                <span class="radio-wrap">
                    <input type="radio" st-radio="" ng-checked="s == false" name="s" ng-value=false ng-model="s">
                </span>
                我也是master
            </label>
            <label class="modal-container-item">
                <span class="radio-wrap">
                    <input type="radio" st-radio="" ng-checked="s == false" name="s" ng-value=false ng-model="s">
                </span>
                我也是master
            </label>
            <label class="modal-container-item">
                <span class="radio-wrap">
                    <input type="radio" st-radio="" ng-checked="s == false" name="s" ng-value=false ng-model="s">
                </span>
                我也是master
            </label>
        </div>
        <div class="modal-footer">
            <button class="cancel" st-hover="">
                <span class="icon"></span>
                <span>取消</span>
            </button>
            <button class="ok" st-hover="">
                <span class="icon"></span>
                <span>确定</span>
            </button>
        </div>
    </script>
    <script type="text/javascript" src="/common/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/newAdmin/js/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="/newAdmin/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="/common/js/angular.min.js"></script>
    <script type="text/javascript" src="/newAdmin/js/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/newAdmin/js/ngPlugin.js"></script>
    <script type="text/javascript" src="/newAdmin/js/ocLazyLoad.min.js"></script>
    <script type="text/javascript" src="/newAdmin/js/angular-nicescroll.js"></script>
    <script type="text/javascript">
        var app = angular.module('app',['ui.router','oc.lazyLoad','angular-nicescroll','ngPlugin']);
        app.controller('mainController',['$scope','$rootScope','$state','$http','alert','$modal',function($scope,$rootScope,$state,$http,alert,$modal){
            $scope.navSelect = function ($event) {
                angular.element($event.target).parents('.nav').find('a').removeClass('selected');
                angular.element($event.target).addClass('selected');
            };
//            $scope.isRecommend = undefined
            $scope.address = {

            };
            $scope.open = function (size) {
                var modalInstance = $modal.open({
                    templateUrl : 'm.html',
                    controller: 'mController',
                    size:size
                });
                modalInstance.result.then(function(selectedItem) {
                    console.log(1)
                }, function() {
                    console.log(2)
                });
            }
            $scope.click=function () {
                alert.alert({
                    type:'success'
                });
            }
            $scope.a = '1';
            $scope.b = '2';
            $scope.dropdown = '';
            $scope.time = '2017/1/3';
            $scope.checkList = [{label:'app',value:'1'},{label:'wx',value:'2',checked:false},{label:'wxx',value:'3',checked:true},{label:'wxxx',value:'4'}]
        }])
        app.controller('mController',function ($scope,$modalInstance,$http) {
            $scope.s = '';
            $scope.c = [{label:'app',value:'1'},{label:'wx',value:'2',checked:false},{label:'wxx',value:'3',checked:true},{label:'wxxx',value:'4'}]
            $scope.ok = function () {
                $modalInstance.ok = function () {
                    $modalInstance.close();
                }
            }
            $scope.cancel = function () {
                $modalInstance.dismiss();
            }
        })
    </script>
</body>
</html>