<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q3/css/freebuy_spotDetail.scss?__inline">
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header>
            <div class="back"></div>
            <div class="center">景点详情</div>
        </header>
        <div class="page-content">
            <div class="topModule">
                <div class="banner">
                    <img src="/master-Q3/images/detail_001.png" alt=""/>
                </div>
                <div class="title">西岭雪山风景区雪山风景区雪山风山风景区雪山风</div>
            </div>
            <div class="infoes">
                <!--domestic|international-->
                <a href="/master-Q3/views/freebuy_mapLocation.html" class="address domestic">
                    <div class="border-bottom">
                        <span>四川省成都市武侯区都市武四川省成都市武侯区都市武四川省成都市武侯区都市武</span>
                    </div>
                </a>
                <a class="open-time">
                    <div class="border-bottom">
                        <span>开放时间&nbsp;&nbsp;09:00～20:00</span>
                    </div>
                </a>
                <a href="/master-Q3/views/freebuy_spotFeature.html" class="spot-feature">
                    <div class="border-bottom">
                        <span>景点特色</span>
                    </div>
                </a>
                <a class="hotel-intro">
                    <div class="border-bottom">
                        <span>酒店介绍</span>
                    </div>
                </a>
                <a class="food-intro">
                    <div class="border-bottom">
                        <span>美食介绍</span>
                    </div>
                </a>
                <a class="activity-feature">
                    <div class="border-bottom">
                        <span>活动特色</span>
                    </div>
                </a>
                <a class="product-feature">
                    <div class="border-bottom">
                        <span>产品特色</span>
                    </div>
                </a>
                <a class="product-intro">
                    <div class="border-bottom">
                        <span>产品说明</span>
                    </div>
                </a>
            </div>
            <div class="contact-us">
                <div class="left">
                    <div class="up">该景区门票由简途旅行提供</div>
                    <div class="down">商家电话<a href="tel:028-12345678">028-12345678</a></div>
                </div>
                <div class="right"><a href="tel:028-12345678"></a></div>
            </div>
            <div class="tickets">
                <div class="title">景点门票</div>
                <div class="ticket">
                    <div class="left">
                        <div class="name">西岭雪山风景区山脚至日月坪索道（门票＋索道）区</div>
                        <div class="sale">
                            原价¥3000&nbsp;&nbsp;已售12000份
                        </div>
                        <div class="info">
                            <div class="price">¥23009.99</div>
                            <div class="check-detail">查看详情</div>
                        </div>
                        <div class="tags">
                            <span>app专享价价</span>
                            <span>专享价专享价</span>
                        </div>
                    </div>
                    <div class="right">
                        <a>立即预定</a>
                        <span class="end-time">出行前1天18:00截止售卖</span>
                    </div>
                </div>
                <div class="ticket">
                    <div class="left">
                        <div class="name">西岭雪山风景区</div>
                        <div class="sale">
                            原价¥3000&nbsp;&nbsp;已售12000份
                        </div>
                        <div class="info">
                            <div class="price">¥23009.99</div>
                            <div class="check-detail">查看详情</div>
                        </div>
                        <div class="tags">
                            <span>app专享价价</span>
                            <span>专享价专享价</span>
                        </div>
                    </div>
                    <div class="right">
                        <a href="/master-Q3/views/freebuy_orderProduct.html">立即预定</a>
                        <span class="end-time">出行前1天18:00截止售卖</span>
                    </div>
                </div>
                <div class="ticket">
                    <div class="left">
                        <div class="name">西岭雪山风景区山脚至日月坪</div>
                        <div class="sale">
                            原价¥3000&nbsp;&nbsp;已售12000份
                        </div>
                        <div class="info">
                            <div class="price">¥23009.99</div>
                            <div class="check-detail">查看详情</div>
                        </div>
                        <div class="tags">
                            <span>app专享价价</span>
                            <span>专享价专享价</span>
                        </div>
                    </div>
                    <div class="right">
                        <a href="/master-Q3/views/freebuy_orderProduct.html">立即预定</a>
                        <span class="end-time">出行前1天18:00截止售卖</span>
                    </div>
                </div>
            </div>
            <div class="comments">
                <div class="title-bar">
                    <div class="title">旅客评价</div>
                    <div class="number">12条评价</div>
                    <div class="average">4.7星</div>
                </div>
                <div class="comment">
                    <div class="comment-header">
                        <div class="user">
                            <img src="/master-Q3/images/detail_001.png" alt=""/>
                            <div class="info">
                                <div class="username">简途小达人简途小达人简途小达人</div>
                                <div class="date">2016-03-04</div>
                            </div>
                        </div>
                        <!--grade1|grade2|grade3|grade4|grade5-->
                        <div class="stars grade4">
                            <span class="star">1</span>
                            <span class="star">2</span>
                            <span class="star">3</span>
                            <span class="star">4</span>
                            <span class="star">5</span>
                        </div>
                    </div>
                    <div class="comment-content">
                        首先感谢🙏简途为我们这些爱完的人士专门打造的方案，非常满意的一次车程，而且直接到西岭雪山脚下，非常实惠又方便，似导游非导游的工作人员们辛苦了，物超所值，旅行首选😄😄期待更多的旅游。
                    </div>
                    <div class="albums">
                        <img src="/master-Q3/images/detail_001.png" alt=""/>
                        <img src="/master-Q3/images/detail_001.png" alt=""/>
                        <img src="/master-Q3/images/detail_001.png" alt=""/>
                        <img src="/master-Q3/images/detail_001.png" alt=""/>
                    </div>
                </div>
                <div class="check-moreComment"><span>查看全部评价</span></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    $(document).ready(function () {
        // 点击返回按钮
        $('header .back').click(function() {
            history.go(-1);
        });
    });
</script>
</body>
</html>