<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q3/css/route_index.scss?__inline">
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header>
            <div class="center">路线</div>
        </header>
        <footer></footer>
        <div class="page-content">
            <div class="topModule">
                <div class="banner">
                    <img src="/master-Q3/images/route_index_banner.png" alt=""/>
                </div>
                <div class="tabs">
                    <div class="domestic">
                        <div class="desc">
                            <span class="big">国&nbsp;&nbsp;内</span>旅行路线
                        </div>
                    </div>
                    <div class="international">
                        <div class="desc">
                            <span class="big">国&nbsp;&nbsp;际</span>旅行路线
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentModule">
                <div class="lines_group">
                    <div class="title-bar">
                        <div class="title">
                            <span class="tag">热门</span>旅游路线
                        </div>
                        <a class="more">全部</a>
                    </div>
                    <div class="lines">
                        <div class="line">
                            <img src="/master-Q3/images/route_line1.png" alt=""/>
                            <div class="overlay">
                                <div class="text-layer">
                                    <span class="chinese">九寨沟</span>
                                    <span class="pinyin">Jiu zhaigou</span>
                                </div>
                            </div>
                        </div>
                        <div class="line">
                            <img src="/master-Q3/images/route_line2.png" alt=""/>
                            <div class="overlay">
                                <div class="text-layer">
                                    <span class="chinese">大英死海</span>
                                    <span class="pinyin">Da yingsihai</span>
                                </div>
                            </div>
                        </div>
                        <div class="line">
                            <img src="/master-Q3/images/route_line1.png" alt=""/>
                            <div class="overlay">
                                <div class="text-layer">
                                    <span class="chinese">九寨沟</span>
                                    <span class="pinyin">Jiu zhaigou</span>
                                </div>
                            </div>
                        </div>
                        <div class="line">
                            <img src="/master-Q3/images/route_line1.png" alt=""/>
                            <div class="overlay">
                                <div class="text-layer">
                                    <span class="chinese">九寨沟</span>
                                    <span class="pinyin">Jiu zhaigou</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lines_group">
                    <div class="title-bar">
                        <div class="title">
                            <span class="tag">四川</span>旅游路线
                        </div>
                        <a class="more">全部</a>
                    </div>
                    <div class="lines">
                        <div class="line">
                            <img src="/master-Q3/images/route_line1.png" alt=""/>
                            <div class="overlay">
                                <div class="text-layer">
                                    <span class="chinese">九寨沟</span>
                                    <span class="pinyin">Jiu zhaigou</span>
                                </div>
                            </div>
                        </div>
                        <div class="line">
                            <img src="/master-Q3/images/route_line2.png" alt=""/>
                            <div class="overlay">
                                <div class="text-layer">
                                    <span class="chinese">大英死海</span>
                                    <span class="pinyin">Da yingsihai</span>
                                </div>
                            </div>
                        </div>
                        <div class="line">
                            <img src="/master-Q3/images/route_line1.png" alt=""/>
                            <div class="overlay">
                                <div class="text-layer">
                                    <span class="chinese">九寨沟</span>
                                    <span class="pinyin">Jiu zhaigou</span>
                                </div>
                            </div>
                        </div>
                        <div class="line">
                            <img src="/master-Q3/images/route_line1.png" alt=""/>
                            <div class="overlay">
                                <div class="text-layer">
                                    <span class="chinese">九寨沟</span>
                                    <span class="pinyin">Jiu zhaigou</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    $(document).ready(function () {

    });
</script>
</body>
</html>