<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q3/css/route_lists.scss?__inline">
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header>
            <div class="back"></div>
            <div class="center">四川的路线</div>
        </header>
        <div class="page-content">
            <div class="routes">
                <div class="route" href="/master-Q3/views/route_detail.html">
                    <div class="up">
                        <img src="/master-Q3/images/route_lists_img.png" alt=""/>
                        <div class="overlay">
                            <div class="content">
                                <div class="route-name">九寨沟线</div>
                                <div class="route-tag"><span class="tag">西行巴士</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="down">
                        <div class="left">
                            套餐名称好吃好吃的九寨沟豪华十八人七天五套餐名称好吃好吃的九寨沟豪华十八人七天五夜…
                        </div>
                        <div class="right">¥1299</div>
                    </div>
                </div>
                <div class="route">
                    <div class="up">
                        <img src="/master-Q3/images/route_lists_img.png" alt=""/>
                        <div class="overlay">
                            <div class="content">
                                <div class="route-name">九寨沟线</div>
                                <div class="route-tag shuaBus"><span class="tag">耍巴士</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="down">
                        <div class="left">
                            套餐名称好吃好吃的九寨沟豪华十八人七天五套餐名称好吃好吃的九寨沟豪华十八人七天五夜…
                        </div>
                        <div class="right">¥1299</div>
                    </div>
                </div>
                <div class="route">
                    <div class="up">
                        <img src="/master-Q3/images/route_lists_img.png" alt=""/>
                        <div class="overlay">
                            <div class="content">
                                <div class="route-name">九寨沟线</div>
                                <div class="route-tag bbBus"><span class="tag">棒棒巴士</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="down">
                        <div class="left">
                            套餐名称好吃好吃的九寨沟豪华十八人七天五套餐名称好吃好吃的九寨沟豪华十八人七天五夜…
                        </div>
                        <div class="right">¥1299</div>
                    </div>
                </div>
                <div class="route">
                    <div class="up">
                        <img src="/master-Q3/images/route_lists_img.png" alt=""/>
                        <div class="overlay">
                            <div class="content">
                                <div class="route-name">九寨沟线</div>
                                <div class="route-tag taiBus"><span class="tag">泰巴士</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="down">
                        <div class="left">
                            套餐名称好吃好吃的九寨沟豪华十八人七天五套餐名称好吃好吃的九寨沟豪华十八人七天五夜…
                        </div>
                        <div class="right">¥1299</div>
                    </div>
                </div>
            </div>
            <div class="footer-bus">
                <img src="/master-Q3/images/icon/bus_bottom@2x.png" alt=""/>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    $(document).ready(function () {
        $('.route').tap(function(e){
            e.preventDefault();
            e.stopPropagation();
            if($(this).attr('href')){
                location.href= $(this).attr('href');
            }
        });
    });
</script>
</body>
</html>