<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q3/css/route_detail.scss?__inline">
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header>
            <div class="back"></div>
            <div class="center">详情</div>
        </header>
        <div class="page-content">
            <div class="briefly">
                <div class="banner">
                    <img src="/master-Q3/images/route_detail_banner.png" alt=""/>
                    <div class="overlay">
                        <div class="content">
                            <span class="current">10张</span>
                        </div>
                    </div>
                </div>
                <div class="infoes">
                    <div class="title">香格里拉大环线</div>
                    <div class="desc">赞比亚共和国是非洲中南部的一个内陆国家，大部分属于高原地区。北靠刚果民主共和国、东北邻坦桑尼亚、东面和马拉维。</div>
                </div>
                <div class="outline">
                    <div class="node">
                        <div class="dot">
                            <div class="circle"></div>
                            <div class="line"></div>
                        </div>
                        <div class="content-wrap">
                            <div class="content">
                                <div class="name">成都市都江堰成都市都江堰成都市都江堰成都市都江堰</div>
                                <div class="desc">
                                    这里是文字说明描述，这里是文字说明描述，这里是文字说明描述。
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="node interrupt">
                        <div class="dot">
                            <div class="circle"></div>
                            <div class="line"></div>
                        </div>
                        <div class="content-wrap">
                            <div class="content">
                                <div class="name">成都市</div>
                                <div class="desc">
                                    这里是文字说明描述，这里是文字说明描述，这里是文字说明描述。
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="moreNode">
                        <div class="node">
                            <div class="dot">
                                <div class="circle"></div>
                                <div class="line"></div>
                            </div>
                            <div class="content-wrap">
                                <div class="content">
                                    <div class="name">成都市</div>
                                    <div class="desc">
                                        这里是文字说明描述，这里是文字说明描述，这里是文字说明描述。
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="node last">
                            <div class="dot">
                                <div class="circle"></div>
                                <div class="line"></div>
                            </div>
                            <div class="content-wrap">
                                <div class="content">
                                    <div class="name">成都市</div>
                                    <div class="desc">
                                        这里是文字说明描述，这里是文字说明描述，这里是文字说明描述。
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="show-moreNode show">显示全部行程</div>
                </div>
            </div>
            <div class="tourisms">
                <div class="tourism">
                    <div class="contain">
                        <img src="/master-Q3/images/detail_001.png" alt=""/>
                        <div class="tourism-info">
                            <div class="name">成都－映秀—九寨沟九寨成都－映秀—九寨沟九寨</div>
                            <div class="time">发车时间:&nbsp;&nbsp;7:00&nbsp;&nbsp;8:00&nbsp;&nbsp;9:00&nbsp;&nbsp;11:00&nbsp;&nbsp;13:00&nbsp;&nbsp;14:00</div>
                            <div class="bottom-bar">
                                <div class="price">¥12298.99</div>
                                <div class="arrowBtn"></div>
                            </div>
                        </div>
                    </div>
                    <div class="products">
                        <div class="product">
                            <div class="left">
                                <div class="name">去程票+回程票</div>
                                <div class="prices">
                                    <span class="now">¥12982.89</span>
                                    <span class="old">原价：¥4000</span>
                                </div>
                                <div class="tags">
                                    <span class="tag">app专享价</span>
                                    <span class="tag">特价</span>
                                </div>
                            </div>
                            <a class="right" href="#">预定</a>
                        </div>
                        <div class="product">
                            <div class="left">
                                <div class="name">去程票+回程票＋套餐套餐套餐套餐套餐套餐套餐套餐</div>
                                <div class="prices">
                                    <span class="now">¥12982.89</span>
                                    <span class="old">原价：¥4000</span>
                                </div>
                                <div class="tags">
                                    <span class="tag">专享专享价价</span>
                                    <span class="tag">特价特价特价</span>
                                </div>
                            </div>
                            <a class="right" href="#">预定</a>
                        </div>
                        <div class="product last">
                            <div class="left">
                                <div class="name">去程票+回程票</div>
                                <div class="prices">
                                    <span class="now">¥12982.89</span>
                                    <span class="old">原价：¥4000</span>
                                </div>
                                <div class="tags">
                                    <span class="tag">app专享价</span>
                                    <span class="tag">特价</span>
                                </div>
                            </div>
                            <a class="right" href="#">预定</a>
                        </div>
                        <div class="moreProduct">
                            <div class="product">
                                <div class="left">
                                    <div class="name">去程票+回程票</div>
                                    <div class="prices">
                                        <span class="now">¥12982.89</span>
                                        <span class="old">原价：¥4000</span>
                                    </div>
                                    <div class="tags">
                                        <span class="tag">app专享价</span>
                                        <span class="tag">特价</span>
                                    </div>
                                </div>
                                <a class="right" href="#">预定</a>
                            </div>
                            <div class="product">
                                <div class="left">
                                    <div class="name">去程票+回程票＋套餐套餐套餐套餐套餐套餐套餐套餐</div>
                                    <div class="prices">
                                        <span class="now">¥12982.89</span>
                                        <span class="old">原价：¥4000</span>
                                    </div>
                                    <div class="tags">
                                        <span class="tag">app专享价</span>
                                        <span class="tag">特价</span>
                                    </div>
                                </div>
                                <a class="right" href="#">预定</a>
                            </div>
                            <div class="product last">
                                <div class="left">
                                    <div class="name">去程票+回程票</div>
                                    <div class="prices">
                                        <span class="now">¥12982.89</span>
                                        <span class="old">原价：¥4000</span>
                                    </div>
                                    <div class="tags">
                                        <span class="tag">app专享价</span>
                                        <span class="tag">特价</span>
                                    </div>
                                </div>
                                <a class="right" href="#">预定</a>
                            </div>
                        </div>
                        <div class="show-moreProduct">
                            查看剩余两个套餐
                        </div>
                    </div>
                </div>
                <div class="tourism">
                    <div class="contain">
                        <img src="/master-Q3/images/detail_001.png" alt=""/>
                        <div class="tourism-info">
                            <div class="name">成都－映秀—九寨沟九寨成都－映秀—九寨沟九寨</div>
                            <div class="time">发车时间:&nbsp;&nbsp;7:00&nbsp;&nbsp;8:00&nbsp;&nbsp;9:00&nbsp;&nbsp;11:00&nbsp;&nbsp;13:00&nbsp;&nbsp;14:00</div>
                            <div class="bottom-bar">
                                <div class="price">¥12298.99</div>
                                <div class="arrowBtn"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tourism last">
                    <div class="contain">
                        <img src="/master-Q3/images/detail_001.png" alt=""/>
                        <div class="tourism-info">
                            <div class="name">成都－映秀—九寨沟九寨成都－映秀—九寨沟九寨</div>
                            <div class="time">发车时间:&nbsp;&nbsp;7:00&nbsp;&nbsp;8:00&nbsp;&nbsp;9:00&nbsp;&nbsp;11:00&nbsp;&nbsp;13:00&nbsp;&nbsp;14:00</div>
                            <div class="bottom-bar">
                                <div class="price">¥12298.99</div>
                                <div class="arrowBtn"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lines_group">
                <div class="title-bar">
                    <div class="title">
                        <span class="tag">四川</span>旅游路线
                    </div>
                    <a class="more">全部</a>
                </div>
                <div class="lines">
                    <div class="line">
                        <img src="/master-Q3/images/route_line1.png" alt=""/>
                        <div class="overlay">
                            <div class="text-layer">
                                <span class="chinese">九寨沟</span>
                                <span class="pinyin">Jiu zhaigou</span>
                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <img src="/master-Q3/images/route_line2.png" alt=""/>
                        <div class="overlay">
                            <div class="text-layer">
                                <span class="chinese">大英死海</span>
                                <span class="pinyin">Da yingsihai</span>
                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <img src="/master-Q3/images/route_line1.png" alt=""/>
                        <div class="overlay">
                            <div class="text-layer">
                                <span class="chinese">九寨沟</span>
                                <span class="pinyin">Jiu zhaigou</span>
                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <img src="/master-Q3/images/route_line1.png" alt=""/>
                        <div class="overlay">
                            <div class="text-layer">
                                <span class="chinese">九寨沟</span>
                                <span class="pinyin">Jiu zhaigou</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    $(document).ready(function () {
        $('.show-moreNode').click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            var $this = $(this),height=0;
            var $secondNode = $this.parents('.outline').find('.node').eq(1);
            var $panel = $this.siblings('.moreNode');
                $panel.find('.node').each(function(index,item){
                    height += $(item).height();
                });
            if ($panel.height()) {
                $panel.css('height', 0);
                $this.html('展示全部行程');
                $secondNode.addClass('interrupt');
            } else {
                $panel.css('height', height+'px');
                $this.html('收起行程');
                $secondNode.removeClass('interrupt');
            }
        });
        $('.tourism').click(function(e){
            e.preventDefault();
            e.stopPropagation();
            var $this = $(this);
            $this.toggleClass('show');
            $this.find('.moreProduct').removeClass('show');
            $this.find('.product').eq(2).addClass('last');
            $this.find('.show-moreProduct').show();
        });
        $('.show-moreProduct').on('click',function(e){
            e.preventDefault();
            e.stopPropagation();
            var $this = $(this);
            var $products =  $this.parents('.products');
            var $moreProduct = $products.find('.moreProduct');
            if(!$moreProduct.hasClass('show')){
                $moreProduct.addClass('show');
                $products.find('.product').eq(2).removeClass('last');
            }
            $this.hide();
        });
    });
</script>
</body>
</html>