<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q5/css/detail.scss?__inline">
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header>
            <div class="back"></div>
            <div class="center">详情</div>
            <div class="collection"></div>
        </header>
        <footer>
            <a href="javascript:void(0);" class="collection hide">收藏</a>
            <a href="javascript:void(0);" class="advisory">电话咨询</a>
            <a class="online">在线咨询</a>
            <a href="/mobile/gateway/wechat/stock/product/${product.id}?purchaseId=${purchaseId}" class="buyNow">去预订</a>
        </footer>
        <div class="page-content">
            <div class="topModule">
                <div class="banner">
                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/f9bc80dbef637a7d9d0b738fe61fd16b.jpg!middle320"
                         alt="">
                    <div class="tips-wp">
                        <i></i>
                        <div class="tips">需要提前一天预订</div>
                        <div class="tips-cover"></div>
                    </div>
                </div>
                <div class="title">
                    <div class="name-price">
                        <h5>西岭雪山风景区雪山风景区雪山风山风景区雪山风</h5>
                        <div class="price">¥12999.99</div>
                    </div>
                    <div class="desc">
                        仅售79元，BBC报道的柳亚子师傅正中甜皮鸭，每日数量有限，送礼自享佳品！日数量有限，送礼自享佳品！
                    </div>
                    <div class="infoes-bar">
                        <div class="number"><span>已有359人购买</span></div>
                        <div class="tags">
                            <div class="tag"><span>简途认证</span></div>
                            <div class="tag"><span>限时商品</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toolbar zan">
                <span class="praise">好评度<em>87%</em></span>
                <span class="count">共32条评论</span>
            </div>
            <div class="rich-content atlas">
                <div class="bb-title"><i></i><span>图文详情</span></div>
                <div class="bb-content">
                    <h2>费用包含的项目</h2>
                    <div>如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。</div>
                    <h3>特种票特别赠送：</h3>
                    <div>如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。<br/>
                        如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。
                    </div>
                    <h3>特种票特别赠送：</h3>
                    <div>还记得看好风格经典款式更多是看过很多风景可是更好的方式</div>
                    <h2>费用包含的项目</h2>
                    <div>如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。</div>
                    <h2>费用包含的项目</h2>
                    <div>如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。</div>
                </div>
            </div>
            <div class="rich-content horn">
                <div class="bb-title"><i></i><span>预定须知</span></div>
                <div class="bb-content">
                    <h2>费用包含的项目</h2>
                    <div>如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。</div>
                    <h3>特种票特别赠送：</h3>
                    <div>如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。<br/>
                        如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。
                    </div>
                    <h3>特种票特别赠送：</h3>
                    <div>还记得看好风格经典款式更多是看过很多风景可是更好的方式</div>
                    <h2>费用包含的项目</h2>
                    <div>如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。</div>
                    <h2>费用包含的项目</h2>
                    <div>如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。如果遇到前方塌方等不可抗因素，行程可能有变更，请大家谅解。</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script type="text/javascript" src="/common/js/base.js"></script>
<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
                    (m[i].a = m[i].a || []).push(arguments)
                };
        j = ei.createElement(q),
                s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 20387);

    // 在这里开启手动模式（必须紧跟美洽的嵌入代码）
    _MEIQIA('manualInit');
    _MEIQIA('withoutBtn');
    _MEIQIA('init');
</script>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
        var a = document.getElementsByTagName('a');
        for(var i = 0; i < a.length; i++){
            a[i].addEventListener('touchstart',function(){},false);
        }
    })(document, window);
    $(document).ready(function () {
        // 点击返回按钮
        $('header .back').click(function() {
            history.go(-1);
        });
        $('.online').click(function (e){
            e.preventDefault();
            _MEIQIA('showPanel');
        });
        //电话客服
        $.actions({
            pick: '.advisory',
            items: ['<a href="tel:01080697359">境内客服&nbsp;&nbsp;010&nbsp;80697359</a>',
                '<a href="tel:0869186666">泰国客服&nbsp;&nbsp;086&nbsp;918&nbsp;6666</a>'],
        });
    });
</script>
</body>
</html>