<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q5/css/freebuy_list.scss?__inline">
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header>
            <div class="back"></div>
            <div class="center">途中玩乐</div>
            <div class="search red turnTo" href="#search"></div>
        </header>
        <div class="tabBarWrap">
            <div class="before-cover"></div>
            <div class="tabBar">
                <div class="tabs">
                    <span class="current">门票</span>
                    <span>美食美食</span>
                    <span>住宿</span>
                    <span>娱乐</span>
                    <span>伴手礼</span>
                    <span>接驳车</span>
                </div>
            </div>
            <div class="after-cover">
                <div class="screen"></div>
            </div>
        </div>
        <div class="page-content">
            <div class="panel">
                <div class="list current">
                    <a class="item">
                        <div class="topImg">
                            <img src="/master-Q5/images/topImg001.png" alt=""/>
                        </div>
                        <div class="item-content">
                            <div class="name-price">
                                <div class="name">2016海螺沟跨年雪山音乐会</div>
                                <div class="price">¥134</div>
                            </div>
                            <div class="desc">雪山魂塑造，听巅峰之乐奏生命乐章偶也</div>
                            <div class="info">
                                <div class="purchase-number">已有359人购买</div>
                                <div class="tag">简途认证</div>
                                <div class="tag">限时商品</div>
                            </div>
                        </div>
                    </a>
                    <a class="item">
                        <div class="topImg">
                            <img src="/master-Q5/images/topImg001.png" alt=""/>
                        </div>
                        <div class="item-content">
                            <div class="name-price">
                                <div class="name">2016海螺沟跨年雪山音乐会</div>
                                <div class="price">¥134</div>
                            </div>
                            <div class="desc">雪山魂塑造，听巅峰之乐奏生命乐章偶也</div>
                            <div class="info">
                                <div class="purchase-number">已有359人购买</div>
                                <div class="tag">简途认证</div>
                                <div class="tag">限时商品</div>
                            </div>
                        </div>
                    </a>
                    <a class="item">
                        <div class="topImg">
                            <img src="/master-Q5/images/topImg001.png" alt=""/>
                        </div>
                        <div class="item-content">
                            <div class="name-price">
                                <div class="name">2016海螺沟跨年雪山音乐会</div>
                                <div class="price">¥134</div>
                            </div>
                            <div class="desc">雪山魂塑造，听巅峰之乐奏生命乐章偶也</div>
                            <div class="info">
                                <div class="purchase-number">已有359人购买</div>
                                <div class="tag">简途认证</div>
                                <div class="tag">限时商品</div>
                            </div>
                        </div>
                    </a>
                    <a class="item">
                        <div class="topImg">
                            <img src="/master-Q5/images/topImg001.png" alt=""/>
                        </div>
                        <div class="item-content">
                            <div class="name-price">
                                <div class="name">2016海螺沟跨年雪山音乐会</div>
                                <div class="price">¥134</div>
                            </div>
                            <div class="desc">雪山魂塑造，听巅峰之乐奏生命乐章偶也</div>
                            <div class="info">
                                <div class="purchase-number">已有359人购买</div>
                                <div class="tag">简途认证</div>
                                <div class="tag">限时商品</div>
                            </div>
                        </div>
                    </a>
                    <a class="item">
                        <div class="topImg">
                            <img src="/master-Q5/images/topImg001.png" alt=""/>
                        </div>
                        <div class="item-content">
                            <div class="name-price">
                                <div class="name">2016海螺沟跨年雪山音乐会</div>
                                <div class="price">¥134</div>
                            </div>
                            <div class="desc">雪山魂塑造，听巅峰之乐奏生命乐章偶也</div>
                            <div class="info">
                                <div class="purchase-number">已有359人购买</div>
                                <div class="tag">简途认证</div>
                                <div class="tag">限时商品</div>
                            </div>
                        </div>
                    </a>
                    <a class="item">
                        <div class="topImg">
                            <img src="/master-Q5/images/topImg001.png" alt=""/>
                        </div>
                        <div class="item-content">
                            <div class="name-price">
                                <div class="name">2016海螺沟跨年雪山音乐会</div>
                                <div class="price">¥134</div>
                            </div>
                            <div class="desc">雪山魂塑造，听巅峰之乐奏生命乐章偶也</div>
                            <div class="info">
                                <div class="purchase-number">已有359人购买</div>
                                <div class="tag">简途认证</div>
                                <div class="tag">限时商品</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="list">
                    <a class="item">
                        <div class="topImg">
                            <img src="/master-Q5/images/topImg002.png" alt=""/>
                        </div>
                        <div class="item-content">
                            <div class="name-price">
                                <div class="name">2016海螺沟跨年雪山音乐会</div>
                                <div class="price">¥134</div>
                            </div>
                            <div class="desc">雪山魂塑造，听巅峰之乐奏生命乐章偶也</div>
                            <div class="info">
                                <div class="purchase-number">已有359人购买</div>
                                <div class="tag">简途认证</div>
                                <div class="tag">限时商品</div>
                            </div>
                        </div>
                    </a>
                    <a class="item">
                        <div class="topImg">
                            <img src="/master-Q5/images/topImg001.png" alt=""/>
                        </div>
                        <div class="item-content">
                            <div class="name-price">
                                <div class="name">2016海螺沟跨年雪山音乐会</div>
                                <div class="price">¥134</div>
                            </div>
                            <div class="desc">雪山魂塑造，听巅峰之乐奏生命乐章偶也</div>
                            <div class="info">
                                <div class="purchase-number">已有359人购买</div>
                                <div class="tag">简途认证</div>
                                <div class="tag">限时商品</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="list">
                    <a class="item">
                        <div class="topImg">
                            <img src="/master-Q5/images/topImg001.png" alt=""/>
                        </div>
                        <div class="item-content">
                            <div class="name-price">
                                <div class="name">2016海螺沟跨年雪山音乐会</div>
                                <div class="price">¥134</div>
                            </div>
                            <div class="desc">雪山魂塑造，听巅峰之乐奏生命乐章偶也</div>
                            <div class="info">
                                <div class="purchase-number">已有359人购买</div>
                                <div class="tag">简途认证</div>
                                <div class="tag">限时商品</div>
                            </div>
                        </div>
                    </a>
                    <a class="item">
                        <div class="topImg">
                            <img src="/master-Q5/images/topImg001.png" alt=""/>
                        </div>
                        <div class="item-content">
                            <div class="name-price">
                                <div class="name">2016海螺沟跨年雪山音乐会</div>
                                <div class="price">¥134</div>
                            </div>
                            <div class="desc">雪山魂塑造，听巅峰之乐奏生命乐章偶也</div>
                            <div class="info">
                                <div class="purchase-number">已有359人购买</div>
                                <div class="tag">简途认证</div>
                                <div class="tag">限时商品</div>
                            </div>
                        </div>
                    </a>
                    <a class="item">
                        <div class="topImg">
                            <img src="/master-Q5/images/topImg001.png" alt=""/>
                        </div>
                        <div class="item-content">
                            <div class="name-price">
                                <div class="name">2016海螺沟跨年雪山音乐会</div>
                                <div class="price">¥134</div>
                            </div>
                            <div class="desc">雪山魂塑造，听巅峰之乐奏生命乐章偶也</div>
                            <div class="info">
                                <div class="purchase-number">已有359人购买</div>
                                <div class="tag">简途认证</div>
                                <div class="tag">限时商品</div>
                            </div>
                        </div>
                    </a>
                    <a class="item">
                        <div class="topImg">
                            <img src="/master-Q5/images/topImg001.png" alt=""/>
                        </div>
                        <div class="item-content">
                            <div class="name-price">
                                <div class="name">2016海螺沟跨年雪山音乐会</div>
                                <div class="price">¥134</div>
                            </div>
                            <div class="desc">雪山魂塑造，听巅峰之乐奏生命乐章偶也</div>
                            <div class="info">
                                <div class="purchase-number">已有359人购买</div>
                                <div class="tag">简途认证</div>
                                <div class="tag">限时商品</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="list">
                    <a class="item">
                        <div class="topImg">
                            <img src="/master-Q5/images/topImg002.png" alt=""/>
                        </div>
                        <div class="item-content">
                            <div class="name-price">
                                <div class="name">2016海螺沟跨年雪山音乐会</div>
                                <div class="price">¥134</div>
                            </div>
                            <div class="desc">雪山魂塑造，听巅峰之乐奏生命乐章偶也</div>
                            <div class="info">
                                <div class="purchase-number">已有359人购买</div>
                                <div class="tag">简途认证</div>
                                <div class="tag">限时商品</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="list">
                    <a class="item">
                        <div class="topImg">
                            <img src="/master-Q5/images/topImg001.png" alt=""/>
                        </div>
                        <div class="item-content">
                            <div class="name-price">
                                <div class="name">2016海螺沟跨年雪山音乐会</div>
                                <div class="price">¥134</div>
                            </div>
                            <div class="desc">雪山魂塑造，听巅峰之乐奏生命乐章偶也</div>
                            <div class="info">
                                <div class="purchase-number">已有359人购买</div>
                                <div class="tag">简途认证</div>
                                <div class="tag">限时商品</div>
                            </div>
                        </div>
                    </a>
                    <a class="item">
                        <div class="topImg">
                            <img src="/master-Q5/images/topImg001.png" alt=""/>
                        </div>
                        <div class="item-content">
                            <div class="name-price">
                                <div class="name">2016海螺沟跨年雪山音乐会</div>
                                <div class="price">¥134</div>
                            </div>
                            <div class="desc">雪山魂塑造，听巅峰之乐奏生命乐章偶也</div>
                            <div class="info">
                                <div class="purchase-number">已有359人购买</div>
                                <div class="tag">简途认证</div>
                                <div class="tag">限时商品</div>
                            </div>
                        </div>
                    </a>
                    <a class="item">
                        <div class="topImg">
                            <img src="/master-Q5/images/topImg001.png" alt=""/>
                        </div>
                        <div class="item-content">
                            <div class="name-price">
                                <div class="name">2016海螺沟跨年雪山音乐会</div>
                                <div class="price">¥134</div>
                            </div>
                            <div class="desc">雪山魂塑造，听巅峰之乐奏生命乐章偶也</div>
                            <div class="info">
                                <div class="purchase-number">已有359人购买</div>
                                <div class="tag">简途认证</div>
                                <div class="tag">限时商品</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="list">
                    <a class="item">
                        <div class="topImg">
                            <img src="/master-Q5/images/topImg001.png" alt=""/>
                        </div>
                        <div class="item-content">
                            <div class="name-price">
                                <div class="name">2016海螺沟跨年雪山音乐会</div>
                                <div class="price">¥134</div>
                            </div>
                            <div class="desc">雪山魂塑造，听巅峰之乐奏生命乐章偶也</div>
                            <div class="info">
                                <div class="purchase-number">已有359人购买</div>
                                <div class="tag">简途认证</div>
                                <div class="tag">限时商品</div>
                            </div>
                        </div>
                    </a>
                    <a class="item">
                        <div class="topImg">
                            <img src="/master-Q5/images/topImg001.png" alt=""/>
                        </div>
                        <div class="item-content">
                            <div class="name-price">
                                <div class="name">2016海螺沟跨年雪山音乐会</div>
                                <div class="price">¥134</div>
                            </div>
                            <div class="desc">雪山魂塑造，听巅峰之乐奏生命乐章偶也</div>
                            <div class="info">
                                <div class="purchase-number">已有359人购买</div>
                                <div class="tag">简途认证</div>
                                <div class="tag">限时商品</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="filter-wrap">
                <div class="cover"></div>
                <div class="filter-content">
                    <div class="destination">
                        <ul>
                            <li data-areaid="0">全部</li>
                            <li class="selected" data-areaid="1">四川</li>
                            <li data-areaid="3">重庆</li>
                            <li data-areaid="38">云南</li>
                            <li data-areaid="5">泰国</li>
                            <li data-areaid="39">简途·一票过冬专区</li>
                        </ul>
                    </div>
                    <div class="arrive">
                        <ul id="0">
                        </ul>
                        <ul id="1" class="show">
                            <li class="selected" data-lineid="0">全部</li>
                            <li data-lineid="4">九寨沟 黄龙</li>
                            <li data-lineid="3">青城山 都江堰</li>
                            <li data-lineid="1">峨眉山 乐山大佛</li>
                            <li data-lineid="60">稻城亚丁</li>
                            <li data-lineid="2">熊猫基地</li>
                            <li data-lineid="88">四姑娘山</li>
                        </ul>
                        <ul id="3">
                            <li class="selected" data-lineid="0">全部</li>
                            <li data-lineid="10">武隆</li>
                            <li data-lineid="67">重庆城市巴士</li>
                            <li data-lineid="75">仙女山</li>
                            <li data-lineid="61">金刀峡</li>
                            <li data-lineid="86">綦江凤凰谷</li>
                        </ul>
                        <ul id="38">
                            <li class="selected" data-lineid="0">全部</li>
                            <li data-lineid="65">香格里拉</li>
                            <li data-lineid="76">泸沽湖</li>
                            <li data-lineid="64">玉龙雪山</li>
                            <li data-lineid="66">大理</li>
                        </ul>
                        <ul id="5">
                            <li class="selected" data-lineid="0">全部</li>
                            <li data-lineid="80">廊曼机场接送机服务</li>
                            <li data-lineid="23">素万那普接送机服务</li>
                            <li data-lineid="73">芭提雅多日游/出海游</li>
                            <li data-lineid="81">曼谷市内半日游</li>
                        </ul>
                        <ul id="39">
                            <li class="selected" data-lineid="0">全部</li>
                            <li data-lineid="77">一票过冬——五选三</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page" id="search">
        <div class="page-content">
            <div class="search-bar">
                <div class="back"></div>
                <div class="search-input">
                    <label></label>
                    <input oninput="filterResult(event)" type="text" name="search" placeholder="请输入景点名称或关键词">
                    <div class="click-zone"></div>
                </div>
                <div class="search-btn">
                    搜索
                </div>
            </div>
            <div class="search-result">
                <div class="hot-space">
                    <div class="no-line">
                        <div class="img-wp">
                            <img src="/master-Q3/images/icon/no_result_icon@2x.png" alt="">
                        </div>
                        <p>无搜索结果</p>
                    </div>
                    <h5>热门搜索</h5>
                    <ul>
                        <li>稻城亚丁</li>
                        <li>嘉阳</li>
                    </ul>
                </div>
                <div class="results">
                    <div class="bus-lines">
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function filterResult (e){
        var value = event.target.value;
        if(!value) {
            $('.search-bar').removeClass('input-change');
        } else {
            $('.search-bar').addClass('input-change');
        }
    }
</script>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        if (!doc.addEventListener) return;
        recalc();
        document.body.style.visibility = 'visible';
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
<script src="/common/js/zepto.min.js"></script>
<script src="/common/js/base.js"></script>
<script type="text/javascript" src="/common/js/lazyload.min.js"></script>
<script type="text/javascript" src="/common/js/pages.js"></script>
<script type="text/javascript">
    // 初始化page
    $('.page-group').pageInit({
        router : '.turnTo' ,//router的className
        routerFun : function(){}
    });
    // 点击返回按钮
    $('header .back').click(function(e) {
        history.go(-1);
    });
    $('.search-bar .back').click(function() {
        history.go(-1);
    });
    // 图片有可能会很多，所以懒加载
//    $("img.lazy").lazyload({
//        effect : "fadeIn",
//        container: $("#main .page-content")
//    });
    $('.tabs span').eq(0).addClass("current");
    $('.list').eq(0).addClass("current").addClass('show');
    var $panel=$('.panel');
    var prevIndex, currentIndex, $current, $prev, timer0, timer1,height;
    $panel.height($('.list.current').height());
    $('.tabs span').on('click', function (e) {
        prevIndex = $(this).siblings('.current').removeClass('current').index();
        currentIndex = $(this).addClass('current').index();
        $current = $('.list').eq(currentIndex)
        $prev = $('.list').eq(prevIndex);
        height =  $current.height();
        clearTimeout(timer0);
        clearTimeout(timer1);
        setTimeout(function () {
            $current.addClass('current');
            $prev.removeClass('current');
            $panel.height(height);
        }, 1);
    });
    //筛选
    $('.screen').click(function(e){
        $('.filter-wrap').show();
        $('.filter-wrap')[0].clientLeft;
        $('.filter-wrap .filter-content').addClass('show');
        $('.page-content').addClass('no-scroll');
    });
    $('.filter-wrap .cover').click(function() {
        setTimeout(function(){
            $('.filter-wrap').hide();
        },200);
        $('.filter-wrap .filter-content').removeClass('show');
        $('.page-content').removeClass('no-scroll');
    });

    var areaId,lineId,orderby,sortby;
    areaId = $('.destination li.selected').attr('data-areaid');
    lineId = $('.arrive .show li.selected').attr('data-lineid');
    orderby = $('.recommend-content li.selected').attr('data-orderby');
    sortby = $('.recommend-content li.selected').attr('data-sortby');
    // 选择地区
    $('.destination li').click(function() {
        var $this = $(this);
        $('.destination li.selected').removeClass('selected');
        $this.addClass('selected');
        areaId = $this.attr('data-areaid');
        if(areaId == 0){
            location.href = '/mobile/gateway/wechat/product/gift/list?areaId='+areaId+'&lineId='+0+'&orderby='+orderby+'&sortby='+sortby;
        }
        $('.arrive ul.show').removeClass('show');
        $('#'+areaId).addClass('show');
    });
    // 选择目的地
    $.aClick({
        clickNode:'.arrive .show li',
        parentNode : '.filter-content ',
        clickFun : function($this){
            //$this为当前点击dom的zepto对象
            $('.arrive .show li.selected').removeClass('selected');
            $this.addClass('selected');
            lineId = $('.arrive .show li.selected').attr('data-lineid');
            location.href = '/mobile/gateway/wechat/product/gift/list' +
                    '?areaId='+areaId+'&lineId='+lineId+'&orderby='+orderby+'&sortby='+sortby;
        }
    });

    /*=============================
        **搜索**
      =============================*/
    $('.click-zone').click(function() {
        $('.search-bar').removeClass('input-change');
        $('.search-input input').val('').focus();
    });
    // 点击热门
    $('.hot-space li').click(function() {
        $('.no-line').hide();
        $('.search-input input[name=search]').val($(this).text());
        $('.search-btn').trigger('click');
    });
    // 点击搜索出来的结果
    $.aClick({
        clickNode:'li',
        parentNode : '.results',
        clickFun : function($this){
            //$this为当前点击dom的zepto对象
            location.href = '/mobile/gateway/wechat/resource/gift/' + $this.attr('data-id');
        }
    });
    var render= function(data) {
        var html = '';
        data.forEach(function(item) {
            html += '<li data-id="' + item.id + '">' + item.name + '</li>';
        });
        return html;
    };
    // 搜索
    var flag = false;
    $('.search-btn').click(function () {
        if (flag) return false;
        var searchName = $('.search-input input[name=search]').val().trim();
        if (!searchName) return false;
        flag = true;
        $('.no-line').hide();
        $.ajax({
            type: 'post',
            beforeSend: function () {
                $('.results li').remove();
            },
            dataType: 'json',
            contentType: 'application/json',
            url: '/mobile/gateway/wechat/product/gift/search',
            data: JSON.stringify({
                name: searchName
            }),
            success: function (data) {
                if (data.code == 0) {
                    if (data.data.length > 0) {
                        $('.results .bus-lines ul').append(render(data.data));
                        $('.results').show();
                        $('.hot-space').hide();
                    } else {
                        $('.no-line').show();
                    }
                } else {
                    $('.no-line').show();
                }
            },
            error: function () {
                $.alert({
                    msg: '网络异常，请重试！'
                });
            },
            complete: function () {
                flag = false;
            }
        })

    });

</script>
</body>
</html>