<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>行程说明</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q5/css/tourismIntro.scss?__inline" media="screen" title="no_title" charset="utf-8">
</head>
<body>
<div class="introductions">
    <div class="tourism-days">
        <div class="tourism-day">
            <div class="day">D1 成都－九寨沟－川主寺－成都</div>
            <div class="tourism-content">
                <p>都江堰是世界文化遗产（2000年被联合国教科文组织列入“世界文化遗产”名录），世界自都江堰是世界文化遗产，世界自都江堰是世界文化遗文化遗文化遗产。</p>
                <img src="/master-Q5/images/topImg002.png" alt=""/>
            </div>
            <div class="destination">成都</div>
            <div class="tourism-content">
                <p>都江堰是世界文化遗产（2000年被联合国教科文组织列入“世界文化遗产”名录），世界自都江堰是世界文化遗产，世界自都江堰是世界文化遗文化遗文化遗产。</p>
            </div>
            <div class="destination">都江堰</div>
            <div class="tourism-content">
                <p>都江堰是世界文化遗产（2000年被联合国教科文组织列入“世界文化遗产”名录），世界自都江堰是世界文化遗产，世界自都江堰是世界文化遗文化遗文化遗产。</p>
                <h5>都江堰</h5>
                <p>都江堰是世界文化遗产（2000年被联合国教科文组织列入“世界文化遗产”名录），世界自都江堰是世界文化遗产，世界自都江堰是世界文化遗文化遗文化遗产。</p>
            </div>
            <div class="day">D1 成都－九寨沟－川主寺－成都</div>
            <div class="tourism-content">
                <p>都江堰是世界文化遗产（2000年被联合国教科文组织列入“世界文化遗产”名录），世界自都江堰是世界文化遗产，世界自都江堰是世界文化遗文化遗文化遗产。</p>
                <img src="/master-Q5/images/topImg002.png" alt=""/>
            </div>
            <div class="destination">成都</div>
            <div class="tourism-content">
                <p>都江堰是世界文化遗产（2000年被联合国教科文组织列入“世界文化遗产”名录），世界自都江堰是世界文化遗产，世界自都江堰是世界文化遗文化遗文化遗产。</p>
            </div>
            <div class="destination">都江堰</div>
            <div class="tourism-content">
                <p>都江堰是世界文化遗产（2000年被联合国教科文组织列入“世界文化遗产”名录），世界自都江堰是世界文化遗产，世界自都江堰是世界文化遗文化遗文化遗产。</p>
                <h5>都江堰</h5>
                <p>都江堰是世界文化遗产（2000年被联合国教科文组织列入“世界文化遗产”名录），世界自都江堰是世界文化遗产，世界自都江堰是世界文化遗文化遗文化遗产。</p>
            </div>
            <div class="day">THE END</div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        if (!doc.addEventListener) return;
        recalc();
        var a = document.getElementsByTagName('a');
        for(var i = 0; i < a.length; i++){
            a[i].addEventListener('touchstart',function(){},false);
        }
        document.body.style.visibility = 'visible';
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
</body>
</html>