<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>简途旅行</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q3/css/bind_card_no_infos.scss?__inline" media="screen" title="no title" charset="utf-8">
</head>
<body style="visibility: hidden">
<div class="page-group">
    <div class="page page-current" style="background-color: #F6F6F6;" id="main">
        <!--每个page的页头-->
        <header>
            <div class="back">后退</div>
            <div class="center">绑定简途通</div>
        </header>
        <div class="idType-cover"></div>
        <div class="idType-wrapper">
            <div class="idTypes">
                <ul>
                    <li data-value="id">身份证</li>
                </ul>
            </div>
            <div class="cancel-btn">
                取消
            </div>
        </div>
        <footer>
            <div class="buyNow">绑定简途通</div>
        </footer>
        <div class="page-content">
            <div class="card-wrapper">
                <h5>简途通十天劵</h5>
                <p>NO.123345</p>
            </div>
            <div class="contact-infos">
                <div class="title">
                    <p>绑定出行人</p>
                    <div class="lines"></div>
                    <div class="turnCustomers turnTo" href="#customerList">去选择</div>
                </div>
                <div class="content">
                    <div class="input-group">
                        <i class="name"></i>
                        <input name="name" type="text" placeholder="姓名"/>
                    </div>
                    <div class="input-group">
                        <i class="mobile"></i>
                        <input name="mobile" type="text" placeholder="手机号"/>
                    </div>
                    <div class="input-group dropdown">
                        <i class="idType"></i>
                        <input name="displayIdType" readonly="readonly" type="text" placeholder="证件类型"/>
                        <input name="idType"  type="hidden"/>
                    </div>
                    <div class="input-group">
                        <i class="idNo"></i>
                        <input name="idNo" type="text" placeholder="证件号码"/>
                    </div>
                </div>
            </div>
            <div class="code">
                <div class="input-group">
                    <i class="card"></i>
                    <input name="contactName" type="text" placeholder="输入绑定码"/>
                </div>
            </div>
            <div class="code">
                <div class="input-group">
                    <i class="vCode"></i>
                    <input name="contactName" type="text" placeholder="输入验证码"/>
                </div>
                <div class="verification">
                    <img src="" alt="验证码">
                </div>
            </div>
        </div>
    </div>
    <div class="page" id="customerList">
        <header>
            <div class="back"></div>
            <div class="center">填写信息</div>
        </header>
        <div class="confirm-btn">
            确&nbsp;&nbsp;定
        </div>
        <div class="page-content">
            <div class="add-customer turnTo" href="#addCustomer">
                <i></i>
                新增常用旅客
            </div>

            <div class="customers">
                <div class="customer">
                    <div class="checkbox"></div>
                    <div class="information turnTo" href="#addCustomer">
                        <h5>高输出</h5>
                        <p>身份证  528394775937392</p>
                        <input type="hidden" name="name" value="高输出" />
                        <input type="hidden" name="mobile" value="18729578689" />
                        <input type="hidden" name="idType" data-value="身份证" value="id" />
                        <input type="hidden" name="idNo" value="528394775937392" />
                    </div>
                </div>
                <div class="customer">
                    <div class="checkbox"></div>
                    <div class="information turnTo" href="#addCustomer">
                        <h5>杨明昆</h5>
                        <p>身份证  511325199209150014</p>
                        <input type="hidden" name="name" value="杨明昆" />
                        <input type="hidden" name="mobile" value="18729578689" />
                        <input type="hidden" name="idType" data-value="身份证" value="id" />
                        <input type="hidden" name="idNo" value="511325199209150014" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page" id="addCustomer">
        <header>
            <div class="back"></div>
            <div class="center">添加常用旅客</div>
        </header>
        <div class="idType-cover"></div>
        <div class="idType-wrapper">
            <div class="idTypes">
                <ul>
                    <li data-value="id">身份证</li>
                </ul>
            </div>
            <div class="cancel-btn">
                取消
            </div>
        </div>
        <div class="page-content">
            <div class="input-wrapper">
                <div class="input-group">
                    <i class="name"></i>
                    <input name="name" type="text" placeholder="姓名"/>
                </div>
                <div class="input-group">
                    <i class="mobile"></i>
                    <input name="mobile" type="text" placeholder="电话"/>
                </div>
                <div class="input-group dropdown">
                    <i class="idType"></i>
                    <input name="displayIdType" readonly="readonly" type="text" placeholder="证件类型"/>
                    <input name="idType"  type="hidden"/>
                </div>
                <div class="input-group">
                    <i class="idNo"></i>
                    <input name="idNo" type="text" placeholder="证件号码"/>
                </div>
            </div>
            <div class="add-confirm-btn">
                确&nbsp;&nbsp;定
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script type="text/javascript" src="/common/js/pages.js"></script>
<script type="text/javascript" src="/common/js/base.js"></script>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        if (!doc.addEventListener) return;
        recalc();
        document.body.style.visibility = 'visible';
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    $(document).ready(function() {
        // 点击返回按钮
        $('header .back').click(function() {
            history.go(-1);
        });
        // 初始化page
        $('.page-group').pageInit({
            router : '.turnTo' ,//router的className
            routerFun : function(){}
        });
        $('#main .dropdown input').click(function(e) {
            $('.idType-cover').show();
            $('.idType-wrapper').addClass('show');
        });
        $('#main .cancel-btn').tap(function() {
            $('.idType-cover').hide();
            $('.idType-wrapper').removeClass('show');
        });
        $('#main .idType-wrapper li').tap(function() {
            var $this = $(this);
            $('.idType-wrapper li').removeClass('selected');
            $this.addClass('selected');
            $('.contact-infos input[name=displayIdType]').val($this.text());
            $('.contact-infos input[name=idType]').val($this.attr('data-value'));
            $('.idType-cover').hide();
            $('.idType-wrapper').removeClass('show');
        });


        /* ============================================
         添加编辑旅客页面操作 START
         ============================================== */
        $('#addCustomer .dropdown input').click(function(e) {
            $('.idType-cover').show();
            $('.idType-wrapper').addClass('show');
        });
        $('#addCustomer .cancel-btn').tap(function() {
            $('.idType-cover').hide();
            $('.idType-wrapper').removeClass('show');
        });
        $('#addCustomer .idType-wrapper li').tap(function() {
            var $this = $(this);
            $('.idType-wrapper li').removeClass('selected');
            $this.addClass('selected');
            $('#addCustomer input[name=displayIdType]').val($this.text());
            $('#addCustomer input[name=idType]').val($this.attr('data-value'));
            $('.idType-cover').hide();
            $('.idType-wrapper').removeClass('show');
        });
        /* ============================================
         添加编辑旅客页面操作 END
         ============================================== */

        /* ============================================
         旅客列表页面操作 START
         ============================================== */
        $('.customers').on('click','.checkbox',function() {
            var $this = $(this);
            if($this.parents('.customer').find('input[name=idType]').val() == 'id') {
                $('.checkbox.selected').removeClass('selected');
                $this.addClass('selected');
            } else {
                $.alert({
                    msg: '简途通出行人必须填写身份证实名信息'
                })
            }
        });
        // 去编辑旅客信息
        $('.customers').on('click','.information',function() {
            var $this = $(this);
            var name = $this.find('input[name=name]').val();
            var mobile = $this.find('input[name=mobile]').val();
            var idType = $this.find('input[name=idType]').val();
            var idNo = $this.find('input[name=idNo]').val();
            var displayIdType = $this.find('input[name=idType]').attr('data-value');

            // 赋值
            var $inputWrapper = $('#addCustomer .input-wrapper');
            $inputWrapper.find('input[name=name]').val(name);
            $inputWrapper.find('input[name=mobile]').val(mobile);
            $inputWrapper.find('input[name=idType]').val(idType);
            $inputWrapper.find('input[name=displayIdType]').val(displayIdType);
            $inputWrapper.find('input[name=idNo]').val(idNo);
        });
        // 点击旅客列表页面的确认按钮
        $('.confirm-btn').click(function() {
            var passengers = '';
            var selectedCustomer = $('.customers .checkbox.selected').parents('.customer');
            var name = selectedCustomer.find('input[name=name]').val();
            var mobile = selectedCustomer.find('input[name=mobile]').val();
            var displayIdType = selectedCustomer.find('input[name=idType]').attr('data-value');
            var idNo = selectedCustomer.find('input[name=idNo]').val();

            // 赋值
            $('.contact-infos input[name=name]').val(name);
            $('.contact-infos input[name=mobile]').val(mobile);
            $('.contact-infos input[name=displayIdType]').val(displayIdType);
            $('.contact-infos input[name=idNo]').val(idNo);

            history.go(-1);
        });
        // 点击新增旅客
        $('.add-customer').click(function() {
            // 清空
            var $inputWrapper = $('#addCustomer .input-wrapper');
            $inputWrapper.find('input[name=name]').val('');
            $inputWrapper.find('input[name=mobile]').val('');
            $inputWrapper.find('input[name=idType]').val('');
            $inputWrapper.find('input[name=displayIdType]').val('');
            $inputWrapper.find('input[name=idNo]').val('');
        });
        /* ============================================
         旅客列表页面操作 END
         ============================================== */
    })
</script>
</body>
</html>
