<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q3/css/checkInformation.scss?__inline" media="screen" title="no title" charset="utf-8">
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header>
            <div class="back"></div>
            <div class="center">填写订单</div>
        </header>
        <footer>
            <div class="buyNow">下一步</div>
        </footer>
        <div class="page-content">
            <div class="infos">
                <h5>往返票 成都都江堰青城山单程巴士江堰青城山单程巴士</h5>
                <div class="bottom-info">
                    <div class="shuttle single">
                        <i></i>
                        往返车票
                    </div>
                    <div class="days">
                        <i></i>
                        1日行程
                    </div>
                    <div class="times">
                        <i></i>
                        07:00发车
                    </div>
                </div>
                <div class="cutline"></div>
                <p>乘车日期 <span>2016.07.12</span></p>
            </div>
            <div class="contact-infos">
                <div class="title">
                    <p>联系人</p>
                    <div class="turnCustomers"></div>
                </div>
                <div class="content">
                    <div class="input-group">
                        <i class="name"></i>
                        <input name="contactName" type="text" placeholder="姓名"/>
                    </div>
                    <div class="input-group">
                        <i class="mobile"></i>
                        <input name="contactMobile" type="text" placeholder="手机号"/>
                    </div>
                </div>
            </div>
            <div class="card-passengers">
                <div class="title">
                    简途通出行人
                </div>
                <div class="card-passenger">
                    <div class="passenger">
                        <p>
                            <span>出行人</span>
                            <span>杨阳炎</span>
                        </p>
                        <p>
                            <span>电话</span>
                            <span>123456456</span>
                        </p>
                        <p>
                            <span>身份证</span>
                            <span>23874893849572103</span>
                        </p>
                    </div>
                    <div class="cards">
                        <div class="card">
                            <p>
                                <span>卡名</span>
                                <span>简途通10天券（四川、云南、贵州）</span>
                            </p>
                            <p>
                                <span>卡号</span>
                                <span>13810384571</span>
                            </p>
                            <p>
                                <span>剩余</span>
                                <span>5天</span>
                            </p>
                            <div>
                                <span>使用截止日期</span>
                                <span>2013.12.31  23.23</span>
                            </div>
                            <div class="red">
                                <span>本次兑换扣除</span>
                                <span>1天</span>
                            </div>
                            <div class="red">
                                <span>兑换后剩余</span>
                                <span>6天</span>
                            </div>
                        </div>
                        <div class="card">
                            <p>
                                <span>卡名</span>
                                <span>简途通10天券（四川、云南、贵州）</span>
                            </p>
                            <p>
                                <span>卡号</span>
                                <span>13810384571</span>
                            </p>
                            <p>
                                <span>剩余</span>
                                <span>5天</span>
                            </p>
                            <div>
                                <span>使用截止日期</span>
                                <span>2013.12.31  23.23</span>
                            </div>
                            <div class="red">
                                <span>本次兑换扣除</span>
                                <span>1天</span>
                            </div>
                            <div class="red">
                                <span>兑换后剩余</span>
                                <span>6天</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-passenger">
                    <div class="passenger">
                        <p>
                            <span>出行人</span>
                            <span>杨阳炎</span>
                        </p>
                        <p>
                            <span>电话</span>
                            <span>123456456</span>
                        </p>
                        <p>
                            <span>身份证</span>
                            <span>23874893849572103</span>
                        </p>
                    </div>
                    <div class="cards">
                        <div class="card">
                            <p>
                                <span>卡名</span>
                                <span>简途通10天券（四川、云南、贵州）</span>
                            </p>
                            <p>
                                <span>卡号</span>
                                <span>13810384571</span>
                            </p>
                            <p>
                                <span>剩余</span>
                                <span>5天</span>
                            </p>
                            <div>
                                <span>使用截止日期</span>
                                <span>2013.12.31  23.23</span>
                            </div>
                            <div class="red">
                                <span>本次兑换扣除</span>
                                <span>1天</span>
                            </div>
                            <div class="red">
                                <span>兑换后剩余</span>
                                <span>6天</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tips">
                <p>温馨提示</p>
                <p>大家福利大家发的快乐分的积分快乐的肌肤就打开了附近的风景短款礼服就打开链接付款来得急分肯德基分开了多久放假等放假代理反馈</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        if (!doc.addEventListener) return;
        recalc();
        var a = document.getElementsByTagName('a');
        for(var i = 0; i < a.length; i++){
            a[i].addEventListener('touchstart',function(){},false);
        }
        document.body.style.visibility = 'visible';
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script type="text/javascript" src="/common/js/pages.js"></script>
<script type="text/javascript" src="/common/js/base.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // 点击返回按钮
        $('header .back').click(function() {
            history.go(-1);
        });
    })
</script>
</body>
</html>
