<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订单详情</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q3/css/stpass_orderDetail.scss?__inline" media="screen" title="no title"
          charset="utf-8">
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header>
            <div class="back">后退</div>
            <div class="center">订单详情</div>
        </header>
        //支付或者绑定按钮
        <footer>
            <a class="tel" href="tel:">
                <span>联系客服</span>
            </a>
            <a class="buy" href="#">立即评价</a>
        </footer>
        <footer>
            <a class="contact" href="tel:">联系客服</a>
        </footer>
        <div class="page-content">
            <div class="order-title">
                <div class="orderNum">订单编号：20034094932</div>
                <!--status pending 待支付-->
                <!--status cancel 已取消-->
                <!--status already 已完成-->
                <!--status 其他所有状态-->
                <div class="status">已完成</div>
            </div>
            <div class="card-wrap">
                <div class="card-title"><span>简途通卡</span></div>
                <div class="cards">
                    <!--已绑定-->
                    <div class="card">
                        <div class="row">
                            <span class="label">面额</span>
                            <span class="value">10天</span>
                        </div>
                        <div class="row">
                            <span class="label">有效期</span>
                            <span class="value">365天</span>
                        </div>
                        <div class="row">
                            <span class="label">卡号</span>
                            <span class="value">2134534</span>
                        </div>
                        <div class="row">
                            <span class="label">使用范围</span>
                            <span class="value">四川、云南</span>
                        </div>
                        <div class="row">
                            <span class="label">绑定出行人</span>
                            <span class="value">黄胖子</span>
                        </div>
                        <div class="row">
                            <span class="label">绑定出行人身份证号</span>
                            <span class="value">51012919＊＊＊9483</span>
                        </div>
                        <div class="row">
                            <span class="label">绑定出行人手机号</span>
                            <span class="value">1389998203</span>
                        </div>
                        <div class="row">
                            <span class="label">绑定日期</span>
                            <span class="value">2016.03.20</span>
                        </div>
                        <div class="row">
                            <span class="label">绑定截止日期</span>
                            <span class="value">2016.07.30</span>
                        </div>
                        <div class="row">
                            <span class="label">状态</span>
                            <span class="value bound">已绑定</span>
                        </div>

                    </div>
                    <!--待绑定-->
                    <div class="card">
                        <a class="goBind"><span>立即绑定</span></a>
                        <div class="row">
                            <span class="label">面额</span>
                            <span class="value">10天</span>
                        </div>
                        <div class="row">
                            <span class="label">有效期</span>
                            <span class="value">365天</span>
                        </div>
                        <div class="row">
                            <span class="label">卡号</span>
                            <span class="value">2134534</span>
                        </div>
                        <div class="row">
                            <span class="label">绑定码</span>
                            <span class="value">GFAZ6572</span>
                        </div>
                        <div class="row">
                            <span class="label">使用范围</span>
                            <span class="value">四川、云南</span>
                        </div>
                        <div class="row">
                            <span class="label">绑定截止日期</span>
                            <span class="value">2016.07.30</span>
                        </div>
                        <div class="row">
                            <span class="label">状态</span>
                            <span class="value binding">未绑定</span>
                        </div>
                    </div>
                    <!--已过期-->
                    <div class="card">
                        <div class="row">
                            <span class="label">面额</span>
                            <span class="value">10天</span>
                        </div>
                        <div class="row">
                            <span class="label">有效期</span>
                            <span class="value">365天</span>
                        </div>
                        <div class="row">
                            <span class="label">卡号</span>
                            <span class="value">2134534</span>
                        </div>
                        <div class="row">
                            <span class="label">绑定码</span>
                            <span class="value">GFAZ6572</span>
                        </div>
                        <div class="row">
                            <span class="label">使用范围</span>
                            <span class="value">四川、云南</span>
                        </div>
                        <div class="row">
                            <span class="label">绑定截止日期</span>
                            <span class="value">2016.07.30</span>
                        </div>
                        <div class="row">
                            <span class="label">状态</span>
                            <span class="value overdue">已过期</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="check">
                <span class="label">实付款</span>
                <span class="total">¥12999.99</span>
                <span class="view">查看支付明细</span>
            </div>
        </div>
    </div>
</div>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        if (!doc.addEventListener) return;
        recalc();
        document.body.style.visibility = 'visible';
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>