<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q3/css/distributor_ranking.scss?__inline">
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header>
            <div class="back"></div>
            <div class="center">排行榜</div>
        </header>
        <ul class="tabs">
            <li class="selected"><span>收益排行榜</span></li>
            <li><span>邀请人数排行榜</span></li>
        </ul>
        <div class="page-content">
            <ul class="panels">
                <li class="panel selected">
                    <div class="total">
                        <div class="number">
                            <div class="label">排名</div>
                            <div class="value">34567</div>
                        </div>
                        <div class="amount">
                            <div class="label">收益总额</div>
                            <div class="value">34503.00</div>
                        </div>
                    </div>
                    <div class="ranking">
                        <div class="item">
                            <span class="number">第1名</span>
                            <span class="mobile">135****9830</span>
                            <span class="money">430.2</span>
                        </div>
                        <div class="item">
                            <span class="number">第2名</span>
                            <span class="mobile">135****9830</span>
                            <span class="money">430.2</span>
                        </div>
                        <div class="item">
                            <span class="number">第3名</span>
                            <span class="mobile">135****9830</span>
                            <span class="money">430.2</span>
                        </div>
                        <div class="item">
                            <span class="number">第4名</span>
                            <span class="mobile">135****9830</span>
                            <span class="money">430.2</span>
                        </div>
                        <div class="item">
                            <span class="number">第5名</span>
                            <span class="mobile">135****9830</span>
                            <span class="money">430.2</span>
                        </div>
                        <div class="item">
                            <span class="number">第6名</span>
                            <span class="mobile">135****9830</span>
                            <span class="money">430.2</span>
                        </div>
                        <div class="item">
                            <span class="number">第7名</span>
                            <span class="mobile">135****9830</span>
                            <span class="money">430.2</span>
                        </div>
                        <div class="item">
                            <span class="number">第8名</span>
                            <span class="mobile">135****9830</span>
                            <span class="money">430.2</span>
                        </div>
                        <div class="item">
                            <span class="number">第9名</span>
                            <span class="mobile">135****9830</span>
                            <span class="money">430.2</span>
                        </div>
                        <div class="item">
                            <span class="number">第10名</span>
                            <span class="mobile">135****9830</span>
                            <span class="money">430.2</span>
                        </div>
                        <div class="item">
                            <span class="number">第11名</span>
                            <span class="mobile">135****9830</span>
                            <span class="money">430.2</span>
                        </div>
                        <div class="item">
                            <span class="number">第12名</span>
                            <span class="mobile">135****9830</span>
                            <span class="money">430.2</span>
                        </div>
                    </div>
                </li>
                <li class="panel">
                    <div class="total">
                        <div class="number">
                            <div class="label">排名</div>
                            <div class="value">34567</div>
                        </div>
                        <div class="amount">
                            <div class="label">邀请人数</div>
                            <div class="value">345</div>
                        </div>
                    </div>
                    <div class="ranking">
                        <div class="item">
                            <span class="number">第1名</span>
                            <span class="mobile">135****9830</span>
                            <span class="money">430.2</span>
                        </div>
                        <div class="item">
                            <span class="number">第2名</span>
                            <span class="mobile">135****9830</span>
                            <span class="money">430.2</span>
                        </div>
                        <div class="item">
                            <span class="number">第3名</span>
                            <span class="mobile">135****9830</span>
                            <span class="money">430.2</span>
                        </div>
                        <div class="item">
                            <span class="number">第4名</span>
                            <span class="mobile">135****9830</span>
                            <span class="money">430.2</span>
                        </div>
                        <div class="item">
                            <span class="number">第5名</span>
                            <span class="mobile">135****9830</span>
                            <span class="money">430.2</span>
                        </div>
                        <div class="item">
                            <span class="number">第6名</span>
                            <span class="mobile">135****9830</span>
                            <span class="money">430.2</span>
                        </div>
                        <div class="item">
                            <span class="number">第7名</span>
                            <span class="mobile">135****9830</span>
                            <span class="money">430.2</span>
                        </div>
                        <div class="item">
                            <span class="number">第8名</span>
                            <span class="mobile">135****9830</span>
                            <span class="money">430.2</span>
                        </div>
                        <div class="item">
                            <span class="number">第9名</span>
                            <span class="mobile">135****9830</span>
                            <span class="money">430.2</span>
                        </div>
                        <div class="item">
                            <span class="number">第10名</span>
                            <span class="mobile">135****9830</span>
                            <span class="money">430.2</span>
                        </div>
                        <div class="item">
                            <span class="number">第11名</span>
                            <span class="mobile">135****9830</span>
                            <span class="money">430.2</span>
                        </div>
                        <div class="item">
                            <span class="number">第12名</span>
                            <span class="mobile">135****9830</span>
                            <span class="money">430.2</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
        var a = document.getElementsByTagName('a');
        for (var i = 0; i < a.length; i++) {
            a[i].addEventListener('touchstart', function () {
            }, false);
        }
    })(document, window);
    $(document).ready(function () {
        // 点击返回按钮
        $('header .back').click(function (e) {
            history.go(-1);
        });
        $('ul.tabs li').on('tap', function (e) {
            var $this = $(this);
            $this.siblings().removeClass('selected');
            $this.addClass('selected');
            $('ul.panels li').removeClass('selected').eq($this.index()).addClass('selected');
        });
    });
</script>
</body>
</html>