<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q3/css/distributor_checkDetail.scss?__inline">
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header>
            <div class="back"></div>
            <div class="center">查看明细</div>
        </header>
        <ul class="tabs">
            <li class="selected"><span>已入账</span></li>
            <li><span>待入账</span></li>
            <li><span>提现记录</span></li>
        </ul>
        <div class="page-content">
            <ul class="panels">
                <li class="panel selected">
                    <div class="total">
                        <div class="label">已入账收入合计</div>
                        <div class="price">34567.00</div>
                    </div>
                    <div class="records">
                        <div class="record">
                            <div class="title">
                                <div class="mobile">184****4345</div>
                                <div class="price">10元</div>
                            </div>
                            <div class="detail">于2016.01.24&nbsp;&nbsp;&nbsp;&nbsp;3:58取消订单</div>
                        </div>
                        <div class="record">
                            <div class="title">
                                <div class="mobile">184****4345</div>
                                <div class="price">10元</div>
                            </div>
                            <div class="detail">于2016.01.24&nbsp;&nbsp;&nbsp;&nbsp;3:58取消订单</div>
                        </div>
                        <div class="record">
                            <div class="title">
                                <div class="mobile">184****4345</div>
                                <div class="price">10元</div>
                            </div>
                            <div class="detail">于2016.01.24&nbsp;&nbsp;&nbsp;&nbsp;3:58取消订单</div>
                        </div>
                        <div class="record">
                            <div class="title">
                                <div class="mobile">184****4345</div>
                                <div class="price">10元</div>
                            </div>
                            <div class="detail">于2016.01.24&nbsp;&nbsp;&nbsp;&nbsp;3:58取消订单</div>
                        </div>
                        <div class="record">
                            <div class="title">
                                <div class="mobile">184****4345</div>
                                <div class="price">10元</div>
                            </div>
                            <div class="detail">于2016.01.24&nbsp;&nbsp;&nbsp;&nbsp;3:58取消订单</div>
                        </div>
                        <div class="record">
                            <div class="title">
                                <div class="mobile">184****4345</div>
                                <div class="price">10元</div>
                            </div>
                            <div class="detail">于2016.01.24&nbsp;&nbsp;&nbsp;&nbsp;3:58取消订单</div>
                        </div>
                    </div>
                </li>
                <li class="panel">
                    <div class="top-header">
                        <div class="total-price">
                            <div class="label">已入账收入合计</div>
                            <div class="price">34567.00</div>
                        </div>
                        <a class="cancelOrder" href="">查看已取消订单</a>
                    </div>
                    <div class="records">
                        <div class="record">
                            <div class="title">
                                <div class="mobile">184****4345</div>
                                <div class="price">10元</div>
                            </div>
                            <div class="detail">于2016.01.24&nbsp;&nbsp;&nbsp;&nbsp;3:58取消订单</div>
                        </div>
                        <div class="record">
                            <div class="title">
                                <div class="mobile">184****4345</div>
                                <div class="price">10元</div>
                            </div>
                            <div class="detail">于2016.01.24&nbsp;&nbsp;&nbsp;&nbsp;3:58取消订单</div>
                        </div>
                        <div class="record">
                            <div class="title">
                                <div class="mobile">184****4345</div>
                                <div class="price">10元</div>
                            </div>
                            <div class="detail">于2016.01.24&nbsp;&nbsp;&nbsp;&nbsp;3:58取消订单</div>
                        </div>
                        <div class="record">
                            <div class="title">
                                <div class="mobile">184****4345</div>
                                <div class="price">10元</div>
                            </div>
                            <div class="detail">于2016.01.24&nbsp;&nbsp;&nbsp;&nbsp;3:58取消订单</div>
                        </div>
                        <div class="record">
                            <div class="title">
                                <div class="mobile">184****4345</div>
                                <div class="price">10元</div>
                            </div>
                            <div class="detail">于2016.01.24&nbsp;&nbsp;&nbsp;&nbsp;3:58取消订单</div>
                        </div>
                        <div class="record">
                            <div class="title">
                                <div class="mobile">184****4345</div>
                                <div class="price">10元</div>
                            </div>
                            <div class="detail">于2016.01.24&nbsp;&nbsp;&nbsp;&nbsp;3:58取消订单</div>
                        </div>
                    </div>
                </li>
                <li class="panel">
                    <div class="marquee-wrap"><div class="marquee"><span class="tip">提现进度若有疑问，请联系客服系统：400-800-3351</span></div></div>
                    <div class="withdrawals">
                        <div class="withdrawal">
                            <div class="title">
                                <div class="message">申请提现10元</div>
                                <div class="status refuse">已拒绝</div>
                            </div>
                            <div class="detail">2016.01.24&nbsp;&nbsp;&nbsp;&nbsp;13:58</div>
                        </div>
                        <div class="withdrawal">
                            <div class="title">
                                <div class="message">申请提现10元</div>
                                <div class="status pending">待审批</div>
                            </div>
                            <div class="detail">2016.01.24&nbsp;&nbsp;&nbsp;&nbsp;13:58</div>
                        </div>
                        <div class="withdrawal">
                            <div class="title">
                                <div class="message">申请提现10元</div>
                                <div class="status already">已转入</div>
                            </div>
                            <div class="detail">2016.01.24&nbsp;&nbsp;&nbsp;&nbsp;13:58</div>
                        </div>
                        <div class="withdrawal">
                            <div class="title">
                                <div class="message">申请提现10元</div>
                                <div class="status already">已转入</div>
                            </div>
                            <div class="detail">2016.01.24&nbsp;&nbsp;&nbsp;&nbsp;13:58</div>
                        </div>
                        <div class="withdrawal">
                            <div class="title">
                                <div class="message">申请提现10元</div>
                                <div class="status already">已转入</div>
                            </div>
                            <div class="detail">2016.01.24&nbsp;&nbsp;&nbsp;&nbsp;13:58</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
        var a = document.getElementsByTagName('a');
        for (var i = 0; i < a.length; i++) {
            a[i].addEventListener('touchstart', function () {
            }, false);
        }
    })(document, window);
    $(document).ready(function () {
        // 点击返回按钮
        $('header .back').click(function (e) {
            history.go(-1);
        });
        var timer;
        $('ul.tabs li').on('tap', function (e) {
            var $this = $(this);
            $this.siblings().removeClass('selected');
            $this.addClass('selected');
            $('ul.panels li').removeClass('selected').eq($this.index()).addClass('selected');
            clearInterval(timer);
            if($this.index()==2){
                var $marquee = $('.marquee-wrap .marquee'),$tip = $marquee.find('span.tip');
                var $clone = $tip.clone(),$first,width = $tip.width();
                $marquee.width(width*2).append($clone);
                $first = $('.marquee-wrap .marquee span.tip').eq(0).css('margin-left', -width + 'px');
                timer = setInterval(function(){
                    $first.css('margin-left', 0);
                    $marquee.append($first);
                    $first = $('.marquee-wrap .marquee span.tip').eq(0).css('margin-left', -width + 'px');
                }, 3500);
            }
        });
    });
</script>
</body>
</html>