<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q3/css/bookingBus.scss?__inline" media="screen" title="no title" charset="utf-8">
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header>
            <div class="back"></div>
            <div class="center">填写信息</div>
        </header>
        <div class="detail-cover"></div>
        <footer>
            <div class="pay-info-detail">
                <p>
                    单价 <span>$2333</span> x5
                </p>
                <p>
                    优惠金额 <span>$2333</span>
                </p>
            </div>
            <div class="pay-info">¥233</div>
            <div class="pay-btn">去支付</div>
        </footer>
        <div class="page-content">
            <div class="infos">
                <h5>往返票 成都都江堰青城山单程巴士江堰青城山单程巴士</h5>
                <div class="bottom-info">
                    <div class="shuttle single">
                        <i></i>
                        往返车票
                    </div>
                    <div class="days">
                        <i></i>
                        1日行程
                    </div>
                    <div class="times">
                        <i></i>
                        07:00发车
                    </div>
                </div>
                <div class="cutline"></div>
                <p>乘车日期 <span>2016.07.12</span></p>
            </div>

            <div class="select-customer">
                <p>选择乘车人</p>
                <div class="lines"></div>
                <div class="turnCustomers turnTo" href="#customerList">去选择</div>
            </div>
            <div class="passengers">
                <div class="passenger">
                    <i class="name"></i>
                    <input name="contactName" type="text" value="杨明昆"/>
                    <div class="delete-customer"></div>
                </div>
            </div>

            <div class="contact-infos">
                <div class="title">
                    <p>联系人</p>
                    <div class="lines"></div>
                    <div class="turnCustomers"></div>
                </div>
                <div class="content">
                    <div class="input-group">
                        <i class="name"></i>
                        <input name="contactName" type="text" placeholder="姓名"/>
                    </div>
                    <div class="input-group">
                        <i class="mobile"></i>
                        <input name="contactMobile" type="text" placeholder="手机号"/>
                    </div>
                </div>
            </div>

            <div class="select-coupon">
                <p>选择优惠劵</p>
                <div class="lines"></div>
                <div class="turnCustomers">去选择</div>
            </div>

            <div class="service">
                点击去支付表示已阅读 <a href="">《简途订购协议》</a>
            </div>
        </div>
    </div>
    <div class="page" id="customerList">
        <header>
            <div class="back"></div>
            <div class="center">填写信息</div>
        </header>
        <div class="confirm-btn">
            确&nbsp;&nbsp;定
        </div>
        <div class="page-content">
            <div class="add-customer turnTo" href="#addCustomer">
                <i>
                    <img src="/master-Q3/images/icon/add_red_icon@2x.png" alt="">
                </i>
                新增常用旅客
            </div>

            <div class="customers">
                <div class="customer">
                    <div class="checkbox"></div>
                    <div class="information">
                        <h5>高输出</h5>
                        <p>身份证  528394775937392</p>
                    </div>
                </div>
                <div class="customer">
                    <div class="checkbox"></div>
                    <div class="information">
                        <h5>高输出</h5>
                        <p>身份证  528394775937392</p>
                    </div>
                </div>
                <div class="customer">
                    <div class="checkbox"></div>
                    <div class="information">
                        <h5>高输出</h5>
                        <p>身份证  528394775937392</p>
                    </div>
                </div>
                <div class="customer">
                    <div class="checkbox"></div>
                    <div class="information">
                        <h5>高输出</h5>
                        <p>身份证  528394775937392</p>
                    </div>
                </div>
                <div class="customer">
                    <div class="checkbox"></div>
                    <div class="information">
                        <h5>高输出</h5>
                        <p>身份证  528394775937392</p>
                    </div>
                </div>
                <div class="customer">
                    <div class="checkbox"></div>
                    <div class="information">
                        <h5>高输出</h5>
                        <p>身份证  528394775937392</p>
                    </div>
                </div>
                <div class="customer">
                    <div class="checkbox"></div>
                    <div class="information">
                        <h5>高输出</h5>
                        <p>身份证  528394775937392</p>
                    </div>
                </div>
                <div class="customer">
                    <div class="checkbox"></div>
                    <div class="information">
                        <h5>高输出</h5>
                        <p>身份证  528394775937392</p>
                    </div>
                </div>
                <div class="customer">
                    <div class="checkbox"></div>
                    <div class="information">
                        <h5>高输出</h5>
                        <p>身份证  528394775937392</p>
                    </div>
                </div>
                <div class="customer">
                    <div class="checkbox selected"></div>
                    <div class="information">
                        <h5>高输出</h5>
                        <p>身份证  528394775937392</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page" id="addCustomer">
        <header>
            <div class="back"></div>
            <div class="center">添加常用旅客</div>
        </header>
        <div class="idType-cover"></div>
        <div class="idType-wrapper">
            <div class="idTypes">
                <ul>
                    <li data-value="id">身份证</li>
                    <li data-value="">港澳通行证</li>
                    <li data-value="passport">护照</li>
                    <li data-value="">回乡证</li>
                </ul>
            </div>
            <div class="cancel-btn">
                取消
            </div>
        </div>
        <div class="page-content">
            <div class="input-wrapper">
                <div class="input-group">
                    <i class="name"></i>
                    <input name="name" type="text" placeholder="姓名"/>
                </div>
                <div class="input-group">
                    <i class="mobile"></i>
                    <input name="mobile" type="text" placeholder="电话"/>
                </div>
                <div class="input-group dropdown">
                    <i class="idType"></i>
                    <input name="displayIdType" readonly="readonly" type="text" placeholder="证件类型"/>
                    <input name="idType"  type="hidden"/>
                </div>
                <div class="input-group">
                    <i class="idNo"></i>
                    <input name="idNo" type="text" placeholder="证件号码"/>
                </div>
            </div>
            <div class="add-confirm-btn">
                确&nbsp;&nbsp;定
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        if (!doc.addEventListener) return;
        recalc();
        var a = document.getElementsByTagName('a');
        for(var i = 0; i < a.length; i++){
            a[i].addEventListener('touchstart',function(){},false);
        }
        document.body.style.visibility = 'visible';
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script type="text/javascript" src="/common/js/pages.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // 点击返回按钮
        $('header .back').click(function() {
            history.go(-1);
        });
        // 初始化page
        $('.page-group').pageInit({
            router : '.turnTo' ,//router的className
            routerFun : function(){}
        });
        // 查看支付详情
        $('footer .pay-info').tap(function() {
            var $this = $(this);
            if(!$this.hasClass('selected')) {
                $this.addClass('selected');
                $('.detail-cover').show();
                $('.pay-info-detail').addClass('show');
            } else {
                $this.removeClass('selected');
                $('.pay-info-detail').removeClass('show');
                setTimeout(function() {
                    $('.detail-cover').hide();
                },150)
            }
        });
        /* ============================================
         添加编辑旅客页面操作 START
         ============================================== */
        $('.dropdown input').click(function(e) {
            $('.idType-cover').show();
            $('.idType-wrapper').addClass('show');
        });
        $('.cancel-btn').tap(function() {
            $('.idType-cover').hide();
            $('.idType-wrapper').removeClass('show');
        });
        $('.idType-wrapper li').tap(function() {
            var $this = $(this);
            $this.addClass('selected');
            $('input[name=displayIdType]').val($this.text());
            $('input[name=idType]').val($this.attr('data-value'));
            $('.idType-cover').hide();
            $('.idType-wrapper').removeClass('show');
        });
        /* ============================================
         添加编辑旅客页面操作 END
         ============================================== */

        /* ============================================
         旅客列表页面操作 START
         ============================================== */
        $('.customers').on('click','.checkbox',function() {
            $('')
        });
        /* ============================================
         旅客列表页面操作 END
         ============================================== */
    })
</script>
</body>
</html>
