<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q3/css/calendar.scss?__inline" media="screen" title="no title" charset="utf-8">
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header>
            <div class="back"></div>
            <div class="center">选择日期</div>
        </header>
        <div class="pay-detail">
            <div class="total">
                <div class="price"></div>
                <div class="count"></div>
            </div>
            <div class="next">下一步</div>
        </div>
        <div class="page-content">
            <div class="calendar-wrapper">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        if (!doc.addEventListener) return;
        recalc();
        var a = document.getElementsByTagName('a');
        for(var i = 0; i < a.length; i++){
            a[i].addEventListener('touchstart',function(){},false);
        }
        document.body.style.visibility = 'visible';
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script type="text/javascript" src="/common/js/alert.js"></script>
<script type="text/javascript" src="/common/js/calendar.Q3.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // 点击返回按钮
        $('.search-bar .back').click(function() {
            history.go(-1);
        });
        $.calendar({
            weekNames: ['日', '一', '二', '三', '四', '五', '六'],
            $container:$('.calendar-wrapper'),
            date : '2015-12-28',
            month : '3',
            id : '1',
            type : 'hotel',
            selectedFun : function($selectedDate) {
                normalContrl($selectedDate);
            }
        });
        // 普通订购选择价格日历后的操作
        var normalContrl = function($selectedDate) {

            var stock = $selectedDate.attr('data-stock');
            var priceStr = $selectedDate.find('.price').text();
            $('.pay-detail .total').find('.price').text(priceStr);
            $('.pay-detail .total').find('.count').text('剩余'+stock);
        }
    })
</script>
</body>
</html>
