<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/master-Q3/css/profile_accountInfo.scss?__inline">
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header>
            <div class="back"></div>
            <div class="center">账户信息</div>
        </header>
        <div class="page-content">
            <div class="header">
                <span class="label">头像</span>
                <img class="value" data-src="http://images.simpletour.com/simpletour/images/wechat_home/cc25479b9e2f87ea81e8fb1eb76cacde.jpg!middle320" src="/master-Q3/images/defalut-img@588250.png" alt=""/>
            </div>
            <div class="content">
                <a class="next turnTo" href="#modifyInfo-depart">
                    <span class="label">昵称</span>
                    <span class="value">简途大牛</span>
                </a>
                <a>
                    <span class="label">手机</span>
                    <span class="value">138 3449 0987</span>
                </a>
                <a class="next">
                    <span class="label">邮箱</span>
                    <span class="value">wz@simpletour.com</span>
                </a>
                <a class="next">
                    <span class="label">出生日期</span>
                    <span class="value">1995.12.05</span>
                </a>
                <a class="next">
                    <span class="label">性别</span>
                    <span class="value">女</span>
                </a>
                <a class="next">
                    <span class="label">常住地</span>
                    <span class="value">四川省成都市</span>
                </a>
            </div>
            <a class="logout">退出登录</a>
        </div>
    </div>
    <div class="page" id="modifyInfo-depart">
        <header>
            <div class="back"></div>
            <div class="center">修改昵称</div>
        </header>
        <div class="page-content">
            <form>
                <input type="text"/>
                <div class="demand">以中文或英文字幕开头，限4-16个字符，一个汉字为两个字符</div>
                <a class="save">保存</a>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script type="text/javascript" src="/common/js/pages.js"></script>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
        var a = document.getElementsByTagName('a');
        for (var i = 0; i < a.length; i++) {
            a[i].addEventListener('touchstart', function () {
            }, false);
        }
    })(document, window);
    $(document).ready(function () {
        // 点击返回按钮
        $('header .back').click(function (e) {
            history.go(-1);
        });
        // 初始化page
        $('.page-group').pageInit({
            router : '.turnTo' ,//router的className
            routerFun : function(){}
        });
    });
</script>
</body>
</html>